.home-hidden-settings {
  .gui-settings-flat-button &.popup {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 180px;
    left: -24px;
    transform: none;
  }
  &-item {
    padding: 4px 12px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 8px;

    .mdi-eye-off {
      display: none;
    }
    &:hover {
      background: #8882;
    }
    &.home-hidden {
      opacity: 0.5;
      .mdi-eye {
        display: none;
      }
      .mdi-eye-off {
        display: inline-flex;
      }
    }
  }
}
