.custom-navbar {
  .activity-popup {
    width: 380px;
    font-size: 9pt;
  }
  .activity-tabs {
    display: flex;
    padding: 12px 12px 16px 18px;
    justify-content: space-between;
    align-items: center;
  }
  .activity-tabs .view-all,
  .subscriptions-tabs .view-all {
    background-color: #8882;
    padding: 4px 6px 4px 10px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    align-items: center;
  }
  .activity-tabs .view-all i {
    font-size: 14pt;
    margin-left: 4px;
  }
  .subscriptions-tabs .view-all i {
    font-size: 12pt;
    margin-left: 4px;
  }
  .activity-tabs .view-all:hover,
  .subscriptions-tabs .view-all:hover {
    background-color: #8884;
  }
  .activity-tab {
    position: relative;
    cursor: pointer;
    .tab-name {
      line-height: normal;
      opacity: 0.5;
    }
    &.selected {
      opacity: 1;
      transform: scale(1.2);
      .tab-name {
        opacity: 1;
        font-weight: bold;
      }
    }
    &[data-count]::before {
      content: attr(data-count);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      font-size: 10px;
      font-weight: normal;
      line-height: 1;
      background-color: #8884;
      padding: 2px 4px;
      border-radius: 10px;
      white-space: nowrap;
    }
  }
  .activity-tab::after,
  .subscriptions .tab::after {
    content: "";
    width: calc(80%);
    height: 2px;
    border-radius: 1px;
    position: absolute;
    background-color: var(--theme-color);
    left: 10%;
    bottom: -4px;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
  }
  .activity-tab.selected::after,
  .subscriptions .tab.selected::after {
    transform: scaleX(1);
  }
  .activity-popup-content::-webkit-scrollbar,
  .subscriptions .content::-webkit-scrollbar {
    width: 0px !important;
  }
  .activity-popup-content {
    overflow: auto;
    overscroll-behavior: contain;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scrollbar-width: none !important;
    .view-more {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      left: 0;
      justify-content: center;
      padding: 6px 12px;
      background-color: #fffe;
      transform: translateY(-6px);
      box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
      cursor: pointer;
      height: 28px;
      border-radius: 14px;
      box-sizing: border-box;
      z-index: 2;
      &:hover {
        background-color: #fff;
      }
      .mdi {
        line-height: 1;
        margin-left: 8px;
        font-size: 12pt;
      }
      body.dark & {
        background-color: #333e;
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  .activity-popup-content .loading,
  .bangumi-subscriptions .loading,
  .bangumi-subscriptions .empty {
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activity-popup-content .loading .mdi,
  .bangumi-subscriptions .loading .mdi {
    line-height: 1;
    margin-right: 6px;
  }

  .video-activity {
    padding: 0 12px;
    // display: flex;
    // justify-content: space-between;
    align-self: stretch;
    display: grid;
    grid-template:
      "left right" auto
      "trigger trigger" auto / 1fr 1fr;
    &.center {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-column {
      &.left {
        grid-area: left;
        justify-self: start;
      }
      &.right {
        grid-area: right;
        justify-self: end;
      }
    }
    &-card {
      --card-width: 172px;
      width: var(--card-width);
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
      margin-bottom: 12px;
      break-inside: avoid;
      flex-shrink: 0;
      .cover {
        width: var(--card-width);
        background-color: #8884;
        height: calc(var(--card-width) / 16 * 10);
        object-fit: cover;
        display: block;
        min-height: 100px;
      }
      .title {
        font-size: 10pt;
        font-weight: bold;
        margin: 8px 8px 2px 8px;
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        max-height: 3em;
        word-break: break-all;
      }
      .up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6px 8px;
        border-radius: 13px;
        padding: 2px;
        &:hover {
          background-color: #8882;
        }
        .face {
          width: 24px;
          border-radius: 50%;
          background-color: #8884;
        }
        .name {
          padding: 0 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .title:hover,
      .up:hover .name {
        color: var(--theme-color);
      }
      .cover-container {
        position: relative;
      }
      .time,
      .watchlater {
        position: absolute;
        bottom: 4px;
        display: flex;
        align-items: center;
        background-color: #000a;
        color: #fff;
        padding: 0 8px;
        height: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 0;
      }
      .time {
        left: 4px;
      }
      .watchlater {
        padding: 0 8px 0 3px;
        right: 4px;
        font-size: 11px;
        .mdi {
          line-height: 1;
          margin-right: 4px;
          font-size: 16px;
        }
      }
      &:hover {
        .time,
        .watchlater {
          opacity: 1;
        }
      }
    }
  }
  &.dark .video-activity-card,
  &.dark .activity-popup-content .view-more,
  &.dark .column-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0px;
    background-color: #2d2d2d;
  }

  .bangumi-activity {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    width: 100%;
    &.center {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .bangumi-card {
    --cover-width: 100px;
    margin: 0 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px 0px;
    display: grid;
    grid-template-areas: "cover epTitle" "cover title";
    grid-template-columns: var(--cover-width) 1fr;
    grid-template-rows: 6fr 5fr;
    position: relative;
    flex-shrink: 0;
    .up {
      grid-area: title;
      display: flex;
      align-items: center;
      padding: 0 12px;
      align-self: start;
      overflow: hidden;
      .cover {
        height: 18px;
        border-radius: 50%;
      }
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 6px;
        line-height: normal;
      }
    }
    .ep-title {
      grid-area: epTitle;
      font-size: 11pt;
      font-weight: bold;
      padding: 0 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-self: center;
      color: inherit;
      line-height: normal;
    }
    &:hover .ep-title {
      color: var(--theme-color);
    }
    .ep-cover {
      width: var(--cover-width);
      min-height: 62.5px;
      background-color: #8884;
      grid-area: cover;
    }
  }
  &.dark .bangumi-card,
  &.dark .live-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px 0px;
    background-color: #2d2d2d;
  }

  .column-activity {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 12px;
    &.center {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .column-card {
    width: 356px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
    position: relative;
    flex-shrink: 0;

    .up {
      position: absolute;
      left: 8px;
      bottom: 6px;
      padding: 2px;
      display: flex;
      align-items: center;
      background-color: #000a;
      border-radius: 14px;
      height: 28px;
      box-sizing: border-box;
      .name {
        margin: 0 6px;
        color: #fff;
      }
    }
    .face {
      border-radius: 50%;
      height: 24px;
    }
    .title {
      padding: 10px 10px 0;
      font-size: 11pt;
      font-weight: bold;
      color: inherit;
      line-height: normal;
    }
    &:hover .title {
      color: var(--theme-color);
    }
    .description {
      margin: 8px 10px;
      max-height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      line-height: 1.5;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .covers {
      position: relative;
      display: flex;
    }
    .cover {
      flex: 1;
      object-fit: cover;
    }
  }

  .live-activity {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding-top: 4px;
    &.center {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .live-card {
    margin: 0 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px 0px;
    display: grid;
    grid-template-areas: "face title" "face name";
    grid-template-columns: 48px 1fr;
    grid-template-rows: 6fr 5fr;
    height: 52px;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 2px;
    width: auto;
    flex-shrink: 0;
    .face {
      grid-area: face;
      border-radius: 50%;
      height: 48px;
    }
    .live-title {
      grid-area: title;
      font-size: 11pt;
      font-weight: bold;
      align-self: center;
      padding: 0 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: inherit;
      line-height: normal;
    }
    &:hover .live-title {
      color: var(--theme-color);
    }
    .name {
      grid-area: name;
      align-self: start;
      padding: 0 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: normal;
    }
  }

  .video-activity,
  .bangumi-activity,
  .column-activity,
  .live-activity {
    .trigger {
      text-align: center;
      grid-area: trigger;
      align-self: stretch;
      margin-bottom: 12px;
    }
  }

  .activity-content-enter-active,
  .activity-content-leave-active,
  .subscriptions-content-enter-active,
  .subscriptions-content-leave-active {
    transition: all 0.2s ease-out;
  }
  .activity-content-enter,
  .activity-content-leave-to,
  .subscriptions-content-enter,
  .subscriptions-content-leave-to {
    opacity: 0;
    transform: translateY(12px);
  }
  .video-activity-card.new .cover-container::before,
  .bangumi-card.new::before,
  .column-card.new::before {
    content: "NEW";
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: var(--theme-color);
    color: var(--foreground-color);
    padding: 0 6px;
    height: 18px;
    border-radius: 9px;
    font-weight: 700;
    font-size: 11px;
    line-height: 18px;
    z-index: 1;
  }
  .column-card.new::before {
    left: unset;
    right: 8px;
    top: 8px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 8px;
  }
}
