@import "../../style/common";
.live-up-list {
  max-height: calc(100vh - 380px);
  overflow: auto;
  @include no-scrollbar();
  .live-detail[data-live-title] {
    color: black;
    body.dark & {
      color: #eee;
    }
    .up-name {
      font-size: 13px !important;
      opacity: 0.6;
    }
    &::before {
      content: attr(data-live-title);
      color: black;
      line-height: 1.5;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      body.dark & {
        color: #eee;
      }
    }
  }
}
