> 1%
last 2 versions
not dead
chrome > 105
edge > 105
firefox > 127
safari > 15.4
not and_chr > 0
not and_ff > 0
not and_qq > 0
not and_uc > 0
not android > 0
not baidu > 0
not ios_saf > 0
not kaios > 0
not op_mob > 0
not op_mini all
not samsung > 0
not ie > 0