.gui-settings-icon-panel
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
}
.gui-settings
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translateX(-12px);
}
.gui-settings,
.gui-settings-header .gui-settings-close path,
.gui-settings svg path
{
    transition: all 0.2s;
}
.gui-settings svg path
{
    fill: #8884;
    opacity: 0.5;
    transform-origin: center !important;
}
.gui-settings:hover
{
    transform: translateX(0px);
}
.gui-settings:hover svg path
{
    opacity: 1;
    transform: rotate(120deg);
}
.gui-settings-panel
{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
}
.gui-settings-box
{
    width: 400px;
    height: 90%;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 3px 20px 2px #0004;
    display: flex;
    flex-direction: column;
}
.gui-settings-footer,
.gui-settings-header
{
    flex-grow: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.gui-settings-footer
{
    height: 80px;
    justify-content: center;
}
.gui-settings-content
{
    flex-grow: 1;
    overflow: auto;
}
.gui-settings-content ul li
{
    font-size: 16px;
    margin: 16px 0;
    display: flex;
}
.gui-settings-content ul li.indent-0
{
    margin-left: 16px;
}
.gui-settings-content ul li.indent-1
{
    margin-left: 80px;
}
.gui-settings-content ul li.indent-2
{
    margin-left: 144px;
}
.gui-settings-title
{
    flex-grow: 1;
    font-size: 16px;
    margin: 16px;
}
.gui-settings-close
{
    width: 24px;
    height: 24px;
    padding: 16px;
}
.gui-settings-header .gui-settings-close
{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.gui-settings-header .gui-settings-close:hover path
{
    fill: $customStyleColor !important;
}
.gui-settings-close path
{
    fill: #222;
}
.gui-settings-ok path
{
    fill: transparent;
}
.gui-settings-textbox-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.gui-settings-textbox-container span
{
    margin: 0 16px;
    transition: all 0.2s;
}
.gui-settings-textbox-container input
{
    border-radius: 4px;
    border: none;
    height: 100%;
    max-width: 70px;
    padding: 2px 8px;
    background: #8884;
    transition: all 0.2s;
}
.gui-settings-textbox-container input:disabled,
.gui-settings-textbox-container.disabled span
{
    opacity: 0.5;
}
.gui-settings-checkbox-container
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    -webkit-tap-highlight-color: transparent;
}
.gui-settings-checkbox-container input
{
    opacity: 0;
    width: 0;
    transition: all 0.2s;
}
.gui-settings-checkbox-container svg
{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 0.2s;
}
.gui-settings-checkbox-container svg path
{
    transform: scale(0.8);
    transform-origin: center;
}
.gui-settings-checkbox-container input ~ svg
{
    background-color: #8884;
}
.gui-settings-checkbox-container input:checked ~ svg
{
    background-color: $customStyleColor;
}
.gui-settings-checkbox-container input:checked ~ svg path
{
    fill: $foreground;
}
.gui-settings-checkbox-container input:disabled ~ svg,
.gui-settings-checkbox-container input:disabled ~ span
{
    opacity: 0.5;
}
button.save
{
    padding: 8px 32px;
    border: none;
    background: $customStyleColor;
    color: $foreground;
    border-radius: 4px;
    font-size: 16px;
    /*box-shadow: 0px 1px 15px 1px $customStyleColor80;*/
    cursor: pointer;
    transition: all 0.2s;
    -webkit-tap-highlight-color: transparent;
}
button.save:hover
{
    /*box-shadow: 0px 3px 20px 3px $customStyleColor80;*/
    transform: translateY(-2px);
}
button.save:focus
{
    outline: none;
}
.gui-settings-footer svg
{
    width: 0;
    height: 30px;
    margin-left: 0;
    transition: all 0.2s;
}
.gui-settings-footer svg path
{
    fill: $customStyleColor;
}
