.bili-wrapper
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50px !important;
}
.bili-header-m>.nav-menu,
.link-navbar,
.link-navbar .main-ctnr .nav-items-ctnr,
.nav-header-wrapper
{
    background: $customStyleColor !important;
}
.bili-header-m>.nav-menu,
.nav-header-wrapper,
.link-navbar-ctnr
{
    box-shadow: $customStyleColor70 0px 2px 10px 1px !important;
}
div.stardust-player
{
    background: #fff !important;
}
/*div.player
{
    width: 835.5px !important;
}*/
.nav-mask,
.nav-header-wrapper>.nav-header
{
    background-color: transparent !important;
}
.nav-mask,
.link-navbar
{
    box-shadow: none !important;
}

.nav-con
{
    flex-grow: 10 !important;
    flex-shrink: 0 !important;
}

.nav-con.fl
{
    margin-left: -2em !important;
}

.bili-header-m .nav-menu .nav-con .nav-item .t,
.link-navbar .main-ctnr .nav-logo,
.link-navbar .nav-item,
.shortcuts-ctnr,
.link-navbar .nav-item:hover,
.link-navbar .main-ctnr .nav-switcher,
.my-link-btn,
.link-navbar .nav-item.selected .label,
.link-navbar .nav-item .icon-font,
.nav-header-wrapper .nav-header .nav-header-mainsite,
 .nav-header-wrapper .nav-header .order-center
{
    color: $foregroundd !important;
}

li.nav-item:hover,
.link-navbar .nav-item:hover,
.shortcuts-ctnr .shortcut-item:hover,
.my-link-btn:hover,
.publish-btn:hover
{
    background-color: hsla(0,0%,$brightness,.2) !important;
}

li.nav-item.home:hover,
.link-navbar .nav-item:hover .nav-link .label,
.shortcuts-ctnr .shortcut-item .label-wrapper .text:hover,
.publish-btn:hover::after,
.my-link-btn .label:hover,
.bilibili-player-video-control-mask
{
    background: transparent !important;
}

.vip-m
{
    background: white !important;
}

a.t>i.bili-icon-logo,
a.t>i.bili-icon
{
    width: 50px !important;
    left: -60px !important;
    top: 0px !important;
    height: 50px !important;
    background-position-y: 12px !important;
}
a.t>i.bili-icon-logo,
a.t>i.bili-icon,
.main-ctnr .nav-logo:before,
.link-navbar .nav-item:first-child::before,
.nav-header-wrapper .nav-header .nav-header-logo,
.nav-header-wrapper .nav-header .nav-header-tv-icon,
.nav-header-wrapper .nav-header .order-icon
{
    filter: brightness(0) $filterInvert !important;
    opacity: 0.81 !important;
}

#entryOld,
.nav-search-submit,
.b-icon-app,
.title-icon,
.blp-red-tip::after
{
    display: none !important;
}

.i-face>.face
{
    margin-top: -1px !important;
}
.i-face>.face,
.user-panel-ctnr .msg-hinter
{
    border: 1.5px solid #fff3 !important;
}
div.up-load
{
    margin-left: 9px !important;
    height: 32px !important;
    order: 4 !important;
    flex-grow: 0;
    flex-shrink: 0;
}
.publish-btn
{
    height: 40px !important;
    line-height: 40px !important;
    background: $customStyleColor !important;
    border: 1px solid $foregroundd !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    top: calc(50% - 20px) !important;
    transition: all 0.2s !important;
}
.publish-panel
{
    margin-top: 7px !important;
}
.my-link-btn
{
    border-radius: 0 !important;
}
.slot-ctnr a
{
    color: #222 !important;
}
.u-link
{
    background: transparent !important;
    color: $foregroundd !important;
    border-radius: 4px !important;
    line-height: 30px !important;
    height: 30px !important;
    transition: background-color .2s !important;
}
.u-link,
.shortcuts-ctnr .shortcut-item .hinter,
.shortcuts-ctnr .shortcut-item .num-hinter
{
    border: 1px solid $foregroundb !important;
}

.u-link:hover
{
    opacity: 1 !important;
    background-color: hsla(0,0%,$brightness,.2) !important;
}

.stardust-video .nav-con .nav-search
{
    width: 130px !important;
}

.stardust-video .nav-con .nav-search .nav-search-keyword
{
    color: #222 !important;
    width: 120px !important;
}

.stardust-video .nav-con #nav_searchform,
.nav-header-wrapper .nav-header .nav-header-search-bar
{
    margin-top: 0.1rem !important;
    border-radius: 4px !important;
    background: #fffb !important;
    border: none !important;
    transition: background-color .2s !important;
    box-shadow: 0px 2px 10px 1px #0002;
}
.search-bar-ctnr .search-bar
{
    background-color: #fffd !important;
    transition: all 0.2s !important;
}
.search-bar-ctnr .search-bar:hover,
.stardust-video .nav-con #nav_searchform:hover,
.nav-header-wrapper .nav-header .nav-header-search-bar:hover,
.search-bar-ctnr .search-bar:focus-within,
.stardust-video .nav-con #nav_searchform:focus-within,
.nav-header-wrapper .nav-header .nav-header-search-bar:focus-within
{
    background-color: #fff !important;
}

#bilibiliPlayer
{
    box-shadow: 0px 4px 16px 0px $customStyleColor40 !important;
}

.blur-bg
{
    opacity: $blurBackgroundOpacity !important;
    filter: blur(20px) !important;
}

.cancel
{
    width: 28px !important;
}

.stardust-video .nav-con ul.bilibili-suggest
{
    margin-left: -35px !important;
    width: 200px !important;
}

li.suggest-item>a
{
    max-width: 155px !important;
}

div.num
{
    box-shadow: 0 0.5px 4px 0 #0004 !important;
}

#primary_menu,
#primary_menu>ul.nav-menu,
.bilibili-player-iconfont-setting,
.video-state-volume-max .bilibili-player-iconfont-volume-max,
.video-state-volume-min .bilibili-player-iconfont-volume-min,
.bilibili-player-video-btn-volume:not(.video-state-volume-max):not(.video-state-volume-min) .bilibili-player-iconfont-volume,
.bilibili-player-iconfont-next
{
    display: flex !important;
    align-items: center !important;
}

/*li.home>a.t,*/
div.nav-gif,
#primary_menu
{
    padding: 0 !important;
}
.filter-item.search,
body
{
    margin: 0 !important;
}
.input-box textarea
{
    padding: 8px !important;
}
.link-navbar .main-ctnr .nav-switcher.open-btn
{
    filter: brightness(0) invert(1) !important;
    opacity: 0.8 !important;
}
.guard-rank-cntr.open .tip.rank-desc
{
    visibility: visible !important;
}
.guard-rank-cntr .rank-cntr .tip
{
    visibility: hidden !important;
}
.tag-container .tag-item .tag-border .tag-border-inner
{
    width: 100% !important;
}
.player-wrap[style*="height: auto"],
.danmaku-box[style*="height: auto"]
{
    height: 513px !important;
}
.bilibili-player-video-control,
.bui-slider .bui-track.bui-track-video-progress .bui-bar-wrap
{
    background-color: #222c !important;
}
.search-bar-ctnr .search-bar input::placeholder,
.search-bar-ctnr .search-bar .search-btn,
.nav-header-wrapper .nav-header .nav-header-search-bar::placeholder
{
    color: #888 !important;
}

@media only screen and (min-width: 1291px)
{
    .nav-con
    {
        margin: 0 1em !important;
    }

    .stardust-video .nav-con .bilibili-suggest.nav,
    .stardust-video .nav-con .nav-search
    {
        width: 250px !important;
    }

    .stardust-video .nav-con .nav-search .nav-search-keyword
    {
        width: 240px !important;
    }

    .stardust-video .nav-con ul.bilibili-suggest
    {
        margin-left: 0px !important;
        width: 250px !important;
    }

    .stardust-video .nav-con li.suggest-item>a
    {
        max-width: 205px !important;
    }
}
