.canvas-card dd .icon-contain .support,
#page .game,
.game-more,
#page .game .game-box h4,
#footer,
.dc-option:hover,
.medal,
.comment-manage-wrap .search input,
.comment-manage-wrap .head .search .bili-input 
{
    background-color: #222 !important;
}
.container .host-list-layout .hot-list-wrap .hot-song-list,
.rank-list-container .rank-list-wrapper .rank-list,
.rank-list-container .rank-list-wrapper,
.rank-item-first .detail,
.rank-item-first,
.canvas-card,
.activity-card,
.link-panigation .panigation,
.banner-text,
.bui-sns-info,
.nav-notice li a,
.container .host-list-layout .hot-list-wrap .show-more-song,
.dc-select .dc-option-group,
.comment-manage-wrap .content .action-bar,
.comment-manage-wrap .no-content,
.comment-manage-wrap .head .dropdown-btn,
.comment-manage-wrap .dropdown .dropdown-btn:hover,
.dropdown .dropdown-menu,
.comment-manage-wrap .dropdown.open .dropdown-btn,
.comment-manage-wrap .head .dropdown-btn .text,
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn,
.recent-danmu-wrp .head .dropdown-btn 
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #fff1 !important;
// }
// a
// {
//     background-image: none !important;
// }
.link-footer .footer-linker .footer-linker-line,
.nav-notice li,
.nav-notice li.hover
{
        background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
.recent-danmu-wrp .danmu-filter .left .line
 {
background: transparent !important;
 }
.link-footer .footer-img-linker .footer-img-item,
.canvas-card dd h4 .user-container span,
.canvas-card dd h4 .user-container a,
.nav-bar .sub-nav .sub-tab,
ul.navigation li span,
.activity-card dd span,
.sort-item,
.filter-block .filter-item-wrapper,
.bangumi-index-crumb ul li a,
.bangumi-item .pub-info,
.icon-font,
.link-footer .footer-img-linker .footer-img-text,
.cinema-home-crumb ul li a,
.video-item-biref .biref-info .biref-title-sec,
.banner-p a,
.banner-p p,
#page .game .game-box dl a,
.footer-text p,
.footer-text .record,
.dc-radio-button,
#dc-section_summary .follow-tool-box .follow-line-legend .legend-item .legend-text,
.info-item-active p,
.info-item-charge p,
.info-item-medal p,
.info-item-total p,
.rank-active-target,
.rank-fans-medal,
.rank-vedio-target,
.rank-vedio-view,
.dc-radio-button_inner,
.comment-manage-wrap .content .action-bar .dropdown .sort-btn,
.comment-manage-wrap .search .fontvt,
.comment-manage-wrap .dropdown .dropdown-menu li,
.comment-manage-wrap .head .dropdown-menu .article-list .ac-link,
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn,
.recent-danmu-wrp .head .dropdown-menu .article-list li,
.recent-danmu-wrp .tips 
{
    color: #aaa !important;
}

.rank-item .detail .work-name,
.rank-list-container .more .text,
.canvas-card dd h3 a,
.canvas-card dd .icon-contain .support,
.rank-list .canvas-card:after,
.rank-list .canvas-card:nth-child(-n+3):after,
ul.navigation li.activated span,
.activity-card dd h4,
.link-panigation .panigation,
.link-panigation .panigation.selected,
.panigation .arrow-right i,
.activity-card .category-tab,
.filter-block .filter-name,
.bangumi-item .bangumi-title,
.filter-wrapper .filter-title,
.bangumi-item .cover-wrapper .shadow,
.bangumi-item .cover-wrapper .corner-tag,
.block-area .block-left .block-header .block-title,
#mangoTv .mango-rank .text-list a,
#page .game .game-box h4,
.nav-notice li a,
.nav-notice li.hover,
.game-more,
.bui-sns-info a,
.footer-box a,
.dc-section-item_title_custom .sectionTitle,
.ellipsis,
.dc-option,
.dc-section-item_title,
.comment-manage-wrap .content .action-bar .action-btn span,
.comment-manage-wrap .search input,
.comment-manage-wrap .dropdown .dropdown-btn,
.comment-manage-wrap .head .search .bili-input,
.recent-danmu-wrp .dropdown .dropdown-btn,
.danmu-wrp .section .title 
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.container .host-list-layout .hot-list-wrap .hot-song-list,
.link-footer .footer-img-linker .footer-img-item,
.canvas-card dd .icon-contain .support,
.link-panigation .panigation,
.cinema-home-crumb ul li,
.banner,
.nav-notice li,
.nav-notice li.hover,
.rank-active-target,
.rank-fans-medal,
.rank-vedio-target,
.rank-vedio-view,
.dc-select-label,
.dc-select .dc-option-group,
.comment-manage-wrap .no-content,
.comment-manage-wrap .content .action-bar .action-btn span,
.comment-manage-wrap .content .check-box.checked,
.comment-manage-wrap .search input,
.comment-manage-wrap .dropdown .dropdown-btn,
.comment-manage-wrap .head .dropdown-btn .text,
.recent-danmu-wrp .danmu-filter .left .danmu-type,
.recent-danmu-wrp .danmu-filter .left .protect,
.recent-danmu-wrp .danmu-filter .left .refresh,
.recent-danmu-wrp .danmu-filter .left .delete,
.recent-danmu-wrp .dropdown .dropdown-btn 
{
    border-color: transparent !important;
}
.banner-p a
{
        border-color: #aaa !important;
}
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }
// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
.mainmenu ul.grid li a.yxzx,
.footer-logo 
{
        filter: brightness(0) invert(1) !important;
}
// a
// {
//     filter: $blueImageFilter !important;
// }
// a
// {
//     filter: $pinkImageFilter !important;
// }
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }
// a
// {
//     background-image: none !important;
// }
// a
// {
//     border-radius: 4px !important;
// }
// a
// {
//     box-shadow: none !important;
// }
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
.icon-hot, 
.icon-new, 
.icon-home
{
        display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
.sort-item.on i.active,
.banner-p h3,
.banner-p a:hover,
#page .game .game-box h4 span,
.dc-radio-button.is-active,
.dc-radio-button.is-active:after 
{
       border-color: $customStyleColor !important;
}

.nav-bar .nav-wrapper .slide-block,
ul.navigation li:after,
.link-panigation .panigation.selected,
.bangumi-item .cover-wrapper .corner-tag.badge_0,
.comment-manage-wrap .content .check-box.checked 
{
    background-color: $customStyleColor !important;
}

.canvas-card dd h4 .user-container a:hover,
.nav-bar .sub-nav .sub-tab.active,
.rank-item .detail .work-name:hover,
ul.navigation li:hover,
.activity-card dd h4 a:hover,
.link-panigation .panigation:not(.selected):hover,
.panigation .arrow-right:hover i,
.filter-block .filter-item-wrapper .filter-item.on,
.bangumi-index-crumb ul li.on a,
.bangumi-index-crumb ul li:hover a,
.sort-item.on,
.bangumi-item .bangumi-title:hover,
.link-panigation .panigation:hover,
.cinema-home-crumb ul li.on a,
.cinema-home-crumb ul li:hover a,
.banner .slides-pagination li a:hover,
#page .game .game-box dl a:hover,
.banner-p a:hover,
#page .game .game-box dl dt,
.footer-box .footer-text a:hover,
.dc-radio-button.is-active,
.dc-option:hover,
.comment-manage-wrap .dropdown .dropdown-menu .selected,
.comment-manage-wrap .content .action-bar .dropdown .sort-btn:hover 
{
    color: $customStyleColor !important;
}
// a
// {
//     color: $foreground !important;
// }
// a
// {
//     fill: $customStyleColor !important;
// }
#page .game .game-box,
.comment-manage-wrap .head .dropdown-menu .article-list 
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
#page .game .game-box-1,
#page .game .game-box-3,
.game-box-all,
.footer-logo 
{
       border-left-color: transparent !important;
       border-right-color: transparent !important;
}
