.bilibili-player-video-sendbar,
.medal-up-trueLove
{
    background-color: #222 !important;
}
.main-container .title>span,
.content-panel .title span,
.face-g-list .mp-block .right ul li.base .round,
.security-list .child-list li a:hover
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #eee !important;
// }
#mp-mine-header,
#mp-mine-header.active,
.fans-icon
{
    background-image: none !important;
}

.mode-fullscreen .bilibili-player-video-btn-widescreen,
.mode-webfullscreen .bilibili-player-video-sendbar,
.mode-fullscreen .bilibili-player-video-sendbar,
.bilibili-player-video-bottom-area::before,
.live-sidebar-ctnr
{
    background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }

.scroll-loading,
.room-card-item .info .s-info,
.fans-no-data::after,
.fans-no-data-wear::after
{
    color: #aaa !important;
}
.main-container .title>span,
.content-panel .title span em,
.medal-up-trueLove,
.u-info .u-name
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.content-panel .title span,
.medal-up-trueLove
{
    border-color: transparent !important;
}
// a
// {
//     border-color: #aaa !important;
// }
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }

// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
.security-list .first-level .m-arrow
{
    filter: brightness(0) invert(1) !important;
}
.bp-svg-icon.link,
.face-g-list .mp-block .right ul li.reach::after
{
    filter: $blueImageFilter !important;
}
// a
// {
//     filter: $pinkImageFilter !important;
// }
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }

.tab-mk2.active,
.face-g-more,
.bangumi-player
{
    background-image: none !important;
}
// a
// {
//     border-radius: 4px !important;
// }
.bangumi-player,
.live-sidebar-ctnr
{
    box-shadow: none !important;
}
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
.main-container .title span::before
{
    display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
@supports (backdrop-filter: blur(64px)) or (-webkit-backdrop-filter: blur(64px))
{
    .gui-settings-content.blur
    {
        background: #222c !important;
    }
}
.face-g-list .mp-block .right ul li.base .round
{
    z-index: 100 !important;
}

.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover
{
    border-color: $customStyleColor !important;
}
.medal-progress>i,
.gift-item-wrap .expiration
{
    background-color: $customStyleColor !important;
}
.face-g-more,
.room-card-item:hover .room-name,
.content-panel .title span:hover,
.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover,
.list-filter-bar .pic-type-box .item.active,
.list-filter-bar .pic-type-box .item:hover,
.content-panel .title span:hover em,
.medal-up-name>a
{
    color: $customStyleColor !important;
}
.gift-item-wrap .expiration
{
    color: $foreground !important;
}
.bilibili-player-video-danmaku-setting-left-more:hover .bp-svgicon,
.bilibili-player-video-danmaku-setting-right-more:hover .bp-svgicon
{
    fill: $customStyleColor !important;
}

// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
// a
// {
//     border-left-color: transparent !important;
//     border-right-color: transparent !important;
// }