.recom-wrap .no-result,
.side-bar-popup-cntr,
.link-popup-panel,
.timeline-header,
.timeline-wrapper,
.tl-head .tl-day,
li.season-item .season-body .season-title span.follow,
.season-timer .current-timer:before
{
    background-color: #222 !important;
}
.progress-bar-body,
.more-btn-cntr,
.timer-wrap,
.fjw-random
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
.tl-head .tl-day .indicator,
.season-timeline .season-group .group-time:before
{
    background-color: #aaa !important;
}
// a
// {
//     background-color: #eee !important;
// }
// a
// {
//     background-image: none !important;
// }
// a
// {
//     background-color: #222e !important;
// }
// a
// {
//     background-color: transparent !important;
// }
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }

.introduction-text,
.vote-percentage,
.bread-crumb ul li a
{
    color: #aaa !important;
}
.section-title>a.t,
.section>.section-title,
.link-popup-panel,
.more-btn-text,
.chat-history-panel .gift-item .gift-count,
.chat-history-panel .hover-panel>span,
.is-max .vote-percentage,
.tl-head .tl-day.today span,
li.season-item .season-body .season-title
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }

.gift-item-wrap .num,
.side-bar-popup-cntr,
.timeline-header .tl-weeks:after
{
    border-color: transparent !important;
}
.season-timeline .season-group,
.season-timeline .season-group .group-time:before
{
    border-color: #aaa !important;
}
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }

// a
// {
//     transition: all .2s !important;
// }

.tl-head .today .day-of-week
{
    filter: brightness(0) invert(1) !important;
}
// a
// {
//     filter: $blueImageFilter !important;
// }
.season-timer .current-timer:before,
li.season-item .season-body .season-title span.follow
{
    filter: $pinkImageFilter !important;
}
// a
// {
//     filter: grayscale(1) !important;
// }

// a
// {
//     background-image: none !important;
// }
// a
// {
//     border-radius: 4px !important;
// }
.timeline-header,
.timeline-wrapper,
.timeline-header .tl-weeks
{
    box-shadow: none !important;
}
.side-bar-popup-cntr,
.link-popup-panel
{
    box-shadow: 0px 1px 20px 2px $customStyleColor30 !important;
}
.side-bar-popup-cntr>.arrow
{
    display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }

.timeline-wrapper .season-timeline .season-group.today,
.timeline-wrapper .season-timeline .season-group.today .group-time::before
{
    border-color: $customStyleColor !important;
}
.progress-bar-inner,
.tl-head .tl-day.today .indicator,
.timeline-wrapper .season-timeline .season-group.today.is-published .group-time::before,
.primary-menu .nav-menu .channel.on::after
{
    background-color: $customStyleColor !important;
}
.union-cntr a,
.title-link,
.link-popup-panel .title-ctnr .popup-title,
.user-info-name.active,
.bread-crumb ul li.on a,
.bread-crumb ul li:hover a,
li.season-item .season-body .season-title:hover,
li.season-item .season-body .season-desc.published,
.season-timer .season-label,
.season-timer .current-timer
{
    color: $customStyleColor !important;
}
// a
// {
//     color: $foreground !important;
// }
// a
// {
//     fill: $customStyleColor !important;
// }

// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
// a
// {
//     border-left-color: transparent !important;
//     border-right-color: transparent !important;
// }

// .chat-history-panel .chat-history-list::-webkit-scrollbar-track,
// .multi-page .cur-list ul::-webkit-scrollbar-track
// {
//     background: #444 !important;
// }
// .chat-history-panel .chat-history-list::-webkit-scrollbar-thumb,
// .multi-page .cur-list ul::-webkit-scrollbar-thumb
// {
//     background: #222 !important;
// }
// .chat-history-panel .chat-history-list::-webkit-scrollbar-thumb:hover,
// .multi-page .cur-list ul::-webkit-scrollbar-thumb:hover
// {
//     background: #333 !important;
// }
