.sticky-bar .bar-content .message
{
    color: #eee !important;
}

.sticky-bar .bar-content .message:hover
{
    color: $customStyleColor !important;
}

.season-timeline .season-group.today,
.season-timeline .season-group.today .group-time::before
{
    border-color: $customStyleColor !important;
}
.season-timeline .season-group.today.is-published .group-time::before
{
    background-color: $customStyleColor !important;
}
