.bili-header-m .nav-menu .nav-con .nav-item:hover
{
    background-color: #222;
}
.bili-header-m .nav-menu .nav-mask
{
    background-color: #444;
}
.bili-header-m .nav-menu .nav-con .nav-item .t
{
    color: #eee;
}