// a
// {
//     background-color: #222 !important;
// }
.container .host-list-layout .hot-list-wrap .hot-song-list,
.rank-list-container .rank-list-wrapper .rank-list,
.rank-list-container .rank-list-wrapper,
.rank-item-first .detail,
.rank-item-first 
{
        background-color: #444 !important;
} 
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #fff1 !important;
// }
// a
// {
//     background-image: none !important;
// }
.link-footer .footer-linker .footer-linker-line
{
        background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }
.link-footer .footer-img-linker .footer-img-item 
{
        color: #aaa !important;
}
.rank-item .detail .work-name,
.rank-list-container .more .text 
{
        color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.container .host-list-layout .hot-list-wrap .hot-song-list,
.link-footer .footer-img-linker .footer-img-item
{
        border-color: transparent !important;
}
// a
// {
//     border-color: #aaa !important;
// }
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }
// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
// a
// {
//     filter: brightness(0) invert(1) !important;
// }
// a
// {
//     filter: $blueImageFilter !important;
// }
// a
// {
//     filter: $pinkImageFilter !important;
// }
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }
// a
// {
//     background-image: none !important;
// }
// a
// {
//     border-radius: 4px !important;
// }
// a
// {
//     box-shadow: none !important;
// }
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
// a
// {
//     display: none !important;
// }
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
// a
// {
//     border-color: $customStyleColor !important;
// }
// a
// {
//     background-color: $customStyleColor !important;
// }
// a
// {
//     color: $customStyleColor !important;
// }
// a
// {
//     color: $foreground !important;
// }
// a
// {
//     fill: $customStyleColor !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
// a
// {
//     border-left-color: transparent !important;
//     border-right-color: transparent !important;
// }