.bilibili-player-video-sendbar,
.medal-up-trueLove,
.el-date-table td,
.el-date-table td.in-range:hover,
.el-pagination__editor,
.el-pagination button.disabled,
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li
{
    background-color: #222 !important;
}
.main-container .title>span,
.content-panel .title span,
.face-g-list .mp-block .right ul li.base .round,
.security-list .child-list li a:hover,
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover,
.el-picker-panel__shortcut:hover,
.el-date-table td:hover,
.el-date-table td.in-range,
.el-date-table td.next-month:hover,
.el-date-table td.prev-month:hover
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #eee !important;
// }
#mp-mine-header,
#mp-mine-header.active,
.fans-icon
{
    background-image: none !important;
}

.mode-fullscreen .bilibili-player-video-btn-widescreen,
.mode-webfullscreen .bilibili-player-video-sendbar,
.mode-fullscreen .bilibili-player-video-sendbar,
.bilibili-player-video-bottom-area::before,
.live-sidebar-ctnr
{
    background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }

.scroll-loading,
.room-card-item .info .s-info,
.fans-no-data::after,
.fans-no-data-wear::after,
.record-item-line .comment-floor,
.record-item-line .comment-location,
.record-item-line .comment-time,
.record-item-line .good,
.no-data-integrity
{
    color: #aaa !important;
}
.main-container .title>span,
.content-panel .title span em,
.medal-up-trueLove,
.u-info .u-name,
.bottom-actions .action-item,
.el-pagination__editor,
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.content-panel .title span,
.medal-up-trueLove,
.el-picker-panel,
.el-time-range-picker__body,
.el-autocomplete-suggestion__wrap,
.el-pager li,
.el-pager li:last-child
{
    border-color: transparent !important;
}
// a
// {
//     border-color: #aaa !important;
// }
// a
// {
//     border-color: #222 !important;
// }
.up-info-holder .fixed-box .up-article-list-block .block-title,
.up-info-holder .fixed-box .more .top-bar,
.el-date-range-picker__content.is-left,
.el-picker-panel [slot=sidebar],
.el-picker-panel__sidebar
{
    border-color: #444 !important
}
// a
// {
//     border-color: #99a2aa !important;
// }

// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
.security-list .first-level .m-arrow
{
    filter: brightness(0) invert(1) !important;
}
.bp-svg-icon.link,
.face-g-list .mp-block .right ul li.reach::after
{
    filter: $blueImageFilter !important;
}
// a
// {
//     filter: $pinkImageFilter !important;
// }
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }

.tab-mk2.active,
.face-g-more,
.bangumi-player,
.record-nav .on,
.m-help .m-arrow
{
    background-image: none !important;
}
// a
// {
//     border-radius: 4px !important;
// }
.bangumi-player,
.live-sidebar-ctnr,
.el-picker-panel
{
    box-shadow: none !important;
}
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
.main-container .title span::before,
.top-banner
{
    display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
@supports (backdrop-filter: blur(64px)) or (-webkit-backdrop-filter: blur(64px))
{
    .gui-settings-content.blur
    {
        background: #222c !important;
    }
}
.face-g-list .mp-block .right ul li.base .round
{
    z-index: 100 !important;
}

.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover
{
    border-color: $customStyleColor !important;
}
.medal-progress>i,
.gift-item-wrap .expiration,
.el-date-table td.in-range.start-date:hover,
.el-date-table td.in-range.end-date:hover,
.el-date-table td.in-range.start-date,
.el-date-table td.in-range.end-date
{
    background-color: $customStyleColor !important;
}
.face-g-more,
.room-card-item:hover .room-name,
.content-panel .title span:hover,
.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover,
.list-filter-bar .pic-type-box .item.active,
.list-filter-bar .pic-type-box .item:hover,
.content-panel .title span:hover em,
.medal-up-name>a,
.list-link a,
.record-nav .on,
.noHover-link,
.my-moral i,
.viphelp span,
.el-pager li:hover
{
    color: $customStyleColor !important;
}
.gift-item-wrap .expiration,
.el-date-table td.in-range.start-date:hover,
.el-date-table td.in-range.end-date:hover,
.el-date-table td.in-range.start-date,
.el-date-table td.in-range.end-date
{
    color: $foreground !important;
}
.bilibili-player-video-danmaku-setting-left-more:hover .bp-svgicon,
.bilibili-player-video-danmaku-setting-right-more:hover .bp-svgicon
{
    fill: $customStyleColor !important;
}

// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
// a
// {
//     border-left-color: transparent !important;
//     border-right-color: transparent !important;
// }