.bili-header-m>.bili-wrapper {
  visibility: hidden !important;
  height: 18px !important;
}
.primary-menu-itnl {
  visibility: hidden !important;
  height: 24px !important;
  padding: 0 !important;
}