#slide_ad,
#home_popularize .l-con,
#home_popularize .adpos,
.gg-floor-module,
.home-app-download,
.bilibili-player-promote-wrap,
.bili-header-m .nav-menu .nav-con .nav-item .text-red,
.mobile-link-l,
.video-page-game-card,
.international-home .banner-card,
.bypb-window .operate-card,
.gg-window .operate-card,
#reportFirst2 .extension,
.video-page-special-card,
.mascot,
body:not(.preserve-event-banner) .activity-m,
body.remove-game-match-module .bili-wrapper > .home-match,
body.remove-game-match-module #reportFirst3 {
  display: none !important;
}
/* .carousel-module .panel .pic li[data-id='0']
{
    visibility: hidden !important;
} */
#home_popularize {
  position: relative !important;
}
.popularize-module .online,
.gg-window .online {
  position: absolute !important;
  top: 50% !important;
  right: 0.5% !important;
  transform: translateY(-100%) !important;
}
.gg-window .online {
  right: 0 !important;
  padding: 0 16px !important;
}
#reportFirst2 {
  position: relative;
  margin-bottom: 4px;
}
.blocked-ads {
  width: 440px;
  height: 220px;
  display: flex;
  color: #888;
  background-color: #8882;
  font-size: 24pt;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
}
.blocked-ads.new {
  width: 459px;
  height: 202px;
}
body.compact .blocked-ads {
  width: 480px;
  height: 240px;
}