@import "../../../style/common";
.gui-settings-tooltip {
  position: fixed;
  left: 440px;
  color: white;
  background: #0008;
  border: 1px solid #333;
  padding: 14px 14px 8px 14px;
  font-size: 12pt;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  min-width: 100%;
  max-height: 90%;
  line-height: 1.8;
  white-space: pre-wrap;
  user-select: text;
  border-radius: var(--large-corner-radius);
  overflow: auto;
  @include no-scrollbar();

  .gui-settings-box:not(.opened) &,
  &:empty {
    pointer-events: none;
    opacity: 0;
  }
  .tooltip-title {
    font-weight: bold;
    font-size: large;
    line-height: normal;
    padding-bottom: 12px;
    margin-bottom: 6px;
    border-bottom: 1px solid #333;
  }
  span {
    display: inline-flex;
    padding: 4px;
    margin: 0 2px;
    line-height: 1.2;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 4px;
  }
  a,
  a:hover,
  a:active {
    color: var(--theme-color);
  }
}
