
#custom-navbar-home-popup {
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;

  .category-item {
    font-size: 12pt;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
  }
  .category-item.loading {
    font-size: 10pt;
    cursor: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-item:not(.loading):hover {
    background-color: #0001;
  }
  .category-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category-item svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
    margin-right: 10px;
  }
  .category-item div {
    flex: 1 0 auto;
  }
  .category-item.main {
    min-width: 150px;
  }
  .category-item .popup {
    z-index: 10002;
    width: max-content;
    transform: scaleX(0);
    transform-origin: left;
    padding: 8px;
    left: 100%;
    top: 0;
    transition-delay: 0.3s;
    pointer-events: initial;
  }
  .category-item:hover .popup {
    transform: scaleX(1);
  }
  .category-item span {
    opacity: 0.5;
  }
}
@media screen and (min-height: 1000px) {
  #custom-navbar-home-popup {
    flex-wrap: nowrap;
    width: 250px;
  }
}