.download-video-panel.opened
{
    transform: scaleY(1);
}
.download-video-panel
{
    position: absolute;
    top: calc(100% + 8px);
    transition: all .16s ease-out;
    transform-origin: top;
    transform: scaleY(0);
    background: white;
    border-radius: 4px;
    box-shadow: 0px 3px 20px 2px #0004;
    z-index: 100;
}
.gui-settings-content ol.video-quality li
{
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all .2s ease-out;
}
.gui-settings-content ol.video-quality li:hover
{
    background: rgba(0,0,0,0.24);
}
.video-quality,
.video-progress
{
    display: none;
}
.download-video-panel.quality .video-quality,
.download-video-panel.progress .video-progress
{
    display: block;
}
