.download-video-panel.opened
{
    transform: scaleY(1);
}
.download-video-panel
{
    position: absolute;
    top: calc(100% + 8px);
    transition: all .16s ease-out;
    transform-origin: top;
    transform: scaleY(0);
    background: white;
    border-radius: 4px;
    box-shadow: 0px 3px 20px 2px #0004;
    z-index: 100;
}
.gui-settings-content ol.video-quality li,
.video-action>div
{
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all .2s ease-out;
}
.gui-settings-content ol.video-quality li:hover
{
    background: rgba(0,0,0,0.16);
}
.video-quality,
.video-progress,
.video-action,
.video-error
{
    display: none;
}
.download-video-panel.quality:not(.error) .video-quality,
.download-video-panel.progress:not(.error) .video-progress,
.download-video-panel.action:not(.error) .video-action,
.download-video-panel.error .video-error
{
    display: block;
}
.download-progress-text
{
    display: flex;
}
.download-progress-title
{
    flex: 1 0 0;
}
.download-progress-background
{
    background-color: #8884;
    height: 4px;
    width: 100%;
    margin-top: 4px;
}
.download-progress-foreground
{
    background-color: $customStyleColor;
    transform-origin: left;
    transition: all .2s ease-out;
    transform: scaleX(0);
    height: 100%;
    width: 100%;
}
.video-error,
.video-progress
{
    padding: 12px;
}
.video-progress
{
    min-width: 160px;
}
#video-complete
{
    display: none;
}