.download-video.opened
{
  pointer-events: initial;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.download-video
{
  --download-video-background: white;
  --download-video-foreground: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background: var(--download-video-background);
  color: var(--download-video-foreground);
  box-shadow: rgba(0,0,0,0.2) 0 4px 8px 0px;
  z-index: 10001;
  pointer-events: none;
  opacity: 0;
  padding: 16px;
  width: 300px;
}
body.dark .download-video {
  --download-video-background: #222;
  --download-video-foreground: #eee;
}
.round-corner .download-video {
  border-radius: var(--large-corner-radius);
}
.round-corner .download-video .title,
.round-corner .download-video .cover,
.round-corner .v-dropdown,
.round-corner .v-dropdown .dropdown-menu,
.round-corner .v-dropdown .dropdown-menu li,
.round-corner .download-video button,
.round-corner .download-video .direct-download .progress .background,
.round-corner .download-video .direct-download .progress .foreground {
  border-radius: var(--corner-radius);
}
.download-video,
.download-video * {
  transition: all .2s ease-out;
}
.download-video .cover {
  width: 240px;
}
.download-video .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-video h1 {
  font-size: 16pt;
  font-weight: bold;
  color: var(--download-video-foreground);
}
.download-video i.mdi.mdi-close {
  font-size: 16pt;
  color: var(--download-video-foreground);
  cursor: pointer;
}
.download-video i.mdi.mdi-close:hover {
  color: var(--theme-color);
}
.download-video .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-video .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 12px;
}
.download-video .bold {
  color: var(--download-video-foreground);
  font-weight: bold;
  font-size: 12pt;
}
.download-video .title .bold {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.download-video .title .size {
  font-size: 10pt;
  color: var(--download-video-foreground);
  align-self: center;
  opacity: 0.8;
}
.download-video .option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  font-size: 10pt;
}
.v-dropdown {
  position: relative;
  background-color: #ededed;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
}
body.dark .v-dropdown {
  background-color: #333;
}
.v-dropdown .dropdown-menu {
  transform-origin: top;
  transform: scaleY(0) translateX(-50%);
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  background-color: var(--download-video-background);
  z-index: 1;
  transition: .2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  box-shadow: rgba(0,0,0,0.2) 0 4px 8px 0px;
}
.v-dropdown .dropdown-menu.opened {
  transform: scaleY(1) translateX(-50%);
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.v-dropdown .dropdown-menu li {
  padding: 4px 8px;
  white-space: nowrap;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  color: var(--download-video-foreground);
  background-color: transparent;
}
.v-dropdown .dropdown-menu li:hover {
  background-color: rgba(0,0,0,0.16);
}
.v-dropdown .mdi-chevron-down {
  font-size: 16pt;
  line-height: 1;
  transform: rotate(0deg);
}
.v-dropdown .dropdown-menu.opened ~ .mdi-chevron-down {
  transform: rotate(180deg);
}
.v-dropdown .selected {
  user-select: none;
  padding: 4px 8px;
}
.download-video .tabs {
  display: flex;
  padding: 12px 0;
  font-size: 10pt;
}
.download-video .tabs .tab {
  padding: 6px 12px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.download-video .tab.active {
  color: var(--theme-color);
  border-bottom-color: var(--theme-color);
}
.download-video .separator {
  height: 1px;
  background: #8884;
  width: 100%;
  margin: 12px 0;
}
.download-video h2 {
  font-size: 12pt;
  font-weight: bold;
  color: var(--download-video-foreground);
}
.download-video .direct-download {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.download-video button {
  border: none;
  outline: none !important;
  padding: 6px 16px;
  font-size: 10pt;
  cursor: pointer;
  background: #8884;
  color: var(--download-video-foreground);
}
.download-video button:hover {
  background: #8886;
}
.download-video button.primary {
  background: var(--theme-color);
  color: var(--foreground-color);
  align-self: center;
}
.download-video button.primary:hover {
  background: var(--theme-color-90);
}
.download-video button.disabled,
.download-video button.primary.disabled {
  background: #0004;
  color: inherit;
  cursor: not-allowed;
}
.download-video .direct-download .progress {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.download-video .direct-download .progress .background {
  flex-grow: 1;
  height: 4px;
  background: #8884;
  margin-right: 4px;
  position: relative;
}
.download-video .direct-download .progress .foreground {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, var(--theme-color), var(--theme-color-60));
}
body.dark .download-video .direct-download .progress .foreground {
  background: linear-gradient(to right, var(--theme-color-70), var(--theme-color));
}
.download-video .direct-download .progress .percent {
  width: 50px;
  text-align: right;
}
.download-video .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}
.download-video .actions button {
  margin: 4px;
  flex-grow: 1;
  flex-basis: calc(50% - 16px);
}
/* ol.video-quality li,
.video-action>div
{
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    transition: all .2s ease-out;
    text-align: center;
    white-space: nowrap;
}
.video-action>div
{
    padding: 8px 24px;
}
ol.video-quality li:hover,
.video-action>div:hover
{
    background: rgba(0,0,0,0.16);
}
.video-quality,
.video-progress,
.video-action,
.video-error
{
    display: none;
}
.download-video-panel.quality:not(.error) .video-quality,
.download-video-panel.progress:not(.error) .video-progress,
.download-video-panel.action:not(.error) .video-action,
.download-video-panel.error .video-error
{
    display: block;
}
.download-progress-text
{
    display: flex;
}
.download-progress-background
{
    background-color: #8884;
    height: 4px;
    width: 100%;
    margin-top: 4px;
}
.download-progress-foreground
{
    background-color: var(--theme-color);
    transform-origin: left;
    transition: all .2s ease-out;
    transform: scaleX(0);
    height: 100%;
    width: 100%;
}
.download-progress-cancel
{
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.download-progress-cancel>span
{
    background-color: #8884;
    padding: 4px 8px;
    cursor: pointer;
}
.download-progress-cancel>span:hover
{
    opacity: .9;
}
.download-progress-cancel>span:active
{
    opacity: .8;
}
.video-error,
.video-progress
{
    padding: 12px;
}
.video-progress
{
    min-width: 120px;
}
#video-complete
{
    display: none;
}

.video-action [id~='batch']
{
    display: none;
}
.batch .video-action [id~='batch']
{
    display: block;
}

.round-corner .video-action>div,
.round-corner ol.video-quality li,
.round-corner .download-progress-cancel>span,
.round-corner .download-progress-background,
.round-corner .download-progress-foreground
{
    border-radius: var(--corner-radius);
} */