.video-take-screenshot
{
    padding: 0 6px 0 18px;
    height: 100%;
    cursor: pointer;
}
.video-take-screenshot span
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.video-take-screenshot i
{
    font-size: 20px;
    color: white;
    transform: scale(1);
    opacity: 0.9;
    transition: all .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.video-take-screenshot:hover i
{
    transform: scale(1.1);
    opacity: 1;
}
.video-take-screenshot:active i
{
    transform: scale(0.9);
    opacity: 1;
}

.video-screenshot-list
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    padding: 12px 0;
}
.video-screenshot-thumbnail img
{
    max-width: 240px;
}
.video-screenshot-thumbnail
{
    padding: 12px 24px;
}