.custom-navbar {
  .subscriptions {
    width: 380px;
    font-size: 9pt;
  }
  .subscriptions-tabs {
    margin: 12px 12px 8px 18px;
    display: flex;
    align-items: center;
  }
  .subscriptions .tab-placeholder {
    flex-grow: 1;
  }
  .subscriptions .tab {
    opacity: 0.5;
    margin-right: 24px;
    position: relative;
    line-height: 1.4;
    cursor: pointer;
  }
  .subscriptions .tab.selected {
    opacity: 1;
    font-weight: bold;
    transform: scale(1.2);
  }
  .bangumi-subscriptions {
    display: flex;
    flex-direction: column;
  }
  .bangumi-subscriptions-card {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    flex-shrink: 0;
    body.dark & {
      background-color: #2d2d2d;
    }
  }
  .bangumi-subscriptions-card .card-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px;
    max-width: calc(100% - 24px - 64px);
    box-sizing: content-box;
  }
  .bangumi-subscriptions-card .info {
    padding: 2px;
    background-color: #8882;
    font-size: 12pt;
    border-radius: 14px;
    line-height: 1;
  }
  .bangumi-subscriptions-card .info:hover {
    background-color: #8884;
  }
  .bangumi-subscriptions-card .progress-row {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
  }
  .bangumi-subscriptions-card .progress {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bangumi-subscriptions-card .title {
    font-size: 11pt;
    font-weight: bold;
    padding-top: 8px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0;
  }
  .bangumi-subscriptions-card:hover .title {
    color: var(--theme-color);
  }
  .subscriptions .content {
    padding: 8px 12px;
    height: 500px;
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-width: none !important;
  }
  .bangumi-subscriptions.center {
    height: 100%;
  }
}
