.dynamic-m .info {
  height: auto !important;
  a {
    white-space: normal !important;
  }
}
.custom-navbar .video-activity-card {
  .title {
    display: block !important;
    max-height: unset !important;
  }
  .cover {
    height: unset !important;
  }
}
