.custom-navbar {
  .activity-popup {
    width: 380px;
    font-size: 9pt;
  }
  .activity-tabs {
    display: flex;
    padding: 12px 12px 16px 18px;
    justify-content: space-between;
    align-items: center;
  }
  .activity-tabs .view-all,
  .subscriptions-tabs .view-all {
    background-color: #8882;
    padding: 4px 6px 4px 10px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    align-items: center;
  }
  .activity-tabs .view-all i {
    font-size: 14pt;
    margin-left: 4px;
  }
  .subscriptions-tabs .view-all i {
    font-size: 12pt;
    margin-left: 4px;
  }
  .activity-tabs .view-all:hover,
  .subscriptions-tabs .view-all:hover {
    background-color: #8884;
  }
  .activity-tab {
    position: relative;
    cursor: pointer;
  }
  .activity-tab.selected {
    opacity: 1;
    transform: scale(1.2);
  }
  .activity-tab .tab-name {
    line-height: normal;
    opacity: 0.5;
  }
  .activity-tab.selected .tab-name {
    opacity: 1;
    font-weight: bold;
  }
  .activity-tab[data-count]::before {
    content: attr(data-count);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    background-color: #8884;
    padding: 2px 4px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .activity-tab::after,
  .subscriptions .tab::after {
    content: "";
    width: calc(80%);
    height: 2px;
    border-radius: 1px;
    position: absolute;
    background-color: var(--theme-color);
    left: 10%;
    bottom: -4px;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
  }
  .activity-tab.selected::after,
  .subscriptions .tab.selected::after {
    transform: scaleX(1);
  }
  .activity-popup-content {
    overflow: auto;
    overscroll-behavior: contain;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scrollbar-width: none !important;
  }
  .activity-popup-content::-webkit-scrollbar,
  .subscriptions .content::-webkit-scrollbar {
    width: 0px !important;
  }
  .activity-popup-content .view-more {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    justify-content: center;
    padding: 6px 12px;
    background-color: #fffe;
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
    cursor: pointer;
    height: 28px;
    border-radius: 14px;
    box-sizing: border-box;
    z-index: 2;
  }
  .activity-popup-content .view-more:hover {
    background-color: #fff;
  }
  &.dark .activity-popup-content .view-more {
    background-color: #333e;
  }
  &.dark .activity-popup-content .view-more:hover {
    background-color: #333;
  }
  .activity-popup-content .view-more .mdi {
    line-height: 1;
    margin-left: 8px;
    font-size: 12pt;
  }
  .activity-popup-content .loading,
  .bangumi-subscriptions .loading,
  .bangumi-subscriptions .empty {
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activity-popup-content .loading .mdi,
  .bangumi-subscriptions .loading .mdi {
    line-height: 1;
    margin-right: 6px;
  }
  .video-activity {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }
  .video-activity.center {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-activity-card {
    --card-width: 172px;
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
    margin-bottom: 12px;
    break-inside: avoid;
    flex-shrink: 0;
  }
  &.dark .video-activity-card,
  &.dark .activity-popup-content .view-more,
  &.dark .column-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px 0px;
  }
  .video-activity-card .cover {
    width: var(--card-width);
    background-color: #8884;
    height: calc(var(--card-width) / 16 * 10);
    object-fit: cover;
    display: block;
    min-height: 100px;
  }
  .video-activity-card .title {
    font-size: 10pt;
    font-weight: bold;
    margin: 8px 8px 2px 8px;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: 3em;
    word-break: break-all;
  }
  .video-activity-card .title:hover,
  .video-activity-card .up:hover .name {
    color: var(--theme-color);
  }
  .video-activity-card .up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 8px;
    border-radius: 13px;
    padding: 2px;
  }
  .video-activity-card .up:hover {
    background-color: #8882;
  }
  .video-activity-card .up .face {
    width: 24px;
    border-radius: 50%;
    background-color: #8884;
  }
  .video-activity-card .up .name {
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .video-activity-card .cover-container {
    position: relative;
  }
  .video-activity-card .time,
  .video-activity-card .watchlater {
    position: absolute;
    bottom: 4px;
    display: flex;
    align-items: center;
    background-color: #000a;
    color: #fff;
    padding: 0 8px;
    height: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0;
  }
  .video-activity-card:hover .time,
  .video-activity-card:hover .watchlater {
    opacity: 1;
  }
  .video-activity-card .time {
    left: 4px;
  }
  .video-activity-card .watchlater {
    padding: 0 8px 0 3px;
    right: 4px;
    font-size: 11px;
  }
  .video-activity-card .watchlater .mdi {
    line-height: 1;
    margin-right: 4px;
    font-size: 16px;
  }
  .bangumi-activity {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    width: 100%;
  }
  .bangumi-activity.center {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .bangumi-card {
    --cover-width: 100px;
    margin: 0 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px 0px;
    display: grid;
    grid-template-areas: "cover epTitle" "cover title";
    grid-template-columns: var(--cover-width) 1fr;
    grid-template-rows: 6fr 5fr;
    position: relative;
    flex-shrink: 0;
  }
  &.dark .bangumi-card,
  &.dark .live-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px 0px;
  }
  .bangumi-card .up {
    grid-area: title;
    display: flex;
    align-items: center;
    padding: 0 12px;
    align-self: start;
    overflow: hidden;
  }
  .bangumi-card .up .cover {
    height: 18px;
    border-radius: 50%;
  }
  .bangumi-card .up .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 6px;
  }
  .bangumi-card .ep-title {
    grid-area: epTitle;
    font-size: 11pt;
    font-weight: bold;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    color: inherit;
  }
  .bangumi-card:hover .ep-title {
    color: var(--theme-color);
  }
  .bangumi-card .ep-cover {
    width: var(--cover-width);
    background-color: #8884;
    grid-area: cover;
  }

  .column-activity {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 12px;
  }
  .column-activity.center {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .column-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0px;
    position: relative;
    flex-shrink: 0;
  }
  .column-card .up {
    position: absolute;
    left: 8px;
    bottom: 6px;
    padding: 2px;
    display: flex;
    align-items: center;
    background-color: #000a;
    border-radius: 14px;
    height: 28px;
    box-sizing: border-box;
  }
  .column-card .face {
    border-radius: 50%;
    height: 24px;
  }
  .column-card .up .name {
    margin: 0 6px;
    color: #fff;
  }
  .column-card .title {
    padding: 10px 10px 0;
    font-size: 11pt;
    font-weight: bold;
    color: inherit;
  }
  .column-card:hover .title {
    color: var(--theme-color);
  }
  .column-card .description {
    margin: 8px 10px;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .column-card .covers {
    position: relative;
    display: flex;
  }
  .column-card .cover {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
  }
  .live-activity {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding-top: 4px;
  }
  .live-activity.center {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .live-card {
    margin: 0 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px 0px;
    display: grid;
    grid-template-areas: "face title" "face name";
    grid-template-columns: 48px 1fr;
    grid-template-rows: 6fr 5fr;
    height: 52px;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 2px;
    width: auto;
    flex-shrink: 0;
  }
  .live-card .face {
    grid-area: face;
    border-radius: 50%;
    height: 48px;
  }
  .live-card .live-title {
    grid-area: title;
    font-size: 11pt;
    font-weight: bold;
    align-self: center;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
  }
  .live-card:hover .live-title {
    color: var(--theme-color);
  }
  .live-card .name {
    grid-area: name;
    align-self: start;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .activity-content-enter-active,
  .activity-content-leave-active,
  .subscriptions-content-enter-active,
  .subscriptions-content-leave-active {
    transition: all 0.2s ease-out;
  }
  .activity-content-enter,
  .activity-content-leave-to,
  .subscriptions-content-enter,
  .subscriptions-content-leave-to {
    opacity: 0;
    transform: translateY(12px);
  }
  .video-activity-card.new .cover-container::before,
  .bangumi-card.new::before,
  .column-card.new::before {
    content: "NEW";
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: var(--theme-color);
    color: var(--foreground-color);
    padding: 0 6px;
    height: 18px;
    border-radius: 9px;
    font-weight: 700;
    font-size: 11px;
    line-height: 18px;
    z-index: 1;
  }
  .column-card.new::before {
    left: unset;
    right: 8px;
    top: 8px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 8px;
  }
}