.custom-navbar-settings {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  width: 370px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%) scale(0.95);
  z-index: 10001;
  background: var(--navbar-background);
  padding-top: 16px;
  box-shadow: #0002 0 1px 10px 1px;
  font-size: 16px;
  line-height: 1.5;

  &.dark {
    --navbar-background: #222;
    --navbar-foreground: #eee;
    box-shadow: #0004 0px 2px 10px 1px;
  }
  h1 {
    color: var(--navbar-foreground);
    font-size: 16pt;
    font-weight: bold;
  }
  &.show {
    pointer-events: initial;
    transform: translate(-50%, -46%) scale(1);
    opacity: 1;
  }
  .header,
  .orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    padding: 0 24px;
    font-size: 9pt;
  }
  .header .header-blank {
    flex-grow: 1;
  }
  .orders {
    flex-grow: 1;
  }
  .order-list {
    padding: 0 24px;
    max-height: 60vh;
    overflow: auto;
    overscroll-behavior: contain;
  }
  button {
    border: none;
    background-color: transparent;
    color: var(--navbar-foreground);
    padding: 8px;
    cursor: pointer;
  }
  button {
    font-size: 14pt;
  }
  button:hover {
    color: var(--theme-color);
  }
  .order-list {
    list-style: none;
    width: 100%;
    margin: 16px 0;
  }
  .order-list li .mdi-menu {
    padding: 8px;
  }
  .order-list i {
    font-size: 14pt;
  }
  .order-list i.mdi-menu {
    cursor: move;
  }
  .order-list li {
    color: var(--navbar-foreground);
    font-size: 12pt;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    transition: opacity 0.2s ease-out;
  }
  .order-list li.hidden {
    opacity: 0.5;
  }
  .paddings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    color: var(--navbar-foreground);
  }
  .paddings span {
    min-width: 40px;
  }
  .paddings input {
    flex-grow: 1;
    margin-right: 16px;
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
  }
  .paddings input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: var(--theme-color);
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 var(--theme-color-50);
    cursor: pointer;
    border: none;
    transform: translateY(-7px);
  }
  .paddings input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: var(--theme-color);
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 var(--theme-color-50);
    cursor: pointer;
    border: none;
  }
  .paddings input::-webkit-slider-runnable-track {
    width: 100%;
    background: #8884;
    height: 4px;
  }
  .paddings input::-moz-range-track {
    width: 100%;
    background: #8884;
    height: 4px;
  }
}