
.round-corner {
  .custom-navbar .popup,
  .custom-navbar .popup iframe {
    border-radius: var(--large-corner-radius);
  }
  #custom-navbar-home-popup .category-item {
    border-radius: var(--corner-radius);
  }

  #custom-navbar-home-popup .category-item .popup {
    border-radius: var(--corner-radius);
  }

  .user-info-panel .logout,
  .user-info-panel .login {
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
  }

  .custom-navbar .video-list li.more {
    /* border-bottom: 2px solid transparent; */
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
  }
  .custom-navbar-settings {
    border-radius: var(--large-corner-radius);
  }

  .custom-navbar .search-list-item {
    border-radius: var(--corner-radius);
  }

  .custom-navbar .bangumi-subscriptions-card {
    border-radius: var(--large-corner-radius);
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px 0px;
  }
  .custom-navbar .bangumi-subscriptions-card .cover {
    border-radius: var(--large-corner-radius) 0 0 var(--large-corner-radius);
  }

  .custom-navbar .column-card .cover:first-child {
    border-top-left-radius: var(--large-corner-radius);
  }
  .custom-navbar .column-card .cover:nth-last-child(2) {
    border-top-right-radius: var(--large-corner-radius);
  }

  .custom-navbar .video-activity-card,
  .custom-navbar .bangumi-card,
  .custom-navbar .column-card {
    border-radius: var(--large-corner-radius);
  }
  .custom-navbar .video-activity-card .cover {
    border-radius: var(--large-corner-radius) var(--large-corner-radius) 0 0;
  }
  .custom-navbar .bangumi-activity .ep-cover {
    border-radius: var(--large-corner-radius) 0 0 var(--large-corner-radius);
  }
}