@mixin search-box {
  .search {
    position: relative;
    flex-grow: 1;
    margin-right: 16px;
    input {
      width: 100%;
      padding: 4px;
      border: none;
      outline: none !important;
      color: inherit;
      background-color: transparent;
      border-radius: 4px;
      &::-webkit-input-placeholder {
        color: inherit !important;
        opacity: .3;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(100%);
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      transition: 0.24s ease-out;
      background-color: #8882;
    }
    &.not-empty,
    &:focus-within {
      &::after {
        background-color: var(--theme-color);
      }
    }
  }
}
