.custom-navbar {
  @mixin h-center {
    display: flex;
    align-items: center;
  }
  @mixin round-bar($height) {
    box-sizing: border-box;
    height: #{$height}px;
    border-radius: #{$height / 2}px;
  }
  @mixin no-scrollbar {
    scrollbar-width: none !important;
    &::-webkit-scrollbar {
      height: 0 !important;
      width: 0 !important;
    }
  }
  @mixin button-background {
    background-color: #8882;
    &:hover {
      background-color: #8884;
    }
  }
  @mixin floating-button-background {
    background-color: #000a;
  }
  .popup .watchlater-list {
    min-height: 200px;
    max-height: 600px;
    width: 224px;
    font-size: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .empty-tip,
    .loading-tip {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include h-center();
      .mdi {
        margin-right: 6px;
      }
    }
    .empty-tip {
      opacity: 1;
    }
    &.loading {
      .loading-tip {
        opacity: 1;
      }
      & > :not(.loading-tip) {
        opacity: 0;
      }
    }
    .mdi {
      line-height: 1;
      font-size: 18px;
    }
    .round-button {
      @include round-bar(28);
      @include h-center();
      @include button-background();
      justify-content: center;
      cursor: pointer;
      width: 28px;
    }
    .floating {
      @include round-bar(20);
      @include h-center();
      @include floating-button-background();
      color: white;
      justify-content: center;
      cursor: pointer;
    }
    .header {
      @include h-center();
      justify-content: space-between;
      margin: 16px 12px;
      .search {
        position: relative;
        input {
          width: 150px;
          padding: 4px;
          border: none;
          outline: none !important;
          color: inherit;
          background-color: transparent;
          border-radius: 4px;
        }
        &::after {
          content: "";
          position: absolute;
          top: calc(100%);
          left: 0;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          transition: 0.24s ease-out;
          background-color: #8882;
        }
        &.not-empty,
        &:focus-within {
          &::after {
            background-color: var(--theme-color);
          }
        }
      }
      .operations {
        @include h-center();
        .round-button {
          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }
      .more-info {
        @include h-center();
        @include round-bar(28);
        padding: 4px 6px 4px 10px;
        @include button-background();
        .mdi {
          margin-left: 8px;
        }
      }
    }
    .cards {
      flex: 1;
      overflow: auto;
      overscroll-behavior: contain;
      position: relative;
      @include no-scrollbar();
      // display: flex;
      // flex-flow: column nowrap;
      margin: 0 12px;
      padding-bottom: 16px;
      &-enter,
      &-leave-to {
        opacity: 0;
        transform: translateY(-16px) scale(0.75);
      }
      &-leave-active {
        transition: 0.24s cubic-bezier(0.22, 0.61, 0.36, 1);
        position: absolute;
      }
      .watchlater-card {
        cursor: pointer;
        flex-shrink: 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 #0001;
        color: black;
        background-color: #fff;
        display: grid;
        grid-template:
          "cover" 120px
          "title" auto
          "info" auto / 200px;
        body.dark & {
          background-color: #282828;
          color: #eee;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .cover-container {
          grid-area: cover;
          overflow: hidden;
          border-radius: 8px 8px 0 0;
          position: relative;
          $padding: 6px;
          .remove {
            top: $padding;
            right: $padding;
            width: 20px;
            .mdi {
              font-size: 16px;
            }
          }
          .duration {
            left: $padding;
            bottom: $padding;
            padding: 0 8px;
          }
          .viewed {
            white-space: nowrap;
            left: $padding;
            top: $padding;
            padding: 0 8px;
          }
          .floating {
            position: absolute;
            opacity: 0;
          }
          &:hover {
            .floating {
              opacity: 1;
            }
          }
        }
        .title {
          grid-area: title;
          font-size: 14px;
          font-weight: bold;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 3em;
          word-break: break-all;
          line-height: 1.5;
          overflow: hidden;
          margin: 8px 8px 0 8px;
          &:hover {
            color: var(--theme-color) !important;
          }
        }
        // .info {
        //   grid-area: info;
        //   display: flex;
        //   align-items: center;
        //   justify-content: space-around;
        //   margin: 8px;
        // }
        .up {
          flex: 0 1 auto;
          padding: 2px 10px 2px 2px;
          margin: 8px;
          justify-self: start;
          align-self: center;
          max-width: calc(100% - 16px);
          @include h-center();
          @include button-background();
          @include round-bar(28);
          .face {
            border-radius: 50%;
            margin-right: 6px;
          }
          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &:hover .name {
            color: var(--theme-color);
          }
        }
      }
    }
    .undo {
      position: absolute;
      bottom: 16px;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%) translateY(8px);
      &.show {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
      }
    }
  }
}
