html.image-viewer-opened,
body.image-viewer-opened {
  overflow: hidden !important;
}
.image-viewer-container,
.image-viewer-container * {
  transition: .2s ease-out;
}
.image-viewer-container {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100002;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.image-viewer-container.opened {
  opacity: 1;
  pointer-events: initial;
}
.image-viewer {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: auto 48px;
  grid-template-rows: 48px auto 48px 12px 48px 18px 48px;
  grid-template-areas:
    "image close"
    "image ."
    "image copy-link"
    "image ."
    "image new-tab"
    "image ."
    "image download";
  grid-column-gap: 12px;
  column-gap: 12px;
  justify-items: center;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  transform: scale(.95);
}
.image-viewer-container.opened .image-viewer {
  transform: scale(1);
}
.image-viewer .image-container {
  grid-area: image;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.image-viewer .image-container .image {
  flex: 1 0 0;
  height: 0;
  object-fit: contain;
}
.image-viewer .close {
  grid-area: close;
}
.image-viewer .download {
  grid-area: download;
}
.image-viewer .copy-link {
  grid-area: copy-link;
  transform: scale(0.95);
}
.image-viewer .new-tab {
  grid-area: new-tab;
  transform: scale(0.85);
}
.image-viewer-icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.image-viewer-icon svg {
  max-width: 48px;
  max-height: 48px;
}
.image-viewer-icon path {
  fill: #eee;
  transition: all 0.2s;
  transform-origin: center;
}
.image-viewer-icon:hover path {
  fill: var(--theme-color);
  transform: scale(1.1);
}
