.bili-header-m>.nav-menu,
.b-header-mask-wrp .b-header-mask
{
    background: var(--theme-color)ff !important;
    box-shadow: var(--theme-color-70) 0px 2px 10px 1px !important;
}

body .bili-header-m .nav-menu div.nav-mask,
.b-header-mask-wrp,
.z_top
{
    background-color: transparent !important;
    box-shadow: none !important;
}

.b-header-mask-wrp
{
    overflow: unset !important;
}

.bili-header-m .nav-menu .nav-con .nav-item .t,
.z_top.b-header-blur .z_top_nav li:not(.home) a.i-link
{
    color: var(--foreground-color-d) !important;
}

li.nav-item:hover,
.z_top .z_top_nav ul li:hover,
.uns_box ul.menu li:not(.b-post):hover
{
    background-color: hsla(0,0%,var(--brightness),.2) !important;
}

.vip-m
{
    background: white !important;
}

a.t>i.bili-icon
{
    filter: brightness(0) var(--invert-filter) !important;
    background-image: url(https://www.bilibili.com/favicon.ico) !important;
    background-size: cover !important;
    background-position: inherit !important;
    width: 16px !important;
    height: 16px !important;
    opacity: 0.81 !important;
}
.z_top .z_top_nav ul li.home
{
    filter: brightness(0) invert(1) !important;
    background: url(https://www.bilibili.com/favicon.ico) no-repeat left center !important;
    opacity: 0.81 !important;
    background-size: 16px !important;
    background-position-x: 16% !important;
}

#entryOld,
.nav-search-submit,
.b-icon-app,
.title-icon,
.z_top .z_top_nav li .new,
.z_top .z_top_nav li .beta,
.uns_box li.u-i.b-post .up-new
{
    display: none !important;
}

.i-face>.face,
.uns_box li.u-i .i_face
{
    box-shadow: 0 0 2px 1.5px #0002 !important;
    /* margin-top: -1px !important; */
}

div.up-load
{
    margin: 5px 0 0 5px !important;
    height: 32px !important;
}
.u-link,
.uns_box li.u-i.b-post a.i-link
{
    background: transparent !important;
    color: var(--foreground-color-d) !important;
    border-radius: 4px !important;
    line-height: 30px !important;
    height: 30px !important;
    border: 1px solid var(--foreground-color-b) !important;
    transition: background-color .2s !important;
}

.u-link:hover,
.uns_box li.u-i.b-post a.i-link:hover
{
    opacity: 1 !important;
    background-color: hsla(0,0%,var(--brightness),.2) !important;
}
.uns_box li.u-i.b-post
{
    margin-left: 8px !important;
}

.nav-search
{
    width: 140px !important;
}

.nav-search-keyword
{
    width: 130px !important;
}

#nav_searchform
{
    margin-top: 0.1rem !important;
    border-radius: 4px !important;
    background: #fffb !important;
    border: none !important;
    transition: background-color .2s !important;
    box-shadow: 0px 2px 10px 1px #0002;
}

#nav_searchform:hover
{
    background-color: #fff !important;
}

#bilibiliPlayer
{
    box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
}

.blur-bg
{
    opacity: $blurBackgroundOpacity !important;
    filter: blur(20px) !important;
}

.cancel
{
    width: 28px !important;
}

ul.bilibili-suggest
{
    margin-left: -30px !important;
    width: 200px !important;
}

li.suggest-item>a
{
    max-width: 155px !important;
}

div.num
{
    box-shadow: 0 0.5px 4px 0 #0004 !important;
}

#primary_menu,
#primary_menu>ul.nav-menu,
.uns_box li.u-i.b-post
{
    display: flex !important;
    align-items: center !important;
}

div.nav-gif,
#primary_menu
{
    padding: 0 !important;
}

.up-nav
{
    top: 37px !important;
}

.filter-item.search,
body
{
    margin: 0 !important;
}
.input-box textarea
{
    padding: 8px !important;
}
.bili-header-m .nav-search .nav-search-keyword
{
    color: #222 !important;
}
.tag-container .tag-item .tag-border .tag-border-inner
{
    width: 100% !important;
}
input.nav-search-keyword::placeholder,
.search-module .search-block input::placeholder
{
    color: #888 !important;
}
#home_noob.guide-box
{
    display: flex !important;
}

@media only screen and (min-width: 1291px)
{
    .bilibili-suggest.nav,
    .nav-search
    {
        width: 250px !important;
        margin-right: 72px !important;
    }

    .nav-search-keyword
    {
        width: 240px !important;
    }

    ul.bilibili-suggest
    {
        margin-left: 0px !important;
        width: 250px !important;
    }

    li.suggest-item>a
    {
        max-width: 205px !important;
    }
}
