.multi-page .cur-list .list-box li {
  height: auto !important;
}
.multi-page .cur-list .list-box li a {
  overflow: visible !important;
  white-space: normal !important;
}
.multi-page .cur-list ul {
  max-height: none !important;
}
