.panel-area .bb-comment .fold-comment {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 40px;
  width: calc(100% + 48px);
  font-size: 14px;
  transform: translateX(-24px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #99a2aa;
  cursor: pointer;
  transition: all .2s ease-out;
  z-index: 1000;
  border-radius: 4px;
}
.panel-area .bb-comment .fold-comment:hover {
  color: black;
}
body.dark .panel-area .bb-comment .fold-comment {
  background-color: #444;
  color: #eee;
}
body.dark .panel-area .bb-comment .fold-comment:hover {
  color: var(--theme-color);
}