.up-info .up-focus-btn,
.textarea-container .comm-tool .comm-emoji,
.textarea-container .comm-tool .comm-submit
{
    width: auto !important;
    padding: 0 4px !important;
}
.bb-comment .comment-send .comment-emoji
{
    width: max-content !important;
    padding: 0 4px !important;
}
.primary-menu .nav-menu .nav-name,
.primary-menu .nav-menu .side-nav .side-link span
{
    white-space: pre !important;
}
.dynamic-m .dyn_menu .line,
.tab-bar .line,
.nav-wrap .hover-bar
{
    display: none !important;
}
.tab-bar .tab .tab-text.selected
{
    color: var(--theme-color) !important;
    border-bottom: solid 2px var(--theme-color) !important;
    box-sizing: border-box !important;
}
.tag-panel .more-button,
.live-panel .more-button
{
    width: 44px !important;
}
.live-panel .more-button
{
    transform: translateX(-9px) !important;
}
.link-navbar .main-ctnr .nav-logo
{
    width: 70px !important;
}
.bili-header-m .profile-m .grade .bar
{
    width: 160px !important;
}
.link-navbar .main-ctnr,
.bili-search .contain
{
    width: 90% !important;
}
.n .n-data
{
    width: auto !important;
    padding: 10px 8px !important;
}
.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn:nth-child(2n)
{
    padding-left: 8px !important;
}
.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-spans>div
{
    align-items: center !important;
}
.bili-search .nav-wrap .wrap>.sub
{
    width: auto !important;
}
.bili-search .video.matrix:nth-child(5n)
{
    margin-right: 32px !important;
}
.bili-search .video.list
{
    width: calc(100% - 172px) !important;
}
.bili-search .video.list .des
{
    width: 100% !important;
}
.bili-search .rocket-con
{
    margin-left: 40% !important;
}