.live-sidebar-ctnr .sidebar-btn,
.up-info .up-focus-btn,
.textarea-container .comm-tool .comm-emoji,
.textarea-container .comm-tool .comm-submit,
.attention-btn-ctnr .left-part,
.admin-list-cntr .rank-cntr .item .admin-icon,
.h .h-f-btn,
.n .n-data,
.bili-search .nav-wrap .wrap>.sub,
#page-follows .follow-sidenav .text,
.author-info .favourite-btn,
.author-info .communicate-btn,
.dashboard li.like,
.history-wrap .history-btn,
.media-info .media-right .media-tool-bar .btn-follow,
.article-action .ops .coin-btn,
.article-action .ops .fav-btn,
.article-action .ops .like-btn,
.security-right .mp-mine-takedown,
.user-list .up-item .attention-btn.followed,
.user-list .up-item .attention-btn.followed:hover,
.info-line .status-no-attend,
.bb-comment .comment-list .list-item .info .operation .opera-list,
.player-auxiliary-area .player-auxiliary-setting-menu-wrap,
.bilibili-player-video-sendbar .bilibili-player-video-hint,
.bilibili-player-video-sendbar .bilibili-player-video-danmaku-switch .choose_danmaku,
.bangumi-info .info-right .info-title .func-module .bangumi-btn .btn-follow
{
    width: auto !important;
}
.bb-comment .comment-send .comment-emoji,
#app-ctnr .demo-app .category
{
    width: max-content !important;
}
.tag-panel .more-button,
.live-panel .more-button
{
    width: 44px !important;
}
.link-navbar .main-ctnr .nav-logo
{
    width: 70px !important;
}
.bili-header-m .profile-m .grade .bar
{
    width: 160px !important;
}
.link-navbar .main-ctnr,
.bili-search .contain
{
    width: 95% !important;
}
.bili-search .video.list
{
    width: calc(100% - 172px) !important;
}
.bili-search .video.list .des
{
    width: 100% !important;
}
.gui-settings-box
{
    width: 450px !important;
}
#page-follows .follow-sidenav .text
{
    min-width: 78px !important;
}
.h .h-f-btn
{
    min-width: 76px !important;
}
.primary-menu .nav-menu .nav-name,
.primary-menu .nav-menu .side-nav .side-link span
{
    white-space: pre !important;
}
.player-auxiliary-area .player-auxiliary-setting-menu-list
{
    white-space: nowrap !important;
}

.up-info .up-focus-btn,
.textarea-container .comm-tool .comm-emoji,
.textarea-container .comm-tool .comm-submit,
.attention-btn-ctnr .left-part,
.admin-list-cntr .rank-cntr .item .admin-icon,
.h .h-f-btn,
.bb-comment .comment-send .comment-emoji,
.media-info .media-right .media-tool-bar .btn-follow,
.article-action .ops .coin-btn,
.article-action .ops .fav-btn,
.article-action .ops .like-btn,
.player-auxiliary-area .player-auxiliary-setting-menu-list,
.bilibili-player-video-sendbar .bilibili-player-video-danmaku-switch .choose_danmaku
{
    padding: 0 8px !important;
}
.n .n-data
{
    padding: 10px 8px !important;
}
.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn:nth-child(2n)
{
    padding-left: 8px !important;
}
.dashboard li.share .text
{
    padding-top: 15px !important;
}
.cc-nav-wrp .nav-item
{
    padding: 0 0 0 40px !important;
}
.cc-nav-wrp .sub-nav a
{
    padding: 0 !important;
}
.player-auxiliary-area .player-auxiliary-filter-menu
{
    margin: 0 !important;
    position: relative !important;
    left: 0 !important;
}
.dashboard li.collection
{
    margin: 0 10px 0 0px !important;
}
.bili-search .rocket-con
{
    margin-left: 40% !important;
}
.bili-search .video.matrix:nth-child(5n)
{
    margin-right: 32px !important;
}
.follow-btn>span>span
{
    margin-left: 8px;
}

.dynamic-m .dyn_menu .line,
.tab-bar .line,
.nav-wrap .hover-bar,
.mode-webfullscreen .bilibili-player-video-sendbar .bilibili-player-video-hint,
.mode-fullscreen .bilibili-player-video-sendbar .bilibili-player-video-hint
{
    display: none !important;
}

.tab-bar .tab .tab-text.selected
{
    color: var(--theme-color) !important;
    border-bottom: solid 2px var(--theme-color) !important;
    box-sizing: border-box !important;
}
.live-panel .more-button
{
    transform: translateX(-9px) !important;
}
.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-spans>div
{
    align-items: center !important;
}
.dashboard li.collection>div:first-child
{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
.dashboard li.share
{
    display: inline-flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn
{
    float: none !important;
}
#area-list ul li dd
{
    font-size: 18px !important;
}
.author-info .favourite-btn,
.author-info .favourite-btn:active,
.author-info .communicate-btn,
.author-info .communicate-btn:active
{
    font-size: 12px !important;
}
.dashboard li.like
{
    border-color: transparent !important;
}
.gui-settings-tooltip
{
    left: 470px !important;
}
.bb-comment .comment-send .comment-submit,
.comment-bilibili-fold .comment-send .comment-submit
{
    overflow-wrap: break-word;
}
.info-section .area-text>a
{
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

html[lang='ja-JP'] .player-auxiliary-area .danmaku-info-row-block::after
{
    content: "ブロック" !important;
}

@media screen and (max-width: 1400px)
{
    .link-navbar .nav-item:not(:first-child) .label
    {
        padding: 0 12px !important;
    }
}