.up-info .up-focus-btn
{
    width: auto !important;
    padding: 0 4px !important;
}
.primary-menu .nav-menu>li:not(.home) .nav-name
{
    white-space: pre !important;
}
.dynamic-m .dyn_menu .line
{
    display: none !important;
}
.tag-panel .more-button
{
    width: 44px !important;
}