.frame-playback {
  display: none !important;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 2px;
  margin-left: 2px;
  cursor: pointer;

  span {
    height: 100%;
  }
  .bilibili-player-video-control-bottom & {
    display: flex !important;
  }
  .player-tooltips.active {
    transition-duration: .15s;
    transition-delay: .15s;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 4px));
    opacity: 0;
  }
  &:hover .player-tooltips {
    opacity: 1;
    transform: translateX(-50%) translateY(calc(-100% - 19px));
  }
  &.touch:hover .player-tooltips {
    transform: translateX(-50%) translateY(calc(-100% - 12px));
  }
  &.touch {
    padding: 0 4px;
    margin-left: 4px;
    span {
      display: flex;
      align-items: center;
    }
  }
  i {
    color: #fff;
    display: block;
    line-height: 1;
    transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    opacity: 0.9;
  }
  &:not(.touch) i {
    margin-top: -2px;
  }
  .bilibili-player.mode-fullscreen &,
  .bilibili-player.mode-webfullscreen & {
    margin-left: 4px;
    padding: 0 4px;

    span {
      transform: scale(1.2);
    }
    &:not(.touch) i {
      margin-top: 1px;
      line-height: inherit;
    }
    &.touch {
      margin-left: 6px;
    }
  }
  &.next-frame,
  &.prev-frame {
    i {
      transform: scale(1.3);
    }
    &:hover i {
      transform: scale(1.4);
      opacity: 1;
    }
    &:active i {
      transform: scale(1.25);
      opacity: 1;
    }
  }
}
