.frame-playback
{
    display: none !important;
    height: 100%;
    align-items: center;
    padding-left: 4px;
    cursor: pointer;
    filter: brightness(0) invert(1) !important;
}
.frame-playback.touch
{
    padding-left: 8px;
}
.frame-playback.touch span
{
    display: flex;
    align-items: center;
}
.bilibili-player-video-control-bottom .frame-playback
{
    display: flex !important;
}
.frame-playback i
{
    transition: all .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    opacity: 0.9;
}
.frame-playback:not(.touch) i
{
    margin-top: -2px;
}
.bilibili-player.mode-fullscreen .frame-playback span,
.bilibili-player.mode-webfullscreen .frame-playback span
{
    transform: scale(1.2);
}
.bilibili-player.mode-fullscreen .frame-playback:not(.touch) i,
.bilibili-player.mode-webfullscreen .frame-playback:not(.touch) i
{
    margin-top: 2px;
}
.bilibili-player.mode-fullscreen .frame-playback,
.bilibili-player.mode-webfullscreen .frame-playback
{
    margin-left: 0px;
}
.bilibili-player.mode-fullscreen .frame-playback.touch,
.bilibili-player.mode-webfullscreen .frame-playback.touch
{
    margin-left: 6px;
}

.frame-playback.prev-frame i
{
    transform: scale(1.3) rotate(-90deg);
}
.frame-playback.prev-frame:hover i
{
    transform: scale(1.4) rotate(-90deg);
    opacity: 1;
}
.frame-playback.prev-frame:active i
{
    transform: scale(1.25) rotate(-90deg);
    opacity: 1;
}

.frame-playback.next-frame i
{
    transform: scale(1.3) rotate(90deg);
}
.frame-playback.next-frame:hover i
{
    transform: scale(1.4) rotate(90deg);
    opacity: 1;
}
.frame-playback.next-frame:active i
{
    transform: scale(1.25) rotate(90deg);
    opacity: 1;
}