.toast-card-container
{
    --card-min-width: 240px;
    --card-min-width-negative: -240px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    padding-left: 16px;
    z-index: 100001;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
}
.toast-card-container *
{
    pointer-events: initial;
    transition: all .2s ease-out;
}
.toast-card.toast-card-container-enter
{
    opacity: 0;
    transform: translateX(var(--card-min-width-negative));
}
.toast-card.toast-card-container-leave-to
{
    opacity: 0;
    transform: translateX(var(--card-min-width-negative));
}
.toast-card
{
    background: #fff;
    min-width: var(--card-min-width);
    max-width: 60vw;
    min-height: 96px;
    margin: 8px 0;
    box-shadow: rgba(0,0,0,0.2) 0 4px 8px 0px;
    transform-origin: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left-width: 4px;
    border-left-style: solid;
    transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: relative;
}
.toast-card
{
    border-left-width: 0px;
    padding-left: var(--corner-radius);
    border-radius: var(--corner-radius);
}
.toast-card.toast-card-container-leave-active
{
    position: absolute;
    transition: .3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.toast-card-header
{
    display: flex;
    align-items: center;
}
.toast-card-title
{
    font-size: 18px;
    color: #000;
    opacity: 0.5;
    margin: 16px;
    font-weight: bold;
    flex: 1 1 auto;
}
.toast-card-dismiss
{
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
    padding: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s ease-out;
    transform-origin: center;
    opacity: 0.5;
    box-sizing: content-box;
}
.toast-card-dismiss:hover
{
    transform: scale(1.2);
}
.toast-card-dismiss:active
{
    transform: scale(1.1);
}
.toast-card-message
{
    color: #000;
    font-size: 14px;
    margin: 16px;
    margin-top: 0;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
}
.toast-card.toast-default
{
    border-left-color: #444;
}
.toast-card.toast-error
{
    border-left-color: #f44336;
}
.toast-card.toast-info
{
    border-left-color: #2196F3;
}
.toast-card.toast-success
{
    border-left-color: #8BC34A;
}
.toast-card .toast-card-border
{
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    left: 0;
}
.toast-card .toast-card-border
{
    border-radius: var(--corner-radius);
    height: calc(100% - 10px);
    width: var(--corner-radius);
    top: 5px;
    left: 0;
}
.toast-card.toast-default .toast-card-border
{
    background-color: #444;
}
.toast-card.toast-error .toast-card-border
{
    background-color: #f44336;
}
.toast-card.toast-info .toast-card-border
{
    background-color: #2196F3;
}
.toast-card.toast-success .toast-card-border
{
    background-color: #8BC34A;
}
.toast-card span,
.toast-card .link
{
    display: inline-block;
    padding: 4px 6px;
    margin: 0 2px;
    background-color: #8882;
    text-decoration: none;
    color: #000;
    transition: all .2s ease-out;
    border-radius: var(--corner-radius);
}
.toast-card .link:hover
{
    background-color: #8883;
}
.toast-card .link:active
{
    background-color: #8884;
}
@keyframes loading
{
    0%, 100%
    {
        top: 0%;
        left: 50%;
    }
    25%
    {
        top: 50%;
        left: 100%;
    }
    50%
    {
        top: 100%;
        left: 50%;
    }
    75%
    {
        top: 50%;
        left: 0%;
    }
}
.toast-card .loading
{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 14px;
    position: relative;
}
.toast-card .loading::after
{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #8884;
    border-radius: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    animation: loading 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}