.title-list .title-list-item:hover .tips,
.title-factory-card,
.p-relative.gold-seed-store.over-hidden .content,
.live-btn.default,
.collapse-subitem--active,
.invtable tr:nth-child(odd) td,
.el-input-group__append,
.el-input-group__prepend,
.cc-article-wrp .article-card .meta-view .appeal,
.cc-article-wrp .article-card .meta-view .data,
.cc-article-wrp .article-card .meta-view .delete,
.cc-article-wrp .article-card .meta-view .option,
.comment-list-item .ci-action a:hover,
.comment-manage-wrap .content .action-bar .dropdown .action-menu li:hover,
.comment-manage-wrap .content .action-bar .dropdown .sort-menu li:hover,
.hash-popup .topic-container .item.is-selected,
.fjw-kpi-wrap,
.mobile-kpi-head h2,
.mini-progress,
.tab-selector-wrap .tag-wrap .tag span,
.tab-selector-wrap .tag-wrap .tag span.selected,
.cc-body .setting,
.dropdown__content .dropdown__active,
.dropdown__content .dropdown__item:hover,
.layout .layout-main .main-footer,
.home-index .even,
.home-index .odd,
.stm-ly .sd-l a:hover,
.stm-ly .ct .stm-filter li.on,
.stm-lst-item .share,
.nav-item3:hover,
.nav-item3.active,
.nav-item2 .nav-item2-title:hover 
{
    background-color: #222 !important;
}
.live-haruna .tab-body .item,
.title-item,
.help-list,
.help-box,
.right-action-ctnr.pointer.dp-i-block.primary.btn.p-relative .btn.primary,
.code-content,
.invtable .codedone,
.cc-article-wrp .article-card,
.videoCharts .stat .stat-wrp,
.article-data-wrp .video-box,
.article-net-charts .content-box,
.article-net-charts .area,
.comment-manage-wrap .content,
.head .dropdown-btn,
.head .dropdown.open .dropdown-btn,
.dc-button.dc-button-text,
.dc-progress-bar,
.h-none-btn,
.list.main_body .right_box .select_box .select .option_block .option:hover,
.anime-expo-container,
.hot-goods-container,
.goods-container,
.comment-container,
.comment-container .main-desc .goods-info,
.scroll-container .main .article-container,
.fjw-kpi-wrap .fjw-kpi-mid .fjw-grade-wrap,
.fjw-kpi-wrap .fjw-kpi-top,
.fjw-kpi-wrap .fjw-kpi-foot .fjw-kpi-presents,
.tab-selector-wrap,
#newsList #list,
.pagination-container li.pagination-input-wrap .pagination-input,
.infor-body .news-contents,
.pager .jump-pager input[type=number],
.article-header .filter-wrp .category-wrp,
.article-header .filter-wrp .order-wrp,
.article-header .filter-wrp .article-type,
.article-header .filter-wrp .filter-article-type,
.article-header .filter-wrp .filter-level,
.article-header .filter-wrp .article-type .bili-btn,
.article-header .filter-wrp .filter-article-type .bili-btn,
.article-header .filter-wrp .filter-level .bili-btn,
.dropdown__content,
.ivu-input-costom-width .ivu-input-wrapper .ivu-input-wrapper-default .ivu-input-type .ivu-input,
.ivu-form-item-error .ivu-input-group-append,
.ivu-form-item-error .ivu-input-group-prepend,
.tags-box .tag,
.btn-primary,
.tag-modal,
.s-paging > ul > a,
.s-paging > ul > span,
.s-paging > ul > a.disabled,
.s-paging > ul > span.disabled,
.s-paging .jump-to-page input[type="text"],
.s-paging > ul > a:not(.disabled):not(.current):not(a):hover,
.s-paging > ul > span:not(.disabled):not(.current):not(a):hover,
#newsDetail .news-detail-content,
.stm-ly > .sd > .sec,
.stm-ly .usr,
.stm-ly .usr .info,
.stm-ly .usr .status,
.stm-ly .stm-lst li,
.stm-ly .stm-lst,
.stm-ly > .ct,
.security-right .sr-b .box-inner,
.drawer-pop-ctn.pop-ctn-4 .drawer-pop,
.app-ctnr .live-helper .main-content,
.app-ctnr .live-helper .main-content .anchor li,
.nav-warp2 .nav-item3,
.nav-item2 .nav-item2-title,
.nav-item1 .nav-item1-title
{
    background-color: #444 !important;
}
.live-haruna .section-stage .stage-wrap,
.tabs-nav .active,
.bangumi-collection-wrap .bangumi-collection,
.bangumi-collection-wrap .bangumi-collection-d,
.bangumi-collection-wrap .bangumi-order,
.bangumi-collection-wrap .bangumi-order-d,
.bangumi-order-wrap .bangumi-collection,
.bangumi-order-wrap .bangumi-collection-d,
.bangumi-order-wrap .bangumi-order,
.bangumi-order-wrap .bangumi-order-d,
.sr-record a.on 
{
    background-image: none !important;
}
.help-subcontent p
{
    background-color: transparent !important;
}
.article-header .filter-wrp .article-type .line,
.article-header .filter-wrp .filter-article-type .line,
.article-header .filter-wrp .filter-level .line,
.border-line,
.setting .follow-setting .follow-wrp .follow-modal
{
    background: transparent !important;
}
.title-item,
.notice-ctnr .blink,
.notice .blink,
.add-cover,
.my-room.room-info .room-info-ctnr .timing-num,
.my-room.room-info .room-info-ctnr .san-num,
.recent-danmu-wrp .danmu-filter .left .danmu-type .plain.disable,
.recent-danmu-wrp .danmu-filter .left .protect .plain.disable,
.recent-danmu-wrp .danmu-filter .left .refresh .plain.disable,
.recent-danmu-wrp .danmu-filter .left .delete .plain.disable,
.qrcode-box .tip,
.announcement-cntr .tips,
.live-haruna,
.record-ctnr .summary .s-item .title,
.main_body .future .future_list .future_block .info .loca,
.edit-button > span,
.room-introduction-content.empty,
.invitation-subtitle,
.cc-article-wrp .article-card .meta-title .typename,
.cc-article-wrp .article-card .meta-view .appeal,
.cc-article-wrp .article-card .meta-view .data,
.cc-article-wrp .article-card .meta-view .delete,
.cc-article-wrp .article-card .meta-view .option,
.article-data-wrp .menu-wrp .menu-tips,
.type-rank-item-label,
.h-none-msg,
.page_body .page_box .block .info .text,
.list.main_body .list_box .block .info .text,
.list.main_body .right_box .select_box .select .option_block .option,
.comment-container .main-desc .comment-info .word-container .bottom .personal-info .nickname,
.fjw-kpi-wrap .fjw-kpi-top .fjw-person-detail label.fjw-person-item,
.tab-selector-wrap .tag-wrap .tag span,
.item .brief-desc,
.left-nav-childed-list,
.card-user,
.play-num,
.setting .follow-setting .follow-wrp .follow-modal .follow-show p,
.main-footer .cp,
.main-footer .link-item a,
.sap-use-view,
.stm-ly .sd-l a,
.stm-ly .stm-lst .hint,
#page-index .col-2 .section .auth-detail
{
    color: #aaa !important;
}
.title-name,
.start-live,
.room-id,
.live-setting-ctnr,
.live-btn,
.my-room.room-info .room-info-ctnr .room-id,
.live-btn.default,
.popup-content,
.t-gray-dark,
.live-info .label,
.main_body .pick_up .pick_list .pick_block .info .title,
.main_body .future .future_list .future_block .info .title,
.collapse-item a,
.help-subtitle,
.collapse-subitem--active a,
.drop-menu-item,
.invitation-title,
.code-btn,
table.invtable td,
.invtable .codedone,
.el-input-group__append,
.el-input-group__prepend,
.cc-article-wrp .article-header .search-wrp input,
.head .dropdown-menu .search .bili-input,
#dc-section_summary .source-rank-list-item .video-info-title a,
.dc-button.dc-button-text,
.dc-button.dc-button-text a,
.dc-button.dc-button-text:hover,
.home-top-msg-name,
.h-none-btn,
.h-none-btn:hover,
.big-user-name,
.page_body .page_box .block .info .title,
.list.main_body .list_box .block .info .title,
.list.main_body .right_box .select_box .select .title,
.anime-expo-container .head .title,
.comment-container .head .title,
.article-container .head .title,
.fjw-kpi-wrap .fjw-kpi-mid .fjw-grade-wrap .fjw-progress-title .description,
.fjw-kpi-wrap .fjw-kpi-mid .fjw-grade-wrap .fjw-grade .fjw-grade-text,
.mobile-kpi-head h2,
.fjw-kpi-wrap .fjw-kpi-top .fjw-person-detail label.fjw-person-item .fjw-name,
.fjw-kpi-wrap .fjw-kpi-foot .fjw-kpi-presents .kpi-presents-item .present-text,
.fjw-kpi-wrap h2.fjw-kpi-h2,
.article-holder .ticket-card a .container .title,
.item .title-wrap,
.pagination-container li.pagination,
.pagination-container li.pagination-input-wrap .pagination-input,
.c-top .name-top1,
.news-contents h2,
.infor-body-left .news-contents .c-text,
.total-bt .t-date a,
.tv-m2 .tv-m-tt,
.tv-m3 .tv-m-tt,
.left-nav-item,
.left-nav-item-child,
.card-txt,
.academy-right-link,
.tabs-tab,
.academy-left-name,
.pager .jump-pager input[type=number],
.go-back-link,
.left-nav-item .icon,
.article-header .filter-wrp .category-wrp,
.article-header .filter-wrp .order-wrp,
.article-header .dropdown-btn .icon-text,
.article-header .filter-wrp .article-type .bili-btn,
.article-header .filter-wrp .filter-article-type .bili-btn,
.article-header .filter-wrp .filter-level .bili-btn,
.article-header .filter-wrp .article-bread .main,
.left-nav-wrapper .advice-btn,
.dropdown__content .dropdown__item,
.dropdown__content .dropdown__item:hover,
.dropdown__content .dropdown__active,
.article-header .dropdown-btn,
.article-header .dropdown-btn .icon-ic_unfold,
.search-wrp .bili-input,
.help-subindex,
.ivu-input-costom-width .ivu-input-wrapper .ivu-input-wrapper-default .ivu-input-type .ivu-input,
.ivu-input-group-append,
.ivu-input-group-prepend,
.about-index .about-desc,
.ivu-form .ivu-form-item-label,
.ivu-btn-primary.active,
.ivu-btn-primary:active,
.ivu-btn-primary:hover,
.tag-default.current,
.tag-default:active,
.tag-default:hover,
.tag-default,
.details-list-t div,
.details-up-name a,
.btn-primary,
.tag-modal,
.tag-modal .tag-title,
.tag-modal .tag-item,
.spa-sub-title,
.spa-user-info a,
.spa-use-type,
#gameCenter .hot-list .s-imgUnit .rank.gray,
.s-statusUnit-text .info a,
.bp_user_box .bp_user_box_bb,
.bp_user_box .bp_user_box_bk,
.list-wrap.hot-forum-lft-con .s-imgUnit a,
.sponsor-pay-dialog-v2 .sp-quick-pay .sponsor-pay-body .sponsor-control-group,
#gameCenter .look-around .s-imgUnit .s-imgUnit-text ,
.s-paging > ul > a,
.s-paging > ul > span,
.s-paging > ul > a:not(.disabled):not(.current):hover,
.s-paging > ul > span:not(.disabled):not(.current):hover,
.s-paging .jump-to-page input[type="text"],
.s-paging > ul > a:not(.disabled):not(.current):not(a):hover,
.s-paging > ul > span:not(.disabled):not(.current):not(a):hover,
.news-detail-content .news-title,
.news-content a,
.stm-ly .ct .stm-filter li,
.stm-ly .stm-lst .name a,
.sr-record a,
.categories-bar .tag-item,
.info-line a,
.coin-operated-m .like-checkbox,
.tab-selector-wrap .tab-wrap .tab a,
.app-ctnr .live-helper .main-content .menu-item .menu-title,
.app-ctnr .live-helper .main-content .menu-item .menu-txt,
.app-ctnr .live-helper .main-content .anchor li,
.nav-warp2 .nav-item3,
.nav-item3.active,
.nav-item2 .nav-item2-title
{
    color: #eee !important;
}
.title-item,
.title-factory-card,
.title-factory-card .title-num,
.title-list .title-list-item:hover .tips .tips-title,
.tag-input,
.user-ctnr .top,
.my-room.room-info .room-info-ctnr .top,
.live-haruna .tab-body .item,
.recent-danmu-wrp .danmu-filter .left .delete .plain,
.recent-danmu-wrp .danmu-filter .left .danmu-type .plain,
.recent-danmu-wrp .danmu-filter .left .protect .plain,
.recent-danmu-wrp .danmu-filter .left .refresh .plain,
.popup-close-btn,
.user-avatar,
.areas .area,
.record-ctnr .summary,
.help-list,
.help-box,
.code-result,
.el-input-group__append,
.el-input-group__prepend,
.page-wrp.is-article.cc-article-wrp .article-card,
.videoCharts .stat .stat-wrp .stat-card,
.article-chart-wrp,
.comment-list-item,
.head .dropdown-btn,
.dropdown .dropdown-menu,
#dc-section_summary .source-rank-list-item,
.list.main_body .right_box .select_box .select .title,
.list.main_body .list_box .block,
.mobile-kpi-head,
.article-holder .ticket-card a,
.tab-selector-wrap .tab-wrap,
.pagination-container li.pagination,
.pagination-container li.pagination-input-wrap .pagination-input,
.c-text .c-hd2,
.tv-m2:nth-child(odd),
.tv-m2,
.tv-m3,
.pager .jump-pager input[type=number],
.article-header .filter-wrp .category-wrp,
.article-header .filter-wrp .order-wrp,
.btn-section .btn-item,
.article-header .filter-wrp .article-type,
.article-header .filter-wrp .filter-article-type,
.article-header .filter-wrp .filter-level,
.setting .cc-content-body .setting .follow-setting,
.ivu-input-costom-width .ivu-input-wrapper .ivu-input-wrapper-default .ivu-input-type .ivu-input,
.about-index .about-desc,
.apply-form .btn, .apply-form .btn:hover,
.main-footer .link-item,
.tag-default.current,
.tag-default:active,
.tag-default,
.btn-primary,
#gameCenter .hot-list .s-imgUnit,
#gameCenter .hot-list .s-imgUnit:hover,
#gameCenter .hot-list .s-imgUnit .rank,
.bp_user_box_bb,
.bp_user_box_bottom p,
.s-paging > ul > a,
.s-paging > ul > span,
.s-paging > ul > a.current,
.s-paging > ul > span.current,
.s-paging > ul > a:not(.disabled):not(.current):not(a),
.s-paging > ul > span:not(.disabled):not(.current):not(a),
.s-paging > ul > a:not(.disabled):not(.current):hover,
.s-paging > ul > span:not(.disabled):not(.current):hover,
.s-paging .jump-to-page input[type="text"],
.s-paging > ul > a:not(.disabled):not(.current):not(a):hover,
.s-paging > ul > span:not(.disabled):not(.current):not(a):hover,
.tab-selector-wrap .tag-wrap .tag span.selected,
.stm-ly > .sd > .sec,
.stm-ly .usr,
.stm-ly .stm-lst li + li,
.stm-ly > .ct,
.stm-ly .ct .stm-filter li.on,
.stm-lst-item .share,
.security-right .sr-record,
.drawer-pop-ctn.pop-ctn-4 .draw-list ,
.news-detail-content .sepatator,
.left-side .categories-bar,
.nav-warp2 .nav-item3,
.nav-item2 .nav-item2-title,
.nav-warp1 .nav-item2
{
    border-color: transparent !important;
}
.link-input,
.add-cover,
.cc-article-wrp .article-card .meta-title .typename
{
    border-color: #aaa !important;
}
.left-nav-logo,
.icon-back
{
    filter: brightness(0) invert(1) !important;
}
.videoCharts .stat .stat-wrp,
.article-data-wrp .video-box,
.article-net-charts .content-box,
.el-radio-button__orig-radio:checked + .el-radio-button__inner
{
    box-shadow: none !important;
}
.add-cover:hover,
.category:not(.gui-settings-content .category):hover,
.data-card .data-box .tab .fan-tab.current:after,
.data-card .fans-box .tab .fan-tab.current:after,
.section-item .diff-wrp .diff-text:before,
.tab-selector-wrap .tag-wrap .tag span.selected,
.tab-selector-wrap .tab-wrap .tab span.active,
.tabs-tab-active:before,
.ivu-input:focus,
.ivu-input:hover,
.security-right .sr-record a.on,
.left-side .categories-bar .tag-item.on,
.app-ctnr .live-helper .main-content .menu-item .menu-title,
.nav-item3.active,
.bilibili-player .bilibili-player-auxiliary-area .bilibili-player-filter .bilibili-player-filter-btn.active > span 
{
    border-color: var(--theme-color) !important;
}
.live-btn,
.live-btn:active,
.live-btn:hover,
.live-btn.default:active,
.live-btn.default:hover,
.popup-close-btn,
.helper-icon-dots,
.code-btn,
.code-btn:hover,
.cc-article-wrp .article-card .meta-view .appeal:hover,
.cc-article-wrp .article-card .meta-view .data:hover,
.cc-article-wrp .article-card .meta-view .delete:hover,
.cc-article-wrp .article-card .meta-view .option:hover,
.head .dropdown-btn:hover,
.dc-button.dc-button-text:hover,
.h-none-btn:hover,
.item .title-wrap .activity,
.tabs_active-bar,
.apply-form .btn,
.apply-form .btn:hover,
.tag-default.current,
.tag-default:active,
.tag-default:hover,
.qa-index .help-list .collapse-item.collapse-item-active .collapse-title-icon,
.balance_bp_box .button,
.ac-artilce-tabs .tabs-nav .active,
.s-paging > ul > a.current,
.s-paging > ul > span.current,
.s-paging > ul > a:not(.disabled):not(.current):hover,
.s-paging > ul > span:not(.disabled):not(.current):hover 
{
    background-color: var(--theme-color) !important;
}
.notice-ctnr .blink:hover,
.notice .blink:hover,
.add-cover:hover,
.bili-blue,
.text-blue,
.save-btn.active,
.collapse-item--active .collapse-title,
.help-subindex,
.drop-menu-item:hover,
.icon-label.hover-text-blue:hover .label,
.stat-card .num .text,
.comment-card .comment-item .comment-info .reply-block .comment-vedio a,
.section-item .diff-wrp .diff-text,
.comment-container .main-desc .goods-info .desc .price,
.hot-goods-container .bottom .price-tag .price,
.goods-container > .info-container .price,
.anime-expo-container .main .price,
.tab-selector-wrap .tab-wrap .tab span:hover,
.tab-selector-wrap .tag-wrap .tag span.selected,
.tab-selector-wrap .tab-wrap .tab span.active,
.item:hover .title,
.total-bt .t-date a:hover,
.tv-m2 .tv-m-tt:hover,
.tv-m3 .tv-m-tt:hover,
.left-nav-item:hover,
.left-nav-item-child:hover,
.left-nav-item-childed:hover,
.academy-right-link:hover,
.tabs-tab-active,
.left-nav-item:hover .icon,
.left-nav-item-childed:hover,
.article-header .filter-wrp .article-type .bili-btn.current,
.article-header .filter-wrp .filter-article-type .bili-btn.current,
.article-header .filter-wrp .filter-level .bili-btn.current,
.help-subcontent a,
.help-subcontent a:hover,
.fixed-service-word a,
.fixed-service-word a:hover,
.help-title-wrap.help-box .help-title,
.link-no-hover:hover,
.qa-index .help-content .help-title,
.qa-index .help-list .collapse-item.collapse-item-active .collapse-title,
.qa-index .help-list .collapse-item.collapse-item-title,
#status .s-statusUnit .s-statusUnit-text .info .game-name,
#gameCenter .hot-list .s-imgUnit .rank.pink,
.s-statusUnit-text .info a:hover,
.list-wrap.hot-forum-lft-con .s-imgUnit a:hover,
.list-wrap.lft-con .s-imgUnit a:hover,
.stm-ly .stm-lst .name a:hover,
.stm-ly .stm-lst a,
.stm-ly .stm-lst a:hover,
.sr-record a:hover,
.sr-record a.on,
.categories-bar .tag-item.on,
.app-ctnr .live-helper .main-content .anchor li:hover,
.app-ctnr .live-helper .main-content .menu-item .menu-txt p a,
.nav-item1 .nav-item1-title.expand 
{
    color: var(--theme-color) !important;
}
.data-card .data-box .tab .fan-tab.current:after,
.data-card .fans-box .tab .fan-tab.current:after,
.section-item .diff-wrp .diff-text:before,
.tabs-tab-active:before
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}