.bili-header-m .nav-menu .nav-con .nav-item:hover,
.right-part>.shortcuts-ctnr .shortcut-item:hover,
#link-navbar-vm>.link-navbar .nav-item:hover
{
    background-color: #222;
}
.bili-header-m .nav-menu .nav-mask,
#link-navbar-vm>.link-navbar,
#navbar-vm>.link-navbar,
#app>.link-navbar,
#app>.nav-header-wrapper>.nav-header,
#app>.nav-header-wrapper
{
    background-color: #444;
}
.bili-header-m .nav-menu .nav-con .nav-item .t,
#link-navbar-vm>.link-navbar .main-ctnr .nav-logo,
.right-part>.shortcuts-ctnr,
.right-part>.shortcuts-ctnr .shortcut-item:hover,
#link-navbar-vm>.link-navbar .nav-item:hover,
.my-link-btn .label,
#app>.link-navbar .main-ctnr .nav-logo,
#app>.link-navbar .nav-item.selected .label,
#app>.link-navbar .nav-item:hover .icon-font,
#app>.nav-header-wrapper>.nav-header .nav-header-mainsite,
#app>.nav-header-wrapper>.nav-header .order-center
{
    color: #eee;
}
#link-navbar-vm>.link-navbar-ctnr,
#app>.link-navbar
{
    box-shadow: none;
}
#link-navbar-vm>.link-navbar .main-ctnr .nav-logo::before,
#app>.link-navbar .main-ctnr .nav-logo::before
{
    filter: $blueImageFileter !important;
}
#app>.nav-header-wrapper .nav-header .order-icon
{
    filter: brightness(0) invert(1) !important;
}