.content .share-wrap,
.box .content-wrap .btn .info,
.nomal-task .bottom-box .btn,
.item-wrap__task .operate-btn,
.dialog-wrapper .dialog,
.fjw-kpi-wrap-bg,
.fjw-point .point-wrap .user-point .face .unfocus-btn
{
    background-color: #222 !important;
}
.at-popup .user-container .item.is-selected,
.pgc-space-follow-item .bangumi-options .opt-list,
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list li:hover
{
    background-color: #333 !important;
}
.mession-box .content .list-wrap .item-index,
.news-dialog-Wrapper,
.box .record-wrap,
.box .content-wrap,
.pgc-space-follow-item .bangumi-options .opt-list li:hover,
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list
{
    background-color: #444 !important;
}
/* a
{
    background-image: none !important;
} */
.player-auxiliary-area .danmaku-info-row-special,
.rank-list-ctnr .normal-list .item.self,
.rank-list-ctnr .own,
.high-wrapper .body-padding
{
    background-color: transparent !important;
}
.box .title .h1:after
{
    background: #fff !important;
}
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-danmaku,
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-time,
.player-auxiliary-area .danmaku-info-row-block::after,
.player-auxiliary-area .danmaku-info-row-super::after,
.mession-box .content .list-wrap .item-summary,
.box .content-wrap p,
.box .list-box .wrap-list .text,
.bottom-box .wrap-list .gift-item .B-paper,
.item-wrap__task .content-desc
{
    color: #aaa !important;
}
.dynamic-m .dyn_menu li,
.dynamic-btn.pink.with-border-radius.publish-btn.disabled,
.mession-box .content .list-wrap .item-title,
.mession-box .content .list-wrap .item-index,
.mession-box .btn,
.mession-box .title,
.cc-nav-wrp .activity-nav-wrp .activity-link,
.news-dialog__wrapper .dialog-wrapper__desc .dialog-wrapper__title,
.news-dialog__wrapper .dialog-wrapper__desc .dialog-wrapper__body,
.news-dialog__wrapper .dialog-wrapper__desc .dialog-wrapper__btn,
.box .title .h1,
.box .title .progress-num,
.bottom-box .complete,
.item-wrap__task .content-title,
.item-wrap__task .operate-btn,
.empty-wrap .empty-text,
.fjw-point .point-wrap .user-point .face .unfocus-btn,
.sub-tabs .filter-content,
.pgc-space-follow-item .bangumi-options .opt-list li,
.pgc-space-follow-item .bangumi-options .opt-list li:hover,
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list li
{
    color: #eee !important;
}
/* a
{
    color: #fff !important;
} */
.bangumi-timing-module .headline .c-clink,
.home-container .at-popup,
.coin-nav,
.nomal-task .card,
.item-wrap__task .operate-btn,
.ban-vote .vote-dialog .dialog-header,
.pgc-space-follow-item .bangumi-options .opt-list,
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list
{
    border-color: transparent !important;
}
.carousel-wrp .page .next,
.item-wrap__task:before,
.item-wrap__task:after
{
    border-color: #aaa !important;
}
.mession-box .content .list-wrap .border-btm,
.mession-box .content,
.live-category .latest,
.link-input
{
    border-color: #444 !important
}
/* a
{
    border-color: white !important;
} */
/* a
{
    fill: #aaa !important;
} */
/* a
{
    fill: #fff !important;
} */
/* a
{
    filter: brightness(0) invert(1) !important;
} */
/* a
{
    filter: brightness(0) invert(.7) !important;
} */
.fold-box:hover .fold-arrow,
.sticky-bar .bar-content .title-icon,
.fjw-random .agree.active,
.fjw-random .agree:hover,
.fjw-random .unagree.active,
.fjw-random .unagree:hover,
.svga-container.svga-center canvas,
.ops canvas.ring-progress
{
    filter: var(--blue-image-filter) !important;
}
/* a
{
    filter: var(--pink-image-filter) !important;
} */
/* a
{
    filter: grayscale(1) !important;
} */
/* a
{
    filter: brightness(0.7) !important;
} */
.news-dialog__wrapper .trangle-img img
{
    filter: brightness(0.27) !important;
}
/* a
{
    filter: brightness(0.5) !important;
} */
/* a
{
    background-image: none !important;
} */
.box .record-wrap
{
    box-shadow: none !important;
}
/* a
{
    box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
} */
.section-block .at-popup,
.pgc-space-follow-item .bangumi-options .opt-list
{
    box-shadow: 0px 1px 10px 0px var(--theme-color-30) !important;
}
/* a
{
    display: none !important;
} */
.members-info .up-card
{
    margin: 16px !important;
}
.members-info .up-card .info-name,
.members-info .up-card .info-title
{
    width: auto !important;
}
/* a
{
    border-color: var(--theme-color) !important;
} */
/* a
{
    border-top-color: var(--theme-color) !important;
} */
/* a
{
    border-bottom-color: var(--theme-color) !important;
} */
/* a
{
    border-right-color: var(--theme-color) !important;
} */
/* a
{
    border: 1px solid var(--theme-color) !important;
} */
.progress-bar-core.p-absolute,
.news-dialog__wrapper .dialog-wrapper__desc .dialog-wrapper__btn,
.bottom-box .complete .complete_text:before,
.item-wrap__task .item-index
{
    background-color: var(--theme-color) !important;
}
/* a
{
    background-color: var(--theme-color-60) !important;
} */
/* a
{
    background-color: var(--theme-color-90) !important;
} */
.d-data .fold-box:hover,
.cc-nav-wrp .nav-item.active i,
.cc-nav-wrp .nav-item.active span,
.cc-nav-wrp .nav-item:hover i,
.cc-nav-wrp .nav-item:hover span,
.cc-nav-wrp .activity-nav-wrp .activity-link.active i,
.cc-nav-wrp .activity-nav-wrp .activity-link.active span,
.cc-nav-wrp .activity-nav-wrp .activity-link:hover i,
.cc-nav-wrp .activity-nav-wrp .activity-link:hover span,
.mession-box .btn:hover,
.bottom-box .complete .uncomplete,
.n-statistics a:hover,
.live-category .latest a:hover,
.live-category .latest a.active
{
    color: var(--theme-color) !important;
}
.bangumi-timing-module .headline .c-clink:hover,
.elevator-module .nav-list .customize:hover,
.elevator-module .nav-list .item.on,
.bangumi-timing-module .headline .c-clink,
.dynamic-m .wnd_bottom a:hover,
.sticky-bar .bar-content .send-button .send-text,
.favInfo-box .favInfo-details .fav-options .fav-play:hover,
#page-fav .fav-sidenav .fav-item.cur .text.router-link-exact-active.router-link-active,
#page-fav .fav-sidenav .fav-item.cur .num,
#page-fav .fav-sidenav .fav-item.cur .be-dropdown-trigger .icon-ic_more,
#page-fav .fav-sidenav .fav-item.cur .iconfont,
.edit-media-list .edit-mask .edit-board .edit-info .submit-btn,
.item-wrap__task .item-index,
.link-navbar .nav-item:hover .nav-link
{
    color: var(--foreground-color) !important;
}
/* a
{
    fill: var(--theme-color) !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-left-color: transparent !important;
} */
/* a
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
} */