/* a
{
    background-color: #222 !important;
} */
.at-popup .user-container .item.is-selected
{
    background-color: #333 !important;
}
/* a
{
    background-color: #444 !important;
} */
/* a
{
    background-image: none !important;
} */
.player-auxiliary-area .danmaku-info-row-special,
.rank-list-ctnr .normal-list .item.self,
.rank-list-ctnr .own
{
    background-color: transparent !important;
}
/* a
{
    background: #fff !important;
} */
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-danmaku,
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-time,
.player-auxiliary-area .danmaku-info-row-block::after,
.player-auxiliary-area .danmaku-info-row-super::after
{
    color: #aaa !important;
}
.dynamic-m .dyn_menu li,
.dynamic-btn.pink.with-border-radius.publish-btn.disabled
{
    color: #eee !important;
}
/* a
{
    color: #fff !important;
} */
.bangumi-timing-module .headline .c-clink,
.section-block .at-popup,
.coin-nav
{
    border-color: transparent !important;
}
/* a
{
    border-color: #aaa !important;
} */
/* a
{
    border-color: #444 !important
} */
/* a
{
    border-color: white !important;
} */
/* a
{
    fill: #aaa !important;
} */
/* a
{
    fill: #fff !important;
} */
/* a
{
    filter: brightness(0) invert(1) !important;
} */
/* a
{
    filter: brightness(0) invert(.7) !important;
} */
.fold-box:hover .fold-arrow,
.sticky-bar .bar-content .title-icon
{
    filter: var(--blue-image-filter) !important;
}
/* a
{
    filter: var(--pink-image-filter) !important;
} */
/* a
{
    filter: grayscale(1) !important;
} */
/* a
{
    filter: brightness(0.7) !important;
} */
/* a
{
    filter: brightness(0.2) !important;
} */
/* a
{
    filter: brightness(0.5) !important;
} */
/* a
{
    background-image: none !important;
} */
/* a
{
    box-shadow: none !important;
} */
/* a
{
    box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
} */
.section-block .at-popup
{
    box-shadow: 0px 1px 10px 0px var(--theme-color-30) !important;
}
/* a
{
    display: none !important;
} */
.members-info .up-card
{
    margin: 16px !important;
}
.members-info .up-card .info-name,
.members-info .up-card .info-title
{
    width: auto !important;
}
/* a
{
    border-color: var(--theme-color) !important;
} */
/* a
{
    border-top-color: var(--theme-color) !important;
} */
/* a
{
    border-bottom-color: var(--theme-color) !important;
} */
/* a
{
    border-right-color: var(--theme-color) !important;
} */
/* a
{
    border: 1px solid var(--theme-color) !important;
} */
.bangumi-timing-module .headline .c-clink,
.progress-bar-core.p-absolute
{
    background-color: var(--theme-color) !important;
}
/* a
{
    background-color: var(--theme-color-60) !important;
} */
/* a
{
    background-color: var(--theme-color-90) !important;
} */
.d-data .fold-box:hover
{
    color: var(--theme-color) !important;
}
.bangumi-timing-module .headline .c-clink:hover,
.elevator-module .nav-list .customize:hover,
.elevator-module .nav-list .item.on,
.bangumi-timing-module .headline .c-clink,
.dynamic-m .wnd_bottom a:hover,
.sticky-bar .bar-content .send-button .send-text,
.favInfo-box .favInfo-details .fav-options .fav-play:hover,
#page-fav .fav-sidenav .fav-item.cur .text.router-link-exact-active.router-link-active,
#page-fav .fav-sidenav .fav-item.cur .num,
#page-fav .fav-sidenav .fav-item.cur .be-dropdown-trigger .icon-ic_more,
#page-fav .fav-sidenav .fav-item.cur .iconfont,
.edit-media-list .edit-mask .edit-board .edit-info .submit-btn
{
    color: var(--foreground-color) !important;
}
/* a
{
    fill: var(--theme-color) !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-left-color: transparent !important;
} */
/* a
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
} */