.title-list .title-list-item:hover .tips,
.title-factory-card,
.p-relative.gold-seed-store.over-hidden .content,
.live-btn.default 
{
    background-color: #222 !important;
}
.live-haruna .tab-body .item,
.title-item
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #fff1 !important;
// }
.live-haruna .section-stage .stage-wrap 
{
    background-image: none !important;
}
// a
// {
//     background-color: transparent !important;
// }
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }

.title-item,
.notice-ctnr .blink,
.notice .blink,
.add-cover,
.my-room.room-info .room-info-ctnr .timing-num,
.my-room.room-info .room-info-ctnr .san-num,
.recent-danmu-wrp .danmu-filter .left .danmu-type .plain.disable,
.recent-danmu-wrp .danmu-filter .left .protect .plain.disable,
.recent-danmu-wrp .danmu-filter .left .refresh .plain.disable,
.recent-danmu-wrp .danmu-filter .left .delete .plain.disable,
.qrcode-box .tip,
.announcement-cntr .tips,
.live-haruna,
.record-ctnr .summary .s-item .title 
{
    color: #aaa !important;
}
.title-name,
.start-live,
.room-id,
.live-setting-ctnr,
.live-btn,
.my-room.room-info .room-info-ctnr .room-id,
.live-btn.default,
.popup-content,
.t-gray-dark,
.live-info .label 
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.title-item,
.title-factory-card,
.title-factory-card .title-num,
.title-list .title-list-item:hover .tips .tips-title,
.tag-input,
.user-ctnr .top,
.my-room.room-info .room-info-ctnr .top,
.live-haruna .tab-body .item,
.recent-danmu-wrp .danmu-filter .left .delete .plain,
.recent-danmu-wrp .danmu-filter .left .danmu-type .plain,
.recent-danmu-wrp .danmu-filter .left .protect .plain,
.recent-danmu-wrp .danmu-filter .left .refresh .plain,
.popup-close-btn,
.user-avatar,
.areas .area,
.record-ctnr .summary 
{
    border-color: transparent !important;
}
.link-input,
.add-cover 
{
    border-color: #aaa !important;
}
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }

// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
// a
// {
//     filter: brightness(0) invert(1) !important;
// }
// a
// {
//     filter: $blueImageFilter !important;
// }
// a
// {
//     filter: $pinkImageFilter !important;
// }
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }

// a
// {
//     background-image: none !important;
// }
// a
// {
//     border-radius: 4px !important;
// }
// a
// {
//     box-shadow: none !important;
// }
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
// a
// {
//     display: none !important;
// }
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
.add-cover:hover,
.category:hover,
.data-card .data-box .tab .fan-tab.current:after,
.data-card .fans-box .tab .fan-tab.current:after 
{
    border-color: $customStyleColor !important;
}
.live-btn,
.live-btn:active,
.live-btn:hover,
.live-btn.default:active,
.live-btn.default:hover,
.popup-close-btn 
{
    background-color: $customStyleColor !important;
}
.notice-ctnr .blink:hover,
.notice .blink:hover,
.add-cover:hover,
.bili-blue,
.text-blue,
.save-btn.active,
.category:hover 
{
    color: $customStyleColor !important;
}
// a
// {
//     color: $foreground !important;
// }
// a
// {
//     fill: $customStyleColor !important;
// }

// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
.data-card .data-box .tab .fan-tab.current:after,
.data-card .fans-box .tab .fan-tab.current:after
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}