.bilibili-player-video-sendbar,
.medal-up-trueLove,
.el-date-table td,
.el-date-table td.in-range:hover,
.el-pagination__editor,
.el-pagination button.disabled,
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li,
.nav-guide-container .nav-guide-tip,
.guide-card.card,
.data-card.card,
.notice-card.card,
.notice-card .notice-list .notice-item,
.income-card.card,
.academy-card.card,
.dc-section-body,
.audioplayer .ap-playlist,
.audioplayer .ap-playlist .ap-playlist-body,
.audioplayer .ap-controller,
.cc-content-body .setting,
.setting .watermark-setting .watermark-wrp .watermark-modal,
.bili-switcher,
.grid .banner,
.bui-sns-info a .bd,
.search-module .search-block .search-word-panel,
.search-module .search-block .search-word-panel .panel-title p span,
div#square.container,
#rankList .list-wrap .list .switch-day .switch-list:hover,
.bili-header-m .head-banner,
.link-navbar-ctnr,
.uploader-info .info .follow .num,
.app .module-card.comment,
.rank-item .content,
.rank-tab-wrap,
.area-item-ctnr .area-item:hover,
.bili-radio+span::before,
#page-channel-detail .watch-later-btn
{
    background-color: #222 !important;
}
.main-container .title>span,
.content-panel .title span,
.face-g-list .mp-block .right ul li.base .round,
.security-list .child-list li a:hover,
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover,
.el-picker-panel__shortcut:hover,
.el-date-table td:hover,
.el-date-table td.in-range,
.el-date-table td.next-month:hover,
.el-date-table td.prev-month:hover,
.nav-guide-container .guide-tip-btn .guide-tip-btn-right,
.guide-card .guide-box a,
.footer-content .social-item,
.audioplayer .ap-controller .ap-controller-right .ap-volume-bar-wrap,
.audioplayer .ap-controller .ap-controller-center .ap-play-bar-wrap,
.audioplayer .ap-controller .ap-controller-right .ap-playlist-button-bg,
.pie-empty-wrapper,
.audioplayer .ap-playlist .ap-playlist-body li.ap-playlist-line-active,
.audioplayer .ap-playlist .ap-playlist-body li:hover,
.canvas-card dt .img-contain,
.article-item .item-holder .article-title-holder .list-mark,
.search-module .search-block .search-word-panel .history-item:hover,
.search-module .search-block .search-word-panel .suggest-item:hover,
.rank-module .rank-list .item .rank-index,
.page-content .right-side .rank-module .complete-rank,
.page-content .right-side .up-list .fresh-btn,
body>div.to-top.on,
.s-lineMore-more,
.slide-controller .slide-btn,
.s-rank.gray,
#rankList .list-wrap .list .switch-day,
.index-nav .n-i.gotop .btn_gotop,
.list-wrap .s-showMore,
#activeCenter .s-imgUnit .s-imgUnit-img,
.guide .old-btn a,
.app .module-card,
.nav-panel-vc,
.container .song-list .song-li .song-img,
.audioplayer .ap-controller .ap-controller-left .ap-cover,
.container .host-list-layout .hot-list-wrap .bg-wrap,
.upload-v2-step1-container .video-jam .video-jam-comment,
.notify-v2-container>div
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
.bilibili-player-video-time-seek
{
    background-color: #fff1 !important;
}
.blp-ui-slider-container
{
    background-color: rgba(0,0,0,0.1) !important;
}
#mp-mine-header,
#mp-mine-header.active,
.fans-icon,
.guide-card .guide-box a,
.rank-list .canvas-card:nth-child(-n+3)::after
{
    background-image: none !important;
}
.mode-fullscreen .bilibili-player-video-btn-widescreen,
.mode-webfullscreen .bilibili-player-video-sendbar,
.mode-fullscreen .bilibili-player-video-sendbar,
.bilibili-player-video-bottom-area::before,
.live-sidebar-ctnr,
.pagelistbox .custom-right .custom-right-inner,
#app>div>.container,
.article-list-holder .article-item,
.search-module .search-block input,
.rank-module .rank-list .item,
.chat-history-panel .chat-history-list .chat-item.system-msg .msg-icon,
.page-content .right-side .up-list,
#rankList .list-wrap .list .switch-day .switch-list,
.index-nav .n-i .name:hover
{
    background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
// a
// {
//     background: transparent !important;
// }

.scroll-loading,
.room-card-item .info .s-info,
.fans-no-data::after,
.fans-no-data-wear::after,
.record-item-line .comment-floor,
.record-item-line .comment-location,
.record-item-line .comment-time,
.record-item-line .good,
.no-data-integrity,
.nav-guide-container .nav-guide-tip .guide-tip-content-main p,
.nav-guide-container .nav-guide-tip .guide-tip-content-main h3 span,
.footer-content .social-item,
.dc-section-item_title_time,
.setting .watermark-switcher .switcher-tip,
.setting .section-title span,
.setting .watermark-setting .tooltip,
.article-item .item-holder .article-desc,
.article-item .item-holder .article-info-bar .up-content .nick-name,
.article-item .item-holder .article-info-bar .category,
.article-item .item-holder .article-info-bar .like,
.article-item .item-holder .article-info-bar .reply,
.article-item .item-holder .article-info-bar .view,
.search-module .search-block .search-word-panel .panel-title p span,
.rank-module .rank-tabs-bar .rank-tabs-list li,
.up-list .up-item .info-holder .dynamic,
.more .help .info,
.more .link .info,
.s-imgUnit-text p,
.box .content .item,
.uploader-info .info .follow .num,
.video-list-wrapper .title .text .num,
.danmu-hot .tab-list .tab,
.rank-item .content .info .bangumi-info,
.container .hot-list .music-menu-list .menu-type,
.elec .elec-monthly-count,
.announcement-cntr .header p .icon-edit,
.announcement-cntr .header p span,
.channel-info .meta
{
    color: #aaa !important;
}
.main-container .title>span,
.content-panel .title span em,
.medal-up-trueLove,
.u-info .u-name,
.bottom-actions .action-item,
.el-pagination__editor,
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev,
.nav-guide-container .guide-tip-btn .guide-tip-btn-right,
.guide-card .guide-box a,
.setting .watermark-switcher span,
.bili-btn.plain,
.pgc-rank-dropdown .selected,
.article-item .item-holder .article-title-holder .list-mark,
.search-module .search-block input,
.rank-module .rank-tabs-bar label,
.rank-module .rank-list .item .rank-index,
.rank-module .rank-list .item a,
.rank-module .complete-rank,
.up-list .title,
.up-list .fresh-btn,
.up-list .up-item .info-holder .head .nick-name,
.up-list .up-item .info-holder .dynamic .arc-title,
.more .top-bar,
.more .help .title,
.more .link .title,
.page-content .left-side .partitio-name,
.s-lineMore-more,
#mangoTv .mango-rank .text-list a,
.s-imgUnit-text a,
.s-rank.gray,
#rankList .list-wrap .text-list a,
#rankList .list-wrap .list .bar .text,
#rankList .list-wrap .list .switch-day,
.list-wrap .s-showMore,
.footer .boston-postcards li .tips,
.guide .old-btn a,
.gift-box>.num,
.base-info .btn-wrapper,
.video-list-wrapper .title .text,
.video-list-wrapper .title .more .text,
.danmu-hot .video-list .video-wrapper .video .title,
.blink-qrcode .title,
.rank-item .content .info .title,
.container .hot-list .menu-title,
.announcement-cntr .header p,
.upload-v2-step1-container .video-jam .video-jam-comment,
.notify-v2-container>div>span,
.notify-v2-container>div a,
.notify-v2-container>div .notify-v2-close,
.channel-detail .content .breadcrumb .item,
#page-channel-detail .watch-later-btn
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.content-panel .title span,
.medal-up-trueLove,
.el-picker-panel,
.el-time-range-picker__body,
.el-autocomplete-suggestion__wrap,
.el-pager li,
.el-pager li:last-child,
.nav-guide-container .guide-tip-btn .guide-tip-btn-right,
.grid .banner,
.article-item .item-holder .article-title-holder .list-mark,
.search-module .search-block .search-word-panel,
.rank-module .rank-tabs-bar,
.up-list .title,
.up-list .fresh-btn,
.more .top-bar,
body>div.to-top.on,
.s-lineMore-more,
#rankList .list-wrap .list,
#rankList .list-wrap .list .switch-day,
.index-nav .n-i.gotop .btn_gotop,
.list-wrap .s-showMore,
.guide .old-btn a,
.guide .feedback-btn a,
.app .module-card,
.uploader-info .info .follow .num,
.danmu-hot .tab-list,
.announcement-cntr .content,
.upload-v2-step1-container .upload-btn,
.upload-v2-step1-container .video-jam .video-jam-comment,
#page-channel-detail .watch-later-btn,
#page-channel-detail .filter
{
    border-color: transparent !important;
}
.bili-radio+span::before,
.channel-info .c-count
{
    border-color: #aaa !important;
}
// a
// {
//     border-color: #222 !important;
// }
.up-info-holder .fixed-box .up-article-list-block .block-title,
.up-info-holder .fixed-box .more .top-bar,
.el-date-range-picker__content.is-left,
.el-picker-panel [slot=sidebar],
.el-picker-panel__sidebar,
.bili-switcher,
.bui-sns-info a .bd,
.pagelistbox .custom-right .custom-right-inner.custompage,
.article-list-holder .article-item,
.search-module .search-block,
.search-module .search-block .search-word-panel .panel-title .split-line
{
    border-color: #444 !important
}
// a
// {
//     border-color: #99a2aa !important;
// }

// a
// {
//     transition: all .2s !important;
// }
.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-hint a
{
    fill: #aaa !important;
}
.security-list .first-level .m-arrow,
.page-content .right-side .up-list .fresh-btn:before,
.s-lineMore-more .icon-right,
.slide-controller .slide-btn .icon,
#rankList .list-wrap .list .switch-day .icon-bottom,
.list-wrap .s-showMore .icon-right,
.breadcrumb .arrow
{
    filter: brightness(0) invert(1) !important;
}
.tool-box-v2-container .icon-tv,
.tool-box-v2-container .icon-download
{
    filter: brightness(0) invert(.7) !important;
}
.bp-svg-icon.link,
.face-g-list .mp-block .right ul li.reach::after,
.cc-nav-wrp .logo,
.prize-item .prize-img,
.el-carousel .el-carousel__indicators .el-carousel__indicator.is-active,
.banner .slides-pagination li.selected,
.bui-sns-info>a>img,
.slideshow .slides-next:hover,
.slideshow .slides-prev:hover,
.slideshow .slides-pagination li.selected,
.mainmenu ul.grid li a.yxlb:hover,
.mainmenu ul.grid li.hover a.yxlb,
.mainmenu ul.grid li a.lbzx:hover,
.mainmenu ul.grid li.hover a.lbzx,
.carousel .indicator .indicator-btn-holder .indicator-btn.on,
#page-channel-detail .watch-later-btn:hover
{
    filter: $blueImageFilter !important;
}
.svg-icon.good-6-click
{
    filter: $pinkImageFilter !important;
}
.article-item .item-holder .article-info-bar .like:before,
.article-item .item-holder .article-info-bar .reply:before,
.article-item .item-holder .article-info-bar .view:before,
.search-module .search-block .search-icon,
.search-module .search-block .search-word-panel .history-item .cancel,
.rank-module .complete-rank::after,
body>div.to-top.on,
.rank-item .content .info .detail .b-icon.view,
.rank-item .content .info .detail .b-icon.author
{
    filter: grayscale(1) !important;
}
.container .host-list-layout .hot-list-wrap .bg-wrap .hot-list-title
{
    filter: brightness(0.7) !important;
}
// a
// {
//     filter: none !important;
// }

.tab-mk2.active,
.face-g-more,
.bangumi-player,
.record-nav .on,
.m-help .m-arrow
{
    background-image: none !important;
}
// a
// {
//     border-radius: 4px !important;
// }
.bangumi-player,
.live-sidebar-ctnr,
.el-picker-panel,
.cc-article-wrp .info-wrp .cc-btn,
.media-sponsor-wrapper .sponsor-right-area .sponsor-btn,
.canvas-card dd .icon-contain .support,
.bui-sns-info a .bd,
.guide .old-btn a,
.link-navbar-ctnr,
.rank-item:hover
{
    box-shadow: none !important;
}
#bilibiliPlayer
{
    box-shadow: 0px 4px 16px 0px $customStyleColor40 !important;
}
.guide .feedback-btn a
{
    box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
}
.main-container .title span::before,
.top-banner,
.nav-guide-container .nav-guide-tip .guide-tip-triangle,
.canvas-card dd .icon-contain .support::after,
.nav-bar .sub-nav::after,
.bui-sns-info a .bd::after,
.more .help .icon,
.more .link .icon
{
    display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
@supports (backdrop-filter: blur(64px)) or (-webkit-backdrop-filter: blur(64px))
{
    .gui-settings-content.blur
    {
        background: #222c !important;
    }
}
.face-g-list .mp-block .right ul li.base .round
{
    z-index: 100 !important;
}
.more .help,
.more .link
{
    padding-left: 0 !important;
}
body>div.to-top.on
{
    background-repeat: no-repeat !important;
}

.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover,
.data-card .tab .data-tab.current:after,
.audioplayer .ap-playlist .ap-playlist-body .ap-playlist-column-name-value:hover,
.bili-switcher.checked,
.pagelistbox .custom-right .custom-right-inner.custompage:focus,
.sort-item.on i.active,
.rank-module .rank-tabs-bar .rank-tabs-list li.on,
.up-list .up-item .info-holder .head .follow,
#rankList .list-wrap .list .switch.active,
#rankList .list-wrap .list .switch:hover,
#rankList .list-wrap .list .switch.active.active:after,
#rankList .list-wrap .list .switch:hover.active:after,
.danmu-hot .tab-list .tab.active,
.container .hot-list .music-menu-list .choose-menu,
.container .hot-list .music-menu-list .menu-type .type-triangle,
.bili-radio:checked+span::before
{
    border-color: $customStyleColor !important;
}
.blp-ui-slider-hover-container::before
{
    border-top-color: $customStyleColor !important;
}
.blp-ui-slider-hover-container::after
{
    border-bottom-color: $customStyleColor !important;
}
.audioplayer .ap-controller,
.audioplayer .ap-playlist
{
    border: 1px solid $customStyleColor !important;
}
.medal-progress>i,
.gift-item-wrap .expiration,
.el-date-table td.in-range.start-date:hover,
.el-date-table td.in-range.end-date:hover,
.el-date-table td.in-range.start-date,
.el-date-table td.in-range.end-date,
.nav-guide-container .guide-tip-btn .guide-tip-btn-left,
.audioplayer .ap-controller .ap-controller-center .ap-progress-bar,
.audioplayer .ap-controller .ap-controller-right .ap-volume-bar,
.bili-switcher.checked,
.rank-list .canvas-card:nth-child(-n+3)::after,
.rank-list .item:nth-child(-n+3) .rank-index,
.s-lineMore-more:hover,
.s-rank.pink,
.index-nav .n-i.gotop .btn_gotop:hover,
.guide .feedback-btn a,
.gift>.expires,
.blp-ui-slider-process,
.uploader-info .info .follow .btn,
.bili-radio:checked+span::after,
.upload-v2-step1-container .upload-btn
{
    background-color: $customStyleColor !important;
}
.audioplayer .ap-play-button svg,
.audioplayer .ap-controller .ap-controller-center .ap-buffer-bar,
.blp-ui-slider-buffer-container
{
    background-color: $customStyleColor60 !important;
}
.audioplayer .ap-play-button:hover svg
{
    background-color: $customStyleColor90 !important;
}
.face-g-more,
.room-card-item:hover .room-name,
.content-panel .title span:hover,
.list-filter-bar .sort-box .item.active,
.list-filter-bar .sort-box .item:hover,
.list-filter-bar .pic-type-box .item.active,
.list-filter-bar .pic-type-box .item:hover,
.content-panel .title span:hover em,
.medal-up-name>a,
.list-link a,
.record-nav .on,
.noHover-link,
.my-moral i,
.viphelp span,
.el-pager li:hover,
.audioplayer .ap-playlist .ap-playlist-body li.ap-playlist-line-active,
.audioplayer .ap-playlist .ap-playlist-body li:hover,
.audioplayer .ap-button:hover,
.bilibili-player-video-subtitle-setting-left-more:hover,
.bilibili-player-video-subtitle-setting-left-more:hover .bp-svgicon,
.bilibili-player-video-subtitle-setting-right-more:hover,
.bilibili-player-video-subtitle-setting-right-more:hover .bp-svgicon,
.setting .watermark-setting .watermark-wrp .is-selected,
.search-module .search-block .search-word-panel .suggest_high_light,
.rank-module .rank-tabs-bar .rank-tabs-list li.on,
.rank-module .rank-list .item:hover a,
.rank-module .complete-rank:hover,
.up-list .up-item .info-holder .head .follow,
.up-list .up-item .info-holder .head .nick-name:hover,
.more .help .title:hover,
.more .link .title:hover,
.s-imgUnit-text a:hover,
#mangoTv .mango-rank .text-list a:hover,
#rankList .list-wrap .list .bar .text:hover,
#rankList .list-wrap .list .switch.active,
#rankList .list-wrap .list .switch:hover,
#rankList .list-wrap .text-list a:hover,
.list-wrap .s-showMore:hover,
#activeCenter .s-imgUnit-img .overlay .des,
.common-popup-wrap header,
.gift-box:hover>.num,
.blp-ui-button:hover > i,
.base-info .desc .tag,
.base-info .btn-wrapper .btn:active .icon-font,
.base-info .btn-wrapper .btn:active,
.base-info .btn-wrapper .btn:hover .icon-font,
.base-info .btn-wrapper .btn:hover,
.video-list-wrapper .video-list .icon-font:hover,
.danmu-hot .tab-list .tab.active,
.danmu-hot .video-list .video-wrapper .video:hover .title,
.rank-item .content .info .title:hover,
.rank-item .content .info .bangumi-num,
.upload-agreement a,
.channel-detail .content .breadcrumb .item:hover
{
    color: $customStyleColor !important;
}
.gift-item-wrap .expiration,
.el-date-table td.in-range.start-date:hover,
.el-date-table td.in-range.end-date:hover,
.el-date-table td.in-range.start-date,
.el-date-table td.in-range.end-date,
.nav-guide-container .guide-tip-btn .guide-tip-btn-left,
.rank-list .item:nth-child(-n+3) .rank-index,
.s-lineMore-more:hover,
.s-rank.pink,
.index-nav .n-i .name:hover,
.guide .feedback-btn a,
.gift>.expires,
.uploader-info .info .follow .btn,
.upload-v2-step1-container .upload-btn
{
    color: $foreground !important;
}
.bilibili-player-video-danmaku-setting-left-more:hover .bp-svgicon,
.bilibili-player-video-danmaku-setting-right-more:hover .bp-svgicon,
.audioplayer .ap-progress-thumb svg path:first-child,
.audioplayer .ap-progress-thumb svg path:nth-child(2),
.bilibili-player-video-subtitle-setting-left-more:hover,
.bilibili-player-video-subtitle-setting-left-more:hover .bp-svgicon,
.bilibili-player-video-subtitle-setting-right-more:hover,
.bilibili-player-video-subtitle-setting-right-more:hover .bp-svgicon,
.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-hint a:hover
{
    fill: $customStyleColor !important;
}

// a
// {
//     border-top-color: transparent !important;
//     border-bottom-color: transparent !important;
// }
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
.data-card .tab .data-tab.current:after,
.sort-item.on i.active,
#rankList .list-wrap .list .switch.active.active:after,
#rankList .list-wrap .list .switch:hover.active:after,
.container .hot-list .music-menu-list .menu-type .type-triangle
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}