/* a
{
    background-color: #222 !important;
} */
/* a
{
    background-color: #333 !important;
} */
/* a
{
    background-color: #444 !important;
} */
/* a
{
    background-image: none !important;
} */
.player-auxiliary-area .danmaku-info-row-special
{
    background-color: transparent !important;
}
/* a
{
    background: #fff !important;
} */
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-danmaku,
.player-auxiliary-area .danmaku-info-row-block span.danmaku-info-time,
.player-auxiliary-area .danmaku-info-row-block::after
{
    color: #aaa !important;
}
/* a
{
    color: #eee !important;
} */
/* a
{
    color: #fff !important;
} */
/* a
{
    border-color: transparent !important;
} */
/* a
{
    border-color: #aaa !important;
} */
/* a
{
    border-color: #444 !important
} */
/* a
{
    border-color: white !important;
} */
/* a
{
    fill: #aaa !important;
} */
/* a
{
    fill: #fff !important;
} */
/* a
{
    filter: brightness(0) invert(1) !important;
} */
/* a
{
    filter: brightness(0) invert(.7) !important;
} */
/* a
{
    filter: var(--blue-image-filter) !important;
} */
/* a
{
    filter: var(--pink-image-filter) !important;
} */
/* a
{
    filter: grayscale(1) !important;
} */
/* a
{
    filter: brightness(0.7) !important;
} */
/* a
{
    filter: brightness(0.2) !important;
} */
/* a
{
    filter: brightness(0.5) !important;
} */
/* a
{
    background-image: none !important;
} */
/* a
{
    box-shadow: none !important;
} */
/* a
{
    box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
} */
/* a
{
    box-shadow: 0px 1px 10px 0px var(--theme-color-30) !important;
} */
/* a
{
    display: none !important;
} */
/* a
{
    border-color: var(--theme-color) !important;
} */
/* a
{
    border-top-color: var(--theme-color) !important;
} */
/* a
{
    border-bottom-color: var(--theme-color) !important;
} */
/* a
{
    border-right-color: var(--theme-color) !important;
} */
/* a
{
    border: 1px solid var(--theme-color) !important;
} */
/* a
{
    background-color: var(--theme-color) !important;
} */
/* a
{
    background-color: var(--theme-color-60) !important;
} */
/* a
{
    background-color: var(--theme-color-90) !important;
} */
/* a
{
    color: var(--theme-color) !important;
} */
/* a
{
    color: var(--foreground-color) !important;
} */
/* a
{
    fill: var(--theme-color) !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-left-color: transparent !important;
} */
/* a
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
} */