.link-footer,
.payment-active,
.app-body .section-block,
.bl-button--primary:disabled,
#disable-popup-modal .vip-exchange .months button.disabled,
#vip-exchange-modal .vip-exchange .months button.disabled,
.tab-list .tab-item.active:before,
.live-skin-coloration-area .live-skin-separate-area,
.live-skin-coloration-area .live-skin-separate-area-hover:hover,
.action-row .sch-pub-btn.publishing,
.action-row .sch-pub-btn.disabled,
.action-row .publish-btn.publishing,
.action-row .publish-btn.disabled
{
    background-color: #222 !important;
}
.wrapper .elec-btn.disabled,
.f-list-hover:hover,
.status_box .status_btn.disabled,
.game-groom-m .num,
.container .pagination,
.fjw-case-detail .ban-detail .content-box .video-model,
.app-body .section-block.with-bottom-radius,
.app-body .section-block.with-radius,
.pagination-container li.pagination,
.main-container .pay-bar .vip .btn-pay.active,
.main-container .media-info .media-right .media-tool-bar .btn-follow.active,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled:hover,
.bb-comment .no-login .comment-submit,
.main-container .media-info .media-right .media-tool-bar .btn-follow.active,
.coupon-content-con .coupon-btn-disable,
.common .bb-comment .no-login .comment-submit
{
    background-color: #444 !important;
}
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .bscroll-indicator
{
    background-color: #555 !important;
}
.m-recommend-item div.box,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .bscroll-vertical-scrollbar.mousedown,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap:hover .bscroll-vertical-scrollbar
{
    background-color: transparent !important;
}

blockquote,
blockquote *,
blockquote .color-blue-01,
blockquote .color-blue-02,
blockquote .color-blue-03,
blockquote .color-blue-04,
blockquote .color-gray-01,
blockquote .color-gray-02,
blockquote .color-gray-03,
blockquote .color-green-01,
blockquote .color-green-02,
blockquote .color-green-03,
blockquote .color-green-04,
blockquote .color-lblue-01,
blockquote .color-lblue-02,
blockquote .color-lblue-03,
blockquote .color-lblue-04,
blockquote .color-pink-01,
blockquote .color-pink-02,
blockquote .color-pink-03,
blockquote .color-pink-04,
blockquote .color-purple-01,
blockquote .color-purple-02,
blockquote .color-purple-03,
blockquote .color-purple-04,
blockquote .color-yellow-01,
blockquote .color-yellow-02,
blockquote .color-yellow-03,
blockquote .color-yellow-04,
.status_box .status_btn.disabled,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled:hover,
.live-skin-coloration-area .live-skin-normal-a-text:link,
.live-skin-normal-a-text:visited,
.live-skin-coloration-area .live-skin-normal-a-text,
.live-skin-coloration-area .live-skin-normal-text
{
    color: #aaa !important;
}
.home-page .sticky-bar .bar-content .message,
.cover .disabled-cover,
.el-input__inner,
.commnent-screen-wrap .el-input__inner,
.tag-list li.tag-item.on,
.bp-popup-panel .title-ctnr .popup-title,
.s-paging > ul > a.current,
.s-paging > ul > span.current,
.score-info .go-movie,
.invitation-record-warp .invtable .inputdone,
.bb-comment .no-login .comment-submit,
.live-skin-coloration-area .live-skin-main-text,
.live-skin-coloration-area .live-skin-highlight-text,
#app .sticky-bar .bar-content .message,
.coupon-content-con .coupon-btn-disable,
.common .bb-comment .no-login .comment-submit,
.popup-content-ctnr .bl-button--ghost:hover
{
    color: #eee !important;
}

.link-footer,
.el-input__inner,
.commnent-screen-wrap .el-input__inner,
.ui-input-textarea.focus,
.user-setting-warp .el-radio-button__orig-radio:checked + .el-radio-button__inner,
.tabs-bar,
.score-info .go-movie,
.bb-comment .no-login .comment-submit,
.live-skin-coloration-area .live-skin-highlight-border,
.live-skin-coloration-area .live-skin-separate-border,
.select-box-v2-container .select-box-v2-controller-disabled,
.common .bb-comment .no-login .comment-submit,
.popup-content-ctnr .bl-button--ghost:hover
{
    border-color: transparent !important;
}

.home-page .sticky-bar .bar-content .message:hover,
.other a a:hover,
.more-data a:hover,
.rank-item .content .info .detail a a:hover,
.rank-item .content .other a:hover,
.rank-item .content .more-data:hover,
.edit-button:hover > .icon-font,
.edit-button:hover > span .left-nav-item-childed:hover,
.left-nav-ul .active .left-nav-item-child,
.left-nav-ul .active,
.left-nav-ul .advice-btn:hover,
.left-nav-ul .left-nav-item.active,
.left-nav-ul .left-nav-item.active i.active,
.left-nav-ul .left-nav-list.on .left-nav-item .icon,
.left-nav-ul .left-nav-list.on .left-nav-item,
.drop-list-v2-container .drop-list-v2-item-selected .drop-list-v2-item-cont p.item-cont-main,
.voucher-ing .voucher-left-money,
.voucher-ing .voucher-left-money:before,
.voucher-no-used .voucher-left-money,
.voucher-no-used .voucher-left-money:before,
.detail-wrp .detail-content[data-v-00c9b213] p a span,
.room-info-down-row .icon-label.hover-text-blue:hover .label,
.room-introduction .edit-button:hover>.icon-font,
.room-introduction .edit-button:hover>span,
.im-popup .bp-popup-panel .title-ctnr .popup-title,
.live-skin-coloration-area .live-skin-highlight-text,
.live-skin-coloration-area .live-skin-normal-a-text:hover,
.live-skin-normal-a-text:active,
.up-info .u-info .name .username.is-vip:hover,
#app .sticky-bar .bar-content .message:hover,
.el-select-dropdown__item.selected
{
    color: var(--theme-color) !important;
}

.season-timeline .season-group.today,
.season-timeline .season-group.today .group-time::before,
.aside-ctnr .author-info .communicate-btn,
.tag-list li.tag-item.on,
.tag-list li.tag-item:hover,
.page-list-box .page-input:focus,
.page-list-box .page-input:hover,
.live-skin-coloration-area .room-info-ctnr .info-section .live-skin-highlight-border,
.popup-content-ctnr .bl-button--ghost
{
    border-color: var(--theme-color) !important;
}
.season-timeline .season-group.today.is-published .group-time::before,
.bg-blue,
.security-list .child-list li a.bg-blue:hover,
.face-g-tab li.current,
.el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date,
.tag-list li.tag-item.on,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn-white,
.user-setting-warp .el-radio-button__orig-radio:checked + .el-radio-button__inner,
.user-my-btn .el-button--primary,
.live-skin-coloration-area .live-skin-highlight-bg,
.popup-content-ctnr .bl-button--primary,
.popup-content-ctnr .bl-button--ghost:hover
{
    background-color: var(--theme-color) !important;
}
.face-g-tab li.current,
.current .tab-btn-link,
.el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date,
.popup-content-ctnr .bl-button--ghost
{
    color: var(--foreground-color) !important;
}

#bilibiliPlayer
{
    box-shadow: 0 4px 8px 0 #0004;
}