.canvas-card dd .icon-contain .support,
#page .game,
.game-more,
#page .game .game-box h4,
#footer,
.dc-option:hover,
.cc-content-body .medal,
.comment-manage-wrap .search input,
.comment-manage-wrap .head .search .bili-input,
.ui-select.white .ui-select-show-box,
.ui-select.white .ui-select-show-box:hover,
.ui-select .ul-select-list,
.classify .classify-list .list-item .class-block,
.classify .classify-list .list-item .class-block:hover,
.ui-btn.sub-btn,
.ui-btn.white,
.cards-block .cards-list .card-item .card-case .title:empty,
.cards-block .cards-list .card-item .card-case.type-head .text .content .block,
.cards-block .cards-list .card-item .card-case .image,
.ui-btn.white,
#edit-page .btn-group.main-active-btn .ui-btn.loading,
#edit-page .btn-group.main-active-btn a.white:hover,
#edit-page .btn-group.main-active-btn button.white:hover,
.ticket-container,
.assist-wrap .addModal .modal-wrap,
.ui-radio .ui-radio-icon,
.classify .sub-list,
.modal-wrap,
.song-info .info-wrap .album-itro,
.song-info .info-wrap .album-name,
.checkbox.checked .radio-btn,
.text-input input,
.set-copyright .copyright-select-box,
.set-copyright .copyright-icon .icon-none-copyright
{
    background-color: #222 !important;
}
.container .host-list-layout .hot-list-wrap .hot-song-list,
.rank-list-container .rank-list-wrapper .rank-list,
.rank-list-container .rank-list-wrapper,
.rank-item-first .detail,
.rank-item-first,
.canvas-card,
.activity-card,
.link-panigation .panigation,
.banner-text,
.bui-sns-info,
.nav-notice li a,
.container .host-list-layout .hot-list-wrap .show-more-song,
.dc-select .dc-option-group,
.comment-manage-wrap .content .action-bar,
.comment-manage-wrap .no-content,
.comment-manage-wrap .head .dropdown-btn,
.comment-manage-wrap .dropdown .dropdown-btn:hover,
.dropdown .dropdown-menu,
.comment-manage-wrap .dropdown.open .dropdown-btn,
.comment-manage-wrap .head .dropdown-btn .text,
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn,
.recent-danmu-wrp .head .dropdown-btn,
.rank-list-head .rank_tips,
.condition-btn-disable,
.official-submit-btn-disable,
.el-upload--picture-card,
.official-title-input,
.bili-input,
#edit-page,
.cover-upload-box .no-img,
.ui-select .ul-select-list .select-item.active,
.ui-select .ul-select-list .select-item:hover,
.float-toolbar .toolbar-list li,
.assist-wrap .addModal .control-group.assist-rights .rights,
.classify .sub-list .sub-item.active,
.classify .sub-list .sub-item:hover,
.read-list-component .creat-read-list-box .input-box button[disabled],
.ui-radio input[type=radio]:active + .ui-radio-icon,
body #app .category-wrapper .upload-content,
.set-copyright .copyright-select-box .copyright:hover 
{
    background-color: #444 !important;
}
// a
// {
//     background-color: #555 !important;
// }
// a
// {
//     background-color: #aaa !important;
// }
// a
// {
//     background-color: #fff1 !important;
// }
// a
// {
//     background-image: none !important;
// }
.link-footer .footer-linker .footer-linker-line,
.nav-notice li,
.nav-notice li.hover,
#text-contribute .fixed-header 
{
    background-color: transparent !important;
}
// a
// {
//     background: #fff1 !important;
// }
.recent-danmu-wrp .danmu-filter .left .line,
.preview-avatar-con,
.preview-title,
.ui-checkbox input[type=checkbox]:checked + .ui-checkbox-icon,
.read-list-component .mask 
{
    background: transparent !important;
}
.link-footer .footer-img-linker .footer-img-item,
.canvas-card dd h4 .user-container span,
.canvas-card dd h4 .user-container a,
.nav-bar .sub-nav .sub-tab,
ul.navigation li span,
.activity-card dd span,
.sort-item,
.filter-block .filter-item-wrapper,
.bangumi-index-crumb ul li a,
.bangumi-item .pub-info,
.link-footer .footer-img-linker .footer-img-text,
.cinema-home-crumb ul li a,
.video-item-biref .biref-info .biref-title-sec,
.banner-p a,
.banner-p p,
#page .game .game-box dl a,
.footer-text p,
.footer-text .record,
.dc-radio-button,
#dc-section_summary .follow-tool-box .follow-line-legend .legend-item .legend-text,
.info-item-active p,
.info-item-charge p,
.info-item-medal p,
.info-item-total p,
.rank-active-target,
.rank-fans-medal,
.rank-vedio-target,
.rank-vedio-view,
.dc-radio-button_inner,
.comment-manage-wrap .content .action-bar .dropdown .sort-btn,
.comment-manage-wrap .search .fontvt,
.comment-manage-wrap .dropdown .dropdown-menu li,
.comment-manage-wrap .head .dropdown-menu .article-list .ac-link,
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn,
.recent-danmu-wrp .head .dropdown-menu .article-list li,
.recent-danmu-wrp .tips,
.danmu-wrp .section .title-tip .sub,
.danmu-wrp .section .title-tip,
.danmu-wrp .black-tip,
.rank-menu li,
.rank-item .content .info .pts,
.rank-item .content .info .detail a,
.rank-item .content .info .detail,
.rank-tab-wrap,
.rank-list-head .rank_tips,
.more-data,
.other span,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .mp-descr,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .mp-gettime,
.ava-name,
.ava-text,
.title-module,
.condition-txt,
.condition-sub-title,
.official-name-info,
.form-title-info,
.preview-avatar-con:after,
.preview-title:after,
.upload-txt,
.value-length,
.cc-album-create .info-wrp p,
.upload-v2-step1-container .upload-agreement .reg-2,
.tool-box-v2-container .tool-title,
.tool-box-v2-container .tool-xiaowan-bilibili a,
.tool-box-v2-container .tool-xiaowan a,
.upload-v2-step1-container .upload-agreement .reg-1 > div a,
.cover-upload-box .no-img,
.tag-list-wrap .tag-list .add-item .tip,
#edit-page .copyright-hint,
#edit-page .block-wrap h3.block-title span.tips,
.cards-block .cards-list .card-item .card-case .image .empty-icon p,
.editor-box p.counter,
.editor-wrap .article-title .count,
.ui-input-textarea .count,
.music-clue,
.music-tips .music-tip,
.read-list-component .tips,
.read-list-component .tips.input-tips,
.read-list-component .read-list-box li .count,
.float-toolbar .toolbar-list .icon-block,
.float-toolbar .back-top .icon-block,
.song-info .info-wrap .contact-us,
.upload-cover-wrapper .upload-cover-tips,
.song-info .info-wrap .form-item-paper-input-wrapper .form-item-paper-total,
.add-tag .default .placeholder,
.checkbox .text,
.text-input .text-length,
.upload-image .tip,
.set-copyright .copyright-select-box .copyright
{
    color: #aaa !important;
}

.rank-item .detail .work-name,
.rank-list-container .more .text,
.canvas-card dd h3 a,
.canvas-card dd .icon-contain .support,
.rank-list .canvas-card:after,
.rank-list .canvas-card:nth-child(-n+3):after,
ul.navigation li.activated span,
.activity-card dd h4,
.link-panigation .panigation,
.link-panigation .panigation.selected,
.panigation .arrow-right i,
.activity-card .category-tab,
.filter-block .filter-name,
.bangumi-item .bangumi-title,
.filter-wrapper .filter-title,
.bangumi-item .cover-wrapper .shadow,
.bangumi-item .cover-wrapper .corner-tag,
.block-area .block-left .block-header .block-title,
#page .game .game-box h4,
.nav-notice li a,
.nav-notice li.hover,
.game-more,
.bui-sns-info a,
.footer-box a,
.dc-section-item_title_custom .sectionTitle,
.ellipsis,
.dc-option,
.dc-section-item_title,
.comment-manage-wrap .content .action-bar .action-btn span,
.comment-manage-wrap .search input,
.comment-manage-wrap .dropdown .dropdown-btn,
.comment-manage-wrap .head .search .bili-input,
.recent-danmu-wrp .dropdown .dropdown-btn,
.danmu-wrp .section .title,
.danmu-wrp .input-group,
.btn-sponsor-wrapper a.sponsor-btn,
.main-container .sponsor-wrapper .sponsor-right-area .sponsor-btn,
.rank-item .num,
.rank-item .content .info .pts div,
.other a,
.other strong,
.video-model header h2,
.info-model header h2,
.fjw-random header h2,
.timer-wrap .timer-top h2,
.fjw-point header h2,
.comment-wrap header h2,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .title,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn-white,
.assist-wrap .assist-list header h1,
.assist-wrap .assist-log header h1,
.official-title,
.card-name,
.card-info,
.condition-title,
.condition-btn-disable,
.official-label,
.official-submit-btn-disable,
.check-warp .el-checkbox,
.preview-title-line1,
.ui-select .ui-select-show-box,
.danmu-wrp .section .bili-input,
.upload-v2-step1-container .video-jam .video-jam-pretext,
.cards-block .radio-list .radio-item .radio-label.active,
.cards-block .radio-list .radio-item .radio-label:not([disabled=disabled]),
.ui-select .ul-select-list .select-item,
.classify .classify-list .list-item .class-block,
.read-list-component .create-btn,
.tag-list-wrap .tag-list .add-item .add-control,
.cards-block .cards-list .card-item .card-case .user-info span,
#edit-page .btn-group.main-active-btn a.white,
#edit-page .btn-group.main-active-btn button.white,
.ui-btn.blue-radius,
.protocol-block,
.create-compilations-btn .album-flex .album-bar-btn .album-bar-btn-text,
.music-upload-wrapper .upload-music-bar-wrapper .pload-music-bar-btn,
.assist-wrap .addModal .control-group > label,
.assist-wrap .addModal .control-group,
.ui-input-text input,
.el-button--primary,
.bangumi-info .info-right .info-title .func-module .bangumi-btn .btn-follow,
.read-list-component .creat-read-list-box .input-box button[disabled],
.read-list-component .creat-read-list-box .input-box button,
.read-list-component .read-list-box li label .title,
.song-info .info-wrap .title,
.song-info .info-wrap .submit-btn,
.song-info .info-wrap .album-itro,
.song-info .info-wrap .album-name,
.title .text,
.category-wrapper .upload-title-text,
.text-input input,
.agree-rule .text,
.submit-btn,
body #app .category-wrapper .upload-content .title 
{
    color: #eee !important;
}
// a
// {
//     color: #222 !important;
// }
.container .host-list-layout .hot-list-wrap .hot-song-list,
.link-footer .footer-img-linker .footer-img-item,
.canvas-card dd .icon-contain .support,
.link-panigation .panigation,
.cinema-home-crumb ul li,
.banner,
.nav-notice li,
.nav-notice li.hover,
.rank-active-target,
.rank-fans-medal,
.rank-vedio-target,
.rank-vedio-view,
.dc-select-label,
.dc-select .dc-option-group,
.comment-manage-wrap .no-content,
.comment-manage-wrap .content .action-bar .action-btn span,
.comment-manage-wrap .content .check-box.checked,
.comment-manage-wrap .search input,
.comment-manage-wrap .dropdown .dropdown-btn,
.comment-manage-wrap .head .dropdown-btn .text,
.recent-danmu-wrp .danmu-filter .left .danmu-type,
.recent-danmu-wrp .danmu-filter .left .protect,
.recent-danmu-wrp .danmu-filter .left .refresh,
.recent-danmu-wrp .danmu-filter .left .delete,
.recent-danmu-wrp .dropdown .dropdown-btn,
.bilibili-player .bilibili-player-area-separator,
.rank-item div.num,
.rank-item,
.other,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn:hover,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn,
.official-title-input,
.official-right-float .el-upload--picture-card,
.ui-select.white .ui-select-show-box,
.bili-input,
.classify .classify-list .list-item .class-block,
.ui-btn.sub-btn,
.ui-btn.white,
#edit-page .btn-group.main-active-btn a.white,
#edit-page .btn-group.main-active-btn button.white,
.ui-input-textarea,
.el-button--primary,
.bangumi-info .info-right .info-title .func-module .bangumi-btn .btn-follow,
.ui-radio.active .ui-radio-icon,
.ui-radio .ui-radio-icon,
.read-list-component hr,
.read-list-component .creat-read-list-box .input-box button,
.read-list-component .creat-read-list-box .input-box,
.song-info .info-wrap .album-itro,
.song-info .info-wrap .album-name,
.checkbox.checked .radio-btn,
.upload-image,
.text-input input,
.set-copyright .copyright-select-box
{
    border-color: transparent !important;
}
.banner-p a,
.fjw-random .point-wrap .cnt,
.fjw-random .point-wrap .cnt .list,
.face-g-list#my-g-list .face-g-block .my-mp-block,
.ui-input,
.set-copyright .copyright-icon .icon-none-copyright
{
    border-color: #aaa !important;
}
// a
// {
//     border-color: #222 !important;
// }
// a
// {
//     border-color: #444 !important
// }
// a
// {
//     border-color: #99a2aa !important;
// }
// a
// {
//     transition: all .2s !important;
// }
// a
// {
//     fill: #aaa !important;
// }
.mainmenu ul.grid li a.yxzx,
.footer-logo,
.more-data i
{
    filter: brightness(0) invert(1) !important;
}
.float-toolbar .toolbar-list .icon-block.icon-help,
.float-toolbar .toolbar-list .icon-block.icon-feedback,
.float-toolbar .back-top .icon-block.icon-back-top 
{
    filter: $blueImageFilter !important;
}
.episode-item .mark-icon,
.add-tag .default .btn-show,
.submit-btn 
{
    filter: $pinkImageFilter !important;
}
// a
// {
//     filter: grayscale(1) !important;
// }
// a
// {
//     filter: none !important;
// }
// a
// {
//     background-image: none !important;
// }
// a
// {
//     border-radius: 4px !important;
// }
#edit-page 
{
    box-shadow: none !important;
}
// a
// {
//     box-shadow: 0px 1px 10px 0px $customStyleColor30 !important;
// }
.icon-hot,
.icon-new,
.icon-home
{
    display: none !important;
}
// a
// {
//     opacity: 0 !important;
// }
// a
// {
//     opacity: 0.5 !important;
// }
// a
// {
//     opacity: 1 !important;
// }
.sort-item.on i.active,
.banner-p h3,
.banner-p a:hover,
#page .game .game-box h4 span,
.dc-radio-button.is-active,
.dc-radio-button.is-active:after,
.rank-menu li.active,
.ui-tabs .ui-tabs-head .tab-head-item.current a,
.ui-tabs .ui-tabs-head .tab-head-item.current a:after,
.classify .classify-list .list-item .class-block:hover,
.tabs-nav .active,
.ui-checkbox input[type=checkbox]:checked + .ui-checkbox-icon,
.ui-radio.active .ui-radio-icon,
.ui-radio input[type=radio]:hover + .ui-radio-icon 
{
    border-color: $customStyleColor !important;
}

.nav-bar .nav-wrapper .slide-block,
ul.navigation li:after,
.link-panigation .panigation.selected,
.bangumi-item .cover-wrapper .corner-tag.badge_0,
.comment-manage-wrap .content .check-box.checked,
.btn-sponsor-wrapper a.sponsor-btn,
.main-container .sponsor-wrapper .sponsor-right-area .sponsor-btn,
.bilibili-player .bilibili-player-auxiliary-area .bilibili-player-info .bilibili-player-setting-menu-wrap .bilibili-player-setting-menu-list .active-point,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn:hover,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn,
.ui-btn.blue-radius,
.bangumi-info .info-right .info-title .func-module .bangumi-btn .btn-follow,
.read-list-component .creat-read-list-box .input-box button,
.ui-radio input[type=radio]:checked + .ui-radio-icon:after,
.song-info .info-wrap .submit-btn,
body #app .category-wrapper .dot,
.checkbox.checked .radio-btn:before,
.add-tag .default .btn-show,
.submit-btn 
{
    background-color: $customStyleColor !important;
}

.canvas-card dd h4 .user-container a:hover,
.nav-bar .sub-nav .sub-tab.active,
.rank-item .detail .work-name:hover,
ul.navigation li:hover,
.activity-card dd h4 a:hover,
.link-panigation .panigation:not(.selected):hover,
.panigation .arrow-right:hover i,
.filter-block .filter-item-wrapper .filter-item.on,
.bangumi-index-crumb ul li.on a,
.bangumi-index-crumb ul li:hover a,
.sort-item.on,
.bangumi-item .bangumi-title:hover,
.link-panigation .panigation:hover,
.cinema-home-crumb ul li.on a,
.cinema-home-crumb ul li:hover a,
.banner .slides-pagination li a:hover,
#page .game .game-box dl a:hover,
.banner-p a:hover,
#page .game .game-box dl dt,
.footer-box .footer-text a:hover,
.dc-radio-button.is-active,
.dc-option:hover,
.comment-manage-wrap .dropdown .dropdown-menu .selected,
.comment-manage-wrap .content .action-bar .dropdown .sort-btn:hover,
.rank-menu li.active,
.rank-tab-wrap .rank-tab .active,
.check-warp a,
.ui-select .ul-select-list .select-item.active,
.ui-select .ul-select-list .select-item:hover,
.ui-tabs .ui-tabs-head .tab-head-item.current a,
.tool-box-v2-container .tool-xiaowan-bilibili a:hover,
.tool-box-v2-container .tool-xiaowan a:hover,
.classify .classify-list .list-item .class-block:hover,
.protocol-block a,
.protocol-block a:hover,
.music-clue .font-blue,
.music-clue .iconfont,
.music-tips .music-tip:hover,
.ui-checkbox input[type=checkbox]:checked + .ui-checkbox-icon,
.classify .position span,
.upload-tips,
.agree-rule .rule,
body #app .category-wrapper .upload-tip,
.set-copyright .copyright-select-box .copyright.selected .text
{
    color: $customStyleColor !important;
}
// a
// {
//     color: $foreground !important;
// }
// a
// {
//     fill: $customStyleColor !important;
// }
#page .game .game-box,
.comment-manage-wrap .head .dropdown-menu .article-list,
#edit-page .block-hr 
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}
// a
// {
//     border-top-color: transparent !important;
//     border-right-color: transparent !important;
// }
#page .game .game-box-1,
#page .game .game-box-3,
.game-box-all,
.footer-logo,
.season-item.on:after,
.dc-radio-button.is-active:after,
.bili-tab.current:after,
.season-item.on:after
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
