.simplify-vip .vip-icon,
.simplify-fansMedal .fans-medal-item-ctnr,
.simplify-title .title-label,
.simplify-userLevel .user-level-icon,
.simplify-guard i.guard-icon,
.simplify-systemMessage .system-msg,
.simplify-welcomeMessage .welcome-guard,
.simplify-welcomeMessage .welcome-msg,
.simplify-popup .chat-popups-section,
.simplify-popup .link-popup-ctnr
{
    display: none !important;
}
.simplify-skin #head-info-vm,
.simplify-skin #gift-control-vm,
.simplify-skin #rank-list-ctnr-box
{
    background-image: none !important;
}
.simplify-guard .guard-danmaku::before
{
    border-image: none !important;
    background-color: transparent !important;
}
.simplify-guard .guard-danmaku
{
    margin: 0 !important;
    padding: 4px 5px !important;
}
.simplify-guard .guard-danmaku::after
{
    background-image: none !important;
}
.simplify-liveroom-settings>ul>li
{
    padding: 8px 12px;
    display: flex;
    align-items: center;
}
.simplify-liveroom-settings>ul>li:hover
{
    background: rgba(0,0,0,0.16);
}
