@import "../../common";
@import "../search-box";
@mixin tabs-animation {
  &-enter-active,
  &-leave-active {
    transition: 0.2s ease-out;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(12px);
  }
}
@mixin items-animation {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-16px) scale(0.9);
  }
  &-leave-active {
    transition: 0.24s cubic-bezier(0.22, 0.61, 0.36, 1);
    position: absolute;
  }
}
.custom-navbar .history-list {
  width: 350px;
  height: 600px;
  font-size: 12px;
  @include v-stretch();
  justify-content: center;
  .loading-tip {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  & > .loading-tip {
    display: none;
  }
  .mdi {
    line-height: 1;
    font-size: 18px;
  }
  &.loading {
    & > .loading-tip {
      display: flex;
    }
    & > :not(.loading-tip) {
      display: none;
    }
  }
  .content {
    @include v-stretch();
    @include no-scrollbar();
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
    .header {
      @include h-center();
      @include search-box();
      justify-content: space-between;
      margin: 16px 12px;
      .tabs {
        flex: 0;
        margin: 0 16px 0 0;
        padding: 0 6px;
        @include h-center();
        justify-content: flex-start;
        .tab {
          cursor: pointer;
          position: relative;
          white-space: nowrap;
          &:not(:last-child) {
            margin-right: 24px;
          }
          &::after {
            content: "";
            width: calc(80%);
            height: 2px;
            border-radius: 1px;
            position: absolute;
            background-color: var(--theme-color);
            left: 10%;
            bottom: -4px;
            transform: scaleX(0);
            transition: 0.2s ease-out;
          }
          &.active::after {
            transform: scaleX(1);
          }
          .tab-name {
            opacity: 0.5;
            line-height: normal;
          }
          &.active {
            transform: scale(1.2);
            .tab-name {
              font-weight: bold;
              opacity: 1;
            }
          }
        }
      }
      .more-info {
        @include h-center();
        @include round-bar(26);
        flex-shrink: 0;
        padding: 4px 6px 4px 10px;
        background-color: #8882;
        border: none;
        cursor: pointer;
        color: inherit;
        font-size: inherit;
        &:disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }
        &:hover:not(:disabled) {
          background-color: #8884;
        }
        .mdi {
          margin-left: 8px;
        }
      }
    }
    .history-content {
      @include items-animation();
      flex: 1;
      overflow: auto;
      overscroll-behavior: contain;
      scroll-behavior: smooth;
      position: relative;
      @include no-scrollbar();
      padding: 0 12px;
      padding-bottom: 12px;
      .empty-tip {
        text-align: center;
      }
      .time-group {
        padding-bottom: 16px;
        @include items-animation();
        &-name {
          padding-bottom: 4px;
          margin-bottom: 4px;
        }
        &-items {
          .floating {
            @include round-bar(20);
            @include h-center();
            background-color: #000c;
            color: white;
            justify-content: center;
            position: absolute;
            opacity: 0;
            font-size: 11px;
          }
          .time-group-item {
            display: grid;
            grid-template:
              "cover title title" 3fr
              "cover up time" 2fr / 80px 1fr auto;
            border-radius: 4px 8px 8px 4px;
            color: black;
            background-color: #fff;
            box-shadow: 0 4px 8px 0 #0001;
            body.dark & {
              background-color: #282828;
              color: #eee;
            }
            &:not(:last-child) {
              margin-bottom: 8px;
            }
            &:hover {
              .cover {
                transform: scale(1.05);
              }
              .floating {
                opacity: 1;
              }
            }
            .cover-container {
              $height: 55px;
              $padding: 2px;
              grid-area: cover;
              position: relative;
              height: $height;
              overflow: hidden;
              border-radius: 4px 0 0 4px;
              .cover {
                object-fit: cover;
                width: 80px;
                height: $height;
                body.dark &.placeholder {
                  filter: invert(0.9);
                }
              }
              .duration {
                left: $padding;
                bottom: $padding;
                padding: 0 6px;
              }
              .progress-number {
                left: $padding;
                top: $padding;
                padding: 0 6px;
              }
              .progress {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                border-radius: 1px;
                background-color: var(--theme-color);
              }
            }
            .title {
              grid-area: title;
              font-weight: bold;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              align-self: center;
              padding-left: 8px;
              padding-right: 6px;
              font-size: 13px;
              &:hover {
                color: var(--theme-color) !important;
              }
            }
            .up,
            .time {
              font-size: 11px;
              opacity: 0.75;
              align-self: start;
            }
            .up {
              grid-area: up;
              @include h-center();
              padding-left: 8px;
              &:hover {
                opacity: 1;
              }
              .be-icon {
                margin-right: 4px;
                font-size: 14px;
              }
              &-name {
                white-space: nowrap;
                max-width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .time {
              font-size: 11px;
              grid-area: time;
              padding-right: 6px;
            }
          }
        }
      }
    }
  }
}
