@font-face
{
    font-family: "custom-navbar-font";
    src: url('//s1.hdslb.com/bfs/seed/jinkela/header/asserts/iconfont.ttf') format('truetype');
}
.custom-navbar-iconfont
{
    color: inherit;
    font-family: "custom-navbar-font" !important;
    font-size: 24px;
    font-style: normal;
}
.custom-navbar-icon-logo::before
{
    content: "\\E725";
}

.custom-navbar
{
    --navbar-height: 50px;
    --navbar-foreground: black;
    --navbar-background: white;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--navbar-background);
    color: var(--navbar-foreground);
    z-index: 10001;
}
.custom-navbar:not(.fill) .custom-navbar-iconfont
{
    color: var(--theme-color);
}
.custom-navbar path
{
    fill: black;
}
.custom-navbar.dark:not(.fill) path
{
    fill: #eee;
}
.custom-navbar.fill path
{
    fill: #fffd;
}
.custom-navbar.shadow
{
    box-shadow: #0004 0px 2px 10px 1px;
}
.custom-navbar.dark:not(.fill)
{
    --navbar-background: #222;
    --navbar-foreground: #eee;
}
.custom-navbar .popup
{
    color: black;
    background: white;
}
.custom-navbar.dark .popup
{
    color: #eee;
    background: #222;
}
.custom-navbar *,
.custom-navbar
{
    transition: all .2s ease-out;
}
.custom-navbar.fill
{
    --navbar-background: var(--theme-color);
    --navbar-foreground: #fffd;
}
.custom-navbar.fill.shadow
{
    box-shadow: var(--theme-color-30) 0px 2px 10px 1px;
}
.custom-navbar>ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    height: 100%;
}
.custom-navbar ul
{
    list-style: none;
}
.custom-navbar>ul>li
{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.custom-navbar>ul>li:not(.disabled)
{
    cursor: pointer;
}
.custom-navbar>ul>li:not(.disabled):hover
{
    background: rgba(0,0,0,0.1);
}
.custom-navbar .main-content
{
    font-size: 10pt;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.custom-navbar .popup
{
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 16px;
    box-shadow: rgba(0,0,0,0.1) 0 4px 40px 20px;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-50%);
    /* transform-origin: top; */
    /* transition: all 0.15s cubic-bezier(0.18, 0.89, 0.38, 1.15) .2s; */
}
.custom-navbar.dark .popup
{
    box-shadow: rgba(0,0,0,0.3) 0 4px 40px 20px;
}
.custom-navbar .popup.no-padding
{
    padding: 0;
}
.custom-navbar>ul>li:not(.disabled):hover>.popup,
#custom-navbar-home-popup .category-item:hover .popup
{
    /* transform: translateX(-50%) scale(1); */
    pointer-events: initial;
    opacity: 1;
}
.custom-navbar a,
.custom-navbar a:hover
{
    color: inherit;
}

#custom-navbar-home-popup
{
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}
#custom-navbar-home-popup .category-item
{
    font-size: 12pt;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
}
#custom-navbar-home-popup .category-item:hover
{
    background-color: #0001;
}
#custom-navbar-home-popup .category-item a
{
    display: flex;
    justify-content: space-between;
}
#custom-navbar-home-popup .category-item .popup
{
    z-index: 10002;
    width: max-content;
}
#custom-navbar-home-popup .category-item .popup a,
#upload-actions a
{
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid transparent;
    font-size: 11pt;
}
#custom-navbar-home-popup .category-item .popup a:hover,
#upload-actions a:hover
{
    border-bottom: 2px solid var(--theme-color);
}
#custom-navbar-home-popup .category-item span
{
    opacity: 0.5;
}
.im-list-box
{
    border-radius: 0 !important;
}
li.nav-item[report-id='playpage_dynamic'] iframe,
li.nav-item[report-id='playpage_dynamic'] .i-frame
{
    display: none !important;
}
#upload-button
{
    padding-left: 4px;
    font-size: 12pt;
    font-weight: bold;
}
#upload-actions
{
    width: max-content;
}
.custom-navbar form
{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    --submit-button-size: 30px;
}
.custom-navbar form input
{
    border: none;
    height: 60%;
    background: transparent;
    border-bottom: 1.5px solid var(--navbar-foreground) !important;
    color: var(--navbar-foreground);
    box-sizing: border-box;
    width: 250px;
    padding-right: var(--submit-button-size);
    padding-left: 4px;
}
.custom-navbar form input:focus
{
    border-bottom-color: var(--navbar-foreground) !important;
}
.custom-navbar form button[type="submit"]
{
    background: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    height: var(--submit-button-size);
    width: var(--submit-button-size);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);;
}
.custom-navbar form input[type="text"]::placeholder
{
    color: var(--navbar-foreground) !important;
    opacity: 0.9;
}
.user-face-container
{
    position: relative;
    height: calc(var(--navbar-height) - 16px);
    width: calc(var(--navbar-height) - 16px);
}
.user-face,
.user-pendant
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.user-face
{
    background-color: var(--navbar-background);
    background-size: contain;
    border-radius: 50%;
}
.user-pendant
{
    background-color: transparent;
    background-size: cover;
    width: 170%;
    height: 170%;
    top: -12px;
    left: -12px;
    opacity: 0;
}
.user-info-panel
{
    width: 240px;
    font-size: 12px;
}
.user-info-panel>*
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}
.user-info-panel .row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.user-info-panel .name
{
    font-size: 14pt;
    margin-top: 40px;
}
.user-info-panel .type
{
    padding: 4px;
    background: var(--theme-color);
    color: var(--foreground-color);
    margin-bottom: 8px;
}
.user-info-panel .coins,
.user-info-panel .b-coins,
.user-info-panel .coins-container,
.user-info-panel .verifications
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
}
.user-info-panel .coins-container,
.user-info-panel .verifications
{
    justify-content: space-evenly;
}
.user-info-panel .verifications i
{
    opacity: 0.6;
    font-size: 16px;
}
.user-info-panel .verifications i.verified
{
    opacity: 1;
    color: var(--theme-color);
}
.user-info-panel .coins::before
{
    content: "硬币";
    color: var(--theme-color);
    margin-right: 4px;
}
.user-info-panel .b-coins::before
{
    content: "B币";
    color: var(--theme-color);
    margin-right: 4px;
}
.user-info-panel .level
{
    color: var(--theme-color);
}
.level strong
{
    font-size: 14pt;
    font-weight: normal;
    margin-left: 2px;
}
.user-info-panel .level,
.user-info-panel .level-progress-label
{
    margin-bottom: 8px;
}
.user-info-panel .level-progress
{
    width: 100%;
    height: 2px;
    background-color: #0008;
    position: absolute;
    bottom: 0;
    left: 0;
}
.user-info-panel .level-progress-thumb
{
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: var(--theme-color);
}
.user-info-panel  .row.operations
{
    transform: translateX(5%);
}
.user-info-panel .operations a
{
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 0 50%;
}
.user-info-panel .operations a:hover,
.user-info-panel .operations a:hover i
{
    color: var(--theme-color) !important;
}
.user-info-panel .operations i
{
    font-size: 16px;
    margin-right: 4px;
}
.custom-navbar li:hover .user-face,
.custom-navbar li:hover .user-pendant
{
    transform: scale(2) translateY(10px);
    z-index: 100;
    opacity: 1;
}