<div class="custom-navbar">
    <ul>
        <li v-for="component of components" v-bind:data-name="component.name"
            v-bind:class="{disabled: component.disabled}" v-bind:style="{flex: component.flex}"
            v-on:pointerover="requestPopup(component)">
            <a class="main-content" v-if="component.href" v-bind:href="!component.touch && component.href"
                v-html="component.html"></a>
            <div class="main-content" v-else v-html="component.html"></div>
            <div class="notify-count"></div>
            <div class="popup" v-if="component.popupHtml" v-bind:class="{'no-padding': component.noPadding}">
                <div v-if="component.requestedPopup" v-html="component.popupHtml"></div>
            </div>
        </li>
    </ul>
</div>