#slide_ad,
#home_popularize .l-con,
#home_popularize .adpos,
.gg-floor-module,
.home-app-download,
.activity-m,
.bilibili-player-promote-wrap,
.bili-header-m .nav-menu .nav-con .nav-item .text-red
{
    display: none !important;
}
/* .carousel-module .panel .pic li[data-id='0']
{
    visibility: hidden !important;
} */
#home_popularize
{
    padding: 0 !important;
    position: relative !important;
}
.popularize-module .online
{
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
}