.live-web-player-controller {
  .danmaku-send-bar {
    display: none;
  }
}
.live-web-player-controller {
  background-image: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.9));
}
@media screen and (min-width: 1038px) {
  .player-full-win,
  .fullscreen-fix {
    &:not(.danmaku-send-bar-unloaded) {
      .live-web-player-controller .control-area {
        .danmaku-send-bar {
          display: flex;
          margin: 0 24px;
          flex: 1 1 0;
          height: 24px;
          justify-content: center;
          align-items: center;
          input {
            outline: none !important;
            border: none;
            border-bottom: 2px solid #fff8;
            background-color: transparent;
            color: #fff;
            padding: 4px;
            line-height: normal;
            flex: 1;
            width: 0;
            max-width: 400px;
            min-width: 70px;
            &:focus-within {
              border-color: var(--theme-color);
            }
            &::-webkit-input-placeholder {
              color: #fff8 !important;
            }
          }
        }
        .right-area {
          flex: 0 0 auto !important;
        }
      }
    }
  }
}
