.disable-original-hover {
  .bilibili-player-video-control-bottom,
  .bilibili-player-video-control-mask {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .bilibili-player-video-control-wrap {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .bilibili-player-video-control-top {
    left: 0 !important;
    right: 0 !important;
    bottom: 0px !important;
  }
  #bilibili_pbp_canvas {
    left: 0 !important;
    width: 100% !important;
    bottom: 3px !important;
    opacity: 0 !important;
    &.pin {
      opacity: 1 !important;
    }
  }
  &.touch-video-control-show {
    .bilibili-player-video-control {
      &-bottom,
      &-mask {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
    #bilibili_pbp_canvas {
      bottom: calc(100% + 3px) !important;
      opacity: 1 !important;
    }
    .bilibili-player-video-progress-detail {
      bottom: 0 !important;
    }
    .bilibili-player-video-control-top {
      bottom: 38px !important;
    }
  }
  .bilibili-player-video-control-wrap:hover,
  &.bilibili-player-area.video-control-show {
    .bilibili-player-video-control-top .bilibili-player-video-progress-slider {
      height: 2px !important;
    }
  }
  &.bilibili-player-area .bilibili-player-video-control .bilibili-player-video-progress-detail.show {
    bottom: 1px !important;
  }
  &.bilibili-player-area .subtitle-position.subtitle-position {
    &-bc,
    &-bl,
    &-br {
      bottom: 20px !important;
    }
  }
  &.touch-video-control-show .subtitle-position.subtitle-position {
    &-bc,
    &-bl,
    &-br {
      bottom: 44px !important;
    }
  }
  .bilibili-player.mode-webfullscreen &.touch-video-control-show,
  .bilibili-player.mode-fullscreen &.touch-video-control-show {
    .subtitle-position.subtitle-position {
      &-bc,
      &-bl,
      &-br {
        bottom: 60px !important;
      }
    }
  }
  .bilibili-player:not(.mode-webfullscreen):not(.mode-fullscreen) .bilibili-player-area:not(.disable-original-hover) {
    .bilibili-player-video-control-wrap:hover,
    &.video-control-show {
      .bilibili-player-video-control-top .bilibili-player-video-progress-slider {
        height: 74px !important;
      }
    }
  }
  .bilibili-player.mode-fullscreen & .bilibili-player-video-control-top {
    opacity: 1 !important;
  }
}
@media screen and (min-width: 750px) {
  .player .bilibili-player.mode-fullscreen,
  .player .bilibili-player.mode-webfullscreen {
    .disable-original-hover {
      .bilibili-player-video-control-top {
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
      }
      &.touch-video-control-show {
        .bilibili-player-video-control-top {
          left: 0 !important;
          right: 0 !important;
          bottom: 54px !important;
        }
      }
    }
    .bilibili-player-area {
      &.video-control-show:not(.disable-original-hover),
      &.mouse-hover:not(.disable-original-hover),
      &.video-control-show:not(.disable-original-hover),
      &.mouse-hover:not(.disable-original-hover) {
        .bilibili-player-video-control-top {
          left: 0 !important;
          right: 0 !important;
          bottom: 48px !important;
        }
      }
    }
  }
}
