@import "./touch-gestures";
.bilibili-player-video-control-top {
  left: 0 !important;
  right: 0 !important;
  bottom: 0px !important;
  opacity: 1 !important;
  transition: none !important;
  .bui-track-video-progress {
    align-self: flex-end !important;
  }
}
.bilibili-player-video-control-top,
.bilibili-player-video-progress-detail {
  bottom: 0 !important;
}
// .video-control-show .bilibili-player-video-progress-detail {
//   bottom: 36px !important;
// }
.bilibili-player-video-control-bottom {
  transition: none !important;
  padding: 0 !important;
}

div.bilibili-player-video-control {
  height: 38px !important;
  align-items: center !important;
}
.bilibili-player-video-btn {
  flex-grow: 1 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.pbp-panel-icon-wrap {
  height: auto !important;
  display: flex !important;
  transform: translateY(-1px) !important;
}
.bilibili-player-video-btn-speed {
  &-name {
    display: none !important;
  }
  &::before {
    display: block;
    width: 36px;
    color: #eee;
    content: "\F8FE";
    font: normal normal normal 20px/1 "Material Design Icons";
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.bilibili-player-video-btn-pagelist {
  .bilibili-player-video-btn-name {
    display: none !important;
  }
  &::before {
    display: block;
    width: 36px;
    color: #eee;
    content: "\F279";
    font: normal normal normal 20px/1 "Material Design Icons";
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.bilibili-player-video-inputbar,
.bilibili-player-video-progress {
  flex-grow: 30 !important;
}
.bilibili-player-video-quality-menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.bilibili-player-iconfont {
  &-start,
  &-pause,
  &-volume,
  &-volume-max,
  &-volume-min,
  &-setting,
  &-danmaku,
  &-danmaku-off,
  &-repeat,
  &-widescreen,
  &-web-fullscreen,
  &-fullscreen,
  &-color {
    font-size: 2.5rem !important;
  }
  &-next {
    font-size: 2rem !important;
  }
}
.bpui-selectmenu-list {
  left: unset !important;
  bottom: 38px !important;
}
.bilibili-player {
  &-video-danmaku-setting-wrap,
  &-video-btn-setting-panel,
  &.mode-fullscreen .bilibili-player-video-sendbar {
    left: unset !important;
    bottom: 38px !important;
  }
  &-video-volumebar-wrp {
    left: unset !important;
  }
  &-video-control-wrap {
    padding: 0 !important;
  }
  &-video-control-bottom {
    align-items: center !important;
  }
  &-iconfont-setting,
  &-video-btn-volume.video-state-volume-max .bilibili-player-iconfont-volume-max,
  &-video-btn-volume.video-state-volume-min .bilibili-player-iconfont-volume-min,
  &-video-btn-volume:not(.video-state-volume-max):not(.video-state-volume-min) .bilibili-player-iconfont-volume,
  &-iconfont-next,
  &-video-control-bottom-left {
    display: flex !important;
    align-items: center !important;
  }
  &-video-btn-danmaku {
    flex-grow: 0 !important;
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  // &.mode-webfullscreen .bilibili-player-video-control-wrap .bilibili-player-video-control-bottom-right {
  //   flex-grow: 1 !important;
  // }
  &.mode-fullscreen .bilibili-player-video-sendbar {
    bottom: 0 !important;
  }
  .bilibili-player-area {
    #bilibili_pbp,
    #bilibili_pbp_canvas {
      left: 0 !important;
      width: 100% !important;
      bottom: 4px !important;
    }
    #bilibili_pbp_pin,
    .bilibili-player-video-control-wrap:hover #bilibili_pbp_pin {
      right: 0 !important;
    }
    &.video-control-show:not(.disable-original-hover) {
      .bilibili-player-video-control-top {
        left: 0 !important;
        right: 0 !important;
        bottom: 38px !important;
      }
      #bilibili_pbp,
      #bilibili_pbp_canvas {
        bottom: calc(100% + 4px) !important;
      }
      .bilibili-player-video-progress-detail {
        bottom: 7px !important;
      }
    }
    .bilibili-player-video-control {
      .bilibili-player-video-progress-shadow {
        display: none !important;
      }
      .bilibili-player-video-btn {
        &.bilibili-player-video-btn-fullscreen {
          margin-right: 0 !important;
          padding-right: 8px !important;
        }
        &.bilibili-player-video-btn-start {
          padding-left: 8px !important;
          flex-grow: 1.2 !important;
          margin-right: 0px !important;
          margin-left: 0 !important;
        }
      }
      .bilibili-player-video-btn {
        padding: 0 3px !important;
      }
      &-bottom,
      &-bottom-right {
        height: 100% !important;
        margin: 0 !important;
      }
    }
  }
  &-video-control-bottom-left {
    height: 100% !important;
    margin: 0 !important;
  }
  &-video-btn-setting-panel-hover-bridge {
    display: none !important;
  }
}

#bilibili-player * {
  -webkit-tap-highlight-color: transparent !important;
}

@media screen and (max-width: 1400px) {
  .bilibili-player.mode-fullscreen,
  .bilibili-player.mode-webfullscreen {
    .bilibili-player-video-control-bottom-center {
      padding: 0 24px !important;
    }
  }
}
@media screen and (min-width: 750px) {
  .bilibili-player.mode-fullscreen,
  .bilibili-player.mode-webfullscreen {
    .bilibili-player-video-btn-pagelist::before {
      font-size: 26px;
    }
    .bilibili-player-video-control-wrap {
      .bilibili-player-video-inputbar {
        background: #fff1 !important;
      }
      .bilibili-player-video-control {
        height: 100% !important;
        margin: 0 !important;
      }
      .bilibili-player-video-control-bottom {
        margin: 0 !important;
      }
      .bilibili-player-video-control-bottom-left {
        height: 100% !important;
      }
      .bilibili-player-video-control-top {
        left: 0 !important;
        right: 0 !important;
      }
    }
  }
  .bilibili-player-video-btn.bilibili-player-video-btn-start {
    flex-grow: 0.5 !important;
  }
}
@import "./disable-original-hover";
