@import "./touch-gestures", "./disable-original-hover";
.bilibili-player-video-control-top {
  left: 0 !important;
  right: 0 !important;
  bottom: 0px !important;
}
.bilibili-player-video-control-top,
.bilibili-player-video-progress-detail {
  bottom: 0 !important;
}
.video-control-show .bilibili-player-video-progress-detail {
  bottom: 36px !important;
}
.bilibili-player-video-control-bottom {
  padding: 0 !important;
}

div.bilibili-player-video-control {
  height: 38px !important;
  align-items: center !important;
}
.bilibili-player-video-btn {
  flex-grow: 1 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.pbp-panel-icon-wrap {
  height: auto !important;
  display: flex !important;
}
.bilibili-player-video-inputbar,
.bilibili-player-video-progress {
  flex-grow: 30 !important;
}
.bilibili-player-video-quality-menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.bilibili-player-iconfont {
  &-start,
  &-pause,
  &-volume,
  &-volume-max,
  &-volume-min,
  &-setting,
  &-danmaku,
  &-danmaku-off,
  &-repeat,
  &-widescreen,
  &-web-fullscreen,
  &-fullscreen,
  &-color {
    font-size: 2.5rem !important;
  }
  &-next {
    font-size: 2rem !important;
  }
}
.bpui-selectmenu-list {
  left: unset !important;
  bottom: 38px !important;
}
.bilibili-player {
  &-video-danmaku-setting-wrap,
  &-video-btn-setting-panel,
  &.mode-fullscreen .bilibili-player-video-sendbar {
    left: unset !important;
    bottom: 38px !important;
  }
  &-video-volumebar-wrp {
    left: unset !important;
  }
  &-video-control-wrap {
    padding: 0 !important;
  }
  &-video-control-bottom {
    align-items: center !important;
  }
  &-iconfont-setting,
  &-video-btn-volume.video-state-volume-max .bilibili-player-iconfont-volume-max,
  &-video-btn-volume.video-state-volume-min .bilibili-player-iconfont-volume-min,
  &-video-btn-volume:not(.video-state-volume-max):not(.video-state-volume-min) .bilibili-player-iconfont-volume,
  &-iconfont-next,
  &-video-control-bottom-left {
    display: flex !important;
    align-items: center !important;
  }
  &-video-btn-danmaku {
    flex-grow: 0 !important;
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  &.mode-webfullscreen .bilibili-player-video-control-wrap .bilibili-player-video-control-bottom-right {
    flex-grow: 1 !important;
  }
  &.mode-fullscreen .bilibili-player-video-sendbar {
    bottom: 0 !important;
  }
  .bilibili-player-area {
    .bilibili-player-video-control {
      .bilibili-player-video-btn {
        &.bilibili-player-video-btn-fullscreen {
          margin-right: 0 !important;
          padding-right: 8px !important;
        }
        &.bilibili-player-video-btn-start {
          padding-left: 8px !important;
          flex-grow: 1.2 !important;
          margin-right: 0px !important;
          margin-left: 0 !important;
        }
      }
      .bilibili-player-video-btn {
        padding: 0 3px !important;
      }
      &-bottom,
      &-bottom-right {
        height: 100% !important;
        margin: 0 !important;
      }
    }
  }
  &-video-control-bottom-left {
    height: 100% !important;
    margin: 0 !important;
  }
  &-video-btn-setting-panel-hover-bridge {
    display: none !important;
  }
}

#bofqi * {
  -webkit-tap-highlight-color: transparent !important;
}

@media screen and (min-width: 750px) {
  .bilibili-player.mode-fullscreen,
  .bilibili-player.mode-webfullscreen {
    .bilibili-player-video-control-wrap {
      .bilibili-player-video-inputbar {
        background: #fff1 !important;
      }
      .bilibili-player-video-control {
        height: 100% !important;
        margin: 0 !important;
      }
      .bilibili-player-video-control-bottom {
        margin: 0 !important;
      }
      .bilibili-player-video-control-bottom-left {
        height: 100% !important;
      }
      .bilibili-player-video-control-top {
        left: 0 !important;
        right: 0 !important;
      }
    }
    .disable-original-hover.bilibili-player-video-control-wrap .bilibili-player-video-control-top {
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
    }
    .disable-original-hover.touch-video-control-show .bilibili-player-video-control-top {
      left: 0 !important;
      right: 0 !important;
      bottom: 54px !important;
    }
    .bilibili-player-area.video-control-show:not(.disable-original-hover),
    .bilibili-player-area.mouse-hover:not(.disable-original-hover) {
      .bilibili-player-video-control-top {
        left: 0 !important;
        right: 0 !important;
        bottom: 48px !important;
      }
    }
  }
  .bilibili-player-video-btn.bilibili-player-video-btn-start {
    flex-grow: 0.5 !important;
  }
}
