.simplify {
  &-vip .vip-icon,
  &-fansMedal .fans-medal-item-ctnr,
  &-title .title-label,
  &-userLevel .user-level-icon,
  &-guard .chat-history-panel .guard-icon,
  &-systemMessage .system-msg,
  &-systemMessage .announcement-wrapper,
  &-welcomeMessage .welcome-guard,
  &-welcomeMessage .welcome-msg,
  &-popup .chat-popups-section,
  &-popup #chat-draw-area-vm,
  &-giftMessage .chat-item.gift-item,
  &-guardPurchase .chat-item.guard-buy,
  &-eventsBanner .z-section-blocks .left-container .flip-view,
  &-eventsBanner .activity-pushing-out,
  &-userEffect .live-room-app .aside-area .activity-welcome-section,
  &-kanban .live-haruna-ctnr,
  &-enterPrompt .chat-item.important-prompt-item,
  &-enterPrompt .chat-history-panel .brush-prompt,
  &-pk .chaos-pk,
  &-topRank .chat-item.top3-notice,
  &-topRank .chat-item .rank-icon {
    display: none !important;
  }
}
.simplify-headerPanel {
  // 修复高度太低时下面的弹窗挡不住排行榜
  .control-panel-ctnr .dialog-ctnr {
    z-index: 800 !important;
  }
  .player-ctnr .room-info-ctnr {
    display: inline-flex !important;
    flex: 1 0 auto;
    align-items: center !important;
    margin-left: 12px !important;
  }
  .head-info-section {
    height: 52px !important;
    box-sizing: content-box !important;
  }
  .header-info-ctnr {
    display: flex !important;
    padding: 10px 24px 10px 12px !important;
    height: auto !important;
    .face-pendants {
      display: none !important;
    }
    .avatar {
      height: 32px;
      width: 32px;
    }
  }
  .room-cover {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
  }
  .rows-ctnr {
    display: flex !important;
  }
  .rows-ctnr .upper-row,
  .room-info-upper-row {
    display: flex !important;
    align-items: center !important;
    flex: 1 0 auto !important;
    flex-direction: row-reverse !important;
    position: static !important;

    .left-ctnr,
    .normal-mode {
      position: absolute !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
    .live-area,
    .area-text {
      display: inline-flex !important;
    }
    .right-ctnr,
    .upper-right-ctnr {
      position: static !important;
      transform: none !important;
    }
    .live-title,
    .room-title {
      display: flex !important;
      align-items: center !important;

      @media screen and (max-width: 1750px) {
        & .title-length-limit {
          max-width: 250px !important;
        }
      }
    }
  }
  .rows-ctnr .lower-row,
  .room-info-down-row {
    margin: 0 !important;
    order: -1;
    .right-ctnr,
    .left-ctnr > :nth-child(n + 3) {
      display: none !important;
    }
  }
  .room-owner-username {
    max-width: 150px !important;
  }
  .live-status,
  .live-status-label {
    display: none !important;
  }
}
.simplify-enterPrompt {
  .chat-history-list.with-brush-prompt {
    &:not(.with-penury-gift) {
      height: calc(100%) !important;
    }
    &.with-penury-gift {
      height: calc(100% - 32px) !important;
    }
  }
}
.simplify-rankList {
  .live-room-app {
    .rank-list-section {
      display: none !important;
    }
    .chat-history-panel {
      height: calc(100% - 145px) !important;
      .chat-history-list::-webkit-scrollbar-track {
        background: transparent !important;
      }
    }
    .chat-history-panel,
    #pay-note-panel-vm .pay-note-panel,
    #pay-note-panel-vm .pay-note-panel .detail-info .mask {
      border-radius: 11px 11px 0 0 !important;
    }
  }
  &.player-full-win {
    .chat-history-panel,
    #pay-note-panel-vm .pay-note-panel,
    #pay-note-panel-vm .pay-note-panel .detail-info .mask {
      border-radius: 0 !important;
    }
  }
}
.simplify-giftPanel {
  .gift-panel,
  .gift-panel-switch,
  .gift-section.guard-ent,
  .seeds-wrap > .dp-i-block > .item:not(.seeds),
  .gift-control-panel .wish-icon,
  .gift-control-panel .wish-tip {
    display: none !important;
  }
  .gift-control-section,
  .gift-control-panel {
    height: 48px !important;
  }
  .draw-box,
  .anchor-lottery-entry,
  .treasure-box {
    display: flex !important;
    align-items: center !important;
    padding: 10px 0 0 16px !important;
    max-height: 36px !important;
    .draw-box-pic,
    .anchor-lot-icon,
    .box-icon {
      margin: 0 !important;
      width: 24px !important;
      height: 24px !important;
      background-position: 0 -2.5px !important;
      &.open {
        background-position: 0 -1px !important;
      }
    }
    .draw-box-pic {
      transform: scale(1.1);
    }
    #BLRHH_treasure_div_tip br {
      display: none !important;
    }
    #BLRHH_treasure_div {
      img,
      canvas {
        max-height: 24px !important;
      }
    }
    .draw-box-text,
    .anchor-lot-text,
    .count-down,
    #BLRHH_treasure_div_tip,
    #BLRHH_treasure_div_timer {
      margin-left: 12px !important;
      padding: 4px 8px !important;
      max-width: unset !important;
    }
    .awarding-panel {
      bottom: 42px !important;
    }
  }
  .draw-box {
    padding-top: 11px !important;
  }
  .anchor-lottery-entry {
    padding-top: 12px !important;
  }
  .gift-control-panel .right-part {
    height: 48px !important;
    display: flex !important;
    justify-content: flex-end !important;
    min-width: unset !important;
    > .dp-table-cell {
      display: flex !important;
      align-items: center !important;
      .supporting-info {
        transform: translateY(-2px) !important;
      }
    }
  }
}
.simplify-skin {
  &:not(.dark) {
    .player-ctnr {
      #head-info-vm,
      #gift-control-vm {
        box-sizing: content-box !important;
        border: 1px solid #e9eaec !important;
      }
    }
    .player-and-aside-area #aside-area-vm {
      border: 1px solid #e9eaec !important;
      width: 302px !important;
    }
  }
  #head-info-vm,
  #gift-control-vm,
  .control-panel-ctnr,
  #rank-list-ctnr-box {
    background-image: none !important;
  }
}
.simplify-guard {
  .guard-danmaku::before {
    border-image: none !important;
    background-color: transparent !important;
    .guard-danmaku {
      margin: 0 !important;
      padding: 4px 5px !important;
    }
    .guard-danmaku::after {
      background-image: none !important;
    }
  }
  .chat-history-panel [class*="guard-level-"] {
    padding: 4px 5px !important;
    margin: 0 !important;
    &::after {
      display: none !important;
    }
  }
  .chat-history-panel .chat-colorful-bubble {
    margin: 0 !important;
    display: block !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  .fans-medal-item.medal-guard {
    margin-left: 0 !important;
  }
}
.simplify-liveroom-settings > ul > li {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  &:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  .round-corner & {
    border-radius: var(--corner-radius);
  }
  &.checked {
    opacity: 0.5;
  }
}
