.simplify {
  &-vip .vip-icon,
  &-fansMedal .fans-medal-item-ctnr,
  &-title .title-label,
  &-userLevel .user-level-icon,
  &-guard .chat-history-panel .guard-icon,
  &-systemMessage .system-msg,
  &-systemMessage .announcement-wrapper,
  &-welcomeMessage .welcome-guard,
  &-welcomeMessage .welcome-msg,
  &-popup .chat-popups-section,
  &-popup #chat-draw-area-vm,
  &-giftMessage .chat-item.gift-item,
  &-guardPurchase .chat-item.guard-buy,
  &-eventsBanner .z-section-blocks .left-container .flip-view,
  &-eventsBanner .activity-pushing-out,
  &-userEffect .live-room-app .aside-area .activity-welcome-section,
  &-kanban .live-haruna-ctnr,
  &-enterPrompt .chat-item.important-prompt-item,
  &-enterPrompt .chat-history-panel .brush-prompt,
  &-pk .chaos-pk {
    display: none !important;
  }
}
.simplify-enterPrompt {
  .chat-history-list.with-brush-prompt {
    &:not(.with-penury-gift) {
      height: calc(100%) !important;
    }
    &.with-penury-gift {
      height: calc(100% - 32px) !important;
    }
  }
}
.simplify-rankList {
  .live-room-app {
    .rank-list-section {
      display: none !important;
    }
    .chat-history-panel {
      height: calc(100% - 145px) !important;
      .chat-history-list::-webkit-scrollbar-track {
        background: transparent !important;
      }
    }
    .chat-history-panel,
    #pay-note-panel-vm .pay-note-panel,
    #pay-note-panel-vm .pay-note-panel .detail-info .mask {
      border-radius: 11px 11px 0 0 !important;
    }
  }
  &.player-full-win {
    .chat-history-panel,
    #pay-note-panel-vm .pay-note-panel,
    #pay-note-panel-vm .pay-note-panel .detail-info .mask {
      border-radius: 0 !important;
    }
  }
}
.simplify-giftPanel {
  .gift-panel,
  .gift-panel-switch,
  .gift-section.guard-ent,
  .seeds-wrap > .dp-i-block > .item:not(.seeds),
  .gift-control-panel .wish-icon,
  .gift-control-panel .wish-tip {
    display: none !important;
  }
  .gift-control-section,
  .gift-control-panel {
    height: 48px !important;
  }
  .draw-box,
  .anchor-lottery-entry,
  .treasure-box {
    display: flex !important;
    align-items: center !important;
    padding: 10px 0 0 16px !important;
    max-height: 36px !important;
    .draw-box-pic,
    .anchor-lot-icon,
    .box-icon {
      margin: 0 !important;
      width: 24px !important;
      height: 24px !important;
      background-position: 0 -2.5px !important;
      &.open {
        background-position: 0 -1px !important;
      }
    }
    .draw-box-pic {
      transform: scale(1.1);
    }
    #BLRHH_treasure_div_tip br {
      display: none !important;
    }
    #BLRHH_treasure_div {
      img,
      canvas {
        max-height: 24px !important;
      }
    }
    .draw-box-text,
    .anchor-lot-text,
    .count-down,
    #BLRHH_treasure_div_tip,
    #BLRHH_treasure_div_timer {
      margin-left: 12px !important;
      padding: 4px 8px !important;
      max-width: unset !important;
    }
    .awarding-panel {
      bottom: 42px !important;
    }
  }
  .draw-box {
    padding-top: 11px !important;
  }
  .anchor-lottery-entry {
    padding-top: 12px !important;
  }
  .gift-control-panel .right-part {
    height: 48px !important;
    display: flex !important;
    justify-content: flex-end !important;
    min-width: unset !important;
    > .dp-table-cell {
      display: flex !important;
      align-items: center !important;
      .supporting-info {
        transform: translateY(-2px) !important;
      }
    }
  }
}
.simplify-skin {
  #head-info-vm,
  #gift-control-vm,
  #rank-list-ctnr-box {
    background-image: none !important;
  }
}
.simplify-guard {
  .guard-danmaku::before {
    border-image: none !important;
    background-color: transparent !important;
    .guard-danmaku {
      margin: 0 !important;
      padding: 4px 5px !important;
    }
    .guard-danmaku::after {
      background-image: none !important;
    }
  }
  .chat-history-panel [class*="guard-level-"] {
    padding: 4px 5px !important;
    margin: 0 !important;
    &::after {
      display: none !important;
    }
  }
  .chat-history-panel .chat-colorful-bubble {
    margin: 0 !important;
    display: block !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  .fans-medal-item.medal-guard {
    margin-left: 0 !important;
  }
}
.simplify-liveroom-settings > ul > li {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  &:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  .round-corner & {
    border-radius: var(--corner-radius);
  }
  &.checked {
    opacity: 0.5;
  }
}
