.simplify-vip .vip-icon,
.simplify-fansMedal .fans-medal-item-ctnr,
.simplify-title .title-label,
.simplify-userLevel .user-level-icon,
.simplify-guard i.guard-icon,
.simplify-systemMessage .system-msg,
.simplify-systemMessage .announcement-wrapper,
.simplify-welcomeMessage .welcome-guard,
.simplify-welcomeMessage .welcome-msg,
.simplify-popup .chat-popups-section,
.simplify-popup .link-popup-ctnr,
.simplify-giftMessage .chat-item.gift-item,
.simplify-guardPurchase .chat-item.guard-buy,
.simplify-eventsBanner .activity-pushing-out {
  display: none !important;
}
.simplify-giftPanel {
  .gift-panel,
  .gift-panel-switch,
  .gift-section.guard-ent,
  .seeds-wrap > .dp-i-block > .item:not(.seeds),
  .gift-control-panel .wish-icon,
  .gift-control-panel .wish-tip {
    display: none !important;
  }
  .gift-control-section,
  .gift-control-panel {
    height: 48px !important;
  }
  .treasure-box {
    display: flex !important;
    align-items: center !important;
    padding: 10px 0 0 16px !important;
    .box-icon {
      width: 24px !important;
      height: 24px !important;
      background-position: 0 -2.5px !important;
      &.open {
        background-position: 0 -1px !important;
      }
    }
    .count-down {
      margin-left: 12px !important;
      padding: 4px 8px !important;
      max-width: unset !important;
    }
    .awarding-panel {
      bottom: 42px !important;
    }
  }
  .gift-control-panel .right-part {
    height: 48px !important;
    display: flex !important;
    justify-content: flex-end !important;
    > .dp-table-cell {
      display: flex !important;
      align-items: center !important;
      .supporting-info {
        transform: translateY(-2px) !important;
      }
    }
  }
}
.simplify-skin {
  #head-info-vm,
  #gift-control-vm,
  #rank-list-ctnr-box {
    background-image: none !important;
  }
}
.simplify-guard {
  .guard-danmaku::before {
    border-image: none !important;
    background-color: transparent !important;
    .guard-danmaku {
      margin: 0 !important;
      padding: 4px 5px !important;
    }
    .guard-danmaku::after {
      background-image: none !important;
    }
  }
  [class*='guard-level-']::after {
    display: none !important;
  }
}
.simplify-liveroom-settings > ul > li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  &:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  .round-corner & {
    border-radius: var(--corner-radius);
  }
}
