.level-5, .level-6, .level-7, .level-8 {
  border-color: #74b0f6 !important;
}
.level-5 .label,.level-6 .label,.level-7 .label,.level-8 .label {
  background-color: #74b0f6 !important;
}
.level-5 .level,.level-6 .level,.level-7 .level,.level-8 .level {
  color: #74b0f6 !important;
}
.level-9, .level-10, .level-11, .level-12 {
  border-color: #ba94f2 !important;
}
.level-9 .label,.level-10 .label,.level-11 .label,.level-12 .label {
  background-color: #ba94f2 !important;
}
.level-9 .level,.level-10 .level,.level-11 .level,.level-12 .level {
  color: #ba94f2 !important;
}
.van-popover .level-bar .level-progress {
  background-color: #FFAE00 !important;
}

#biliAppHomeSetting>div,
.app-layout .manga-navbar,
.manga-navbar .drop-list,
.hover-panel-wrap,
.hover-panel-wrapper,
.van-popover .container,
.container .play-all,
.container .split-line .history-tip,
.lang-change .lang-intro
{
  background-color: #222 !important;
}
.manga-navbar .search-bar .search-bar-bg,
.manga-navbar .user-panel .drop-list .logout-btn-container,
.manga-navbar .drop-list .more-btn-container,
.yzly-content-ctnr .btn,
.recommend-area-ctnr .rec-area-item,
.container .level-intro,
.van-popover .upload-item:hover,
.container .play-all:hover,
.van-popover .btn-box .btn.reg-btn:hover,
.international-header .bili-banner,
.skeleton .skeleton-head,
.skeleton .skeleton-focusbtn,
.skeleton .skeleton-user-name,
.skeleton .skeleton-time,
.skeleton .skeleton-content
{
  background-color: #333 !important;
}
.s_tag .btn-add,
#biliAppHomeSetting select,
#biliAppHomeSetting input,
.highlight-areas-ctnr .highlight-area-item,
.grid-area-ctnr .hab-ctnr,
.grid-area-ctnr .news-ctnr,
.grid-area-ctnr .rank-ctnr,
.van-popover .level-bar,
.van-popover .btn-box .btn.reg-btn,
.van-popper-history .view-all,
.share-content .video-card
{
  background-color: #444 !important;
}
.love-card .header::after
{
  background-color: #555 !important;
}
.s_tag .btn-add span
{
  background-color: #eee !important;
}
.coin-dialog-mask .coin-operated .mc .mc-box
{
  background-color: white !important;
}
.card .risk-tip-content
{
	background-color: #624f27 !important;
}
/* a
{
  background-image: none !important;
} */
.manga-navbar .nav-list,
.text-info-ctnr,
.news-ctnr .more-link:hover,
.news-ctnr .more-link,
.news-content
{
  background-color: transparent !important;
}
/* a
{
  background: #fff !important;
} */
.manga-navbar .search-bar .placeholder-list .placeholder-item
{
  color: #888 !important;
}
#biliAppHomeSetting label ~ span,
.video-container .text-area .view-danmaku,
.follow-dialog-wrap .special-tip,
.manga-navbar .data-list .list-container .empty-hinter,
.manga-navbar .data-list .list-container .failure-hinter,
.manga-navbar .data-list .list-container .loading-hinter,
.center-box .line-3 .action-button,
.highlight-areas-ctnr .area-desc,
.rank-item .room-title,
.bb-comment .comment-list .list-item .blacklist-font-color,
.container .split-line .history-tip,
.comment-bilibili-fold .comment-list .list-item .blacklist-font-color,
.list-item .publish-time,
.share-content .video-card .up-info .name,
.share-content .video-card .up-info .tip
{
  color: #aaa !important;
}
#biliAppHomeSetting select,
#biliAppHomeSetting input,
#biliAppHomeSetting a,
.manga-navbar-history-list .action-button,
.manga-navbar-favourite-manga .action-button,
.manga-navbar .search-bar .search-input,
.manga-navbar .user-info-panel .user-name,
.manga-navbar .user-info-panel .info-item,
.manga-navbar .user-panel .drop-list .logout-btn-container .logout-button,
.manga-navbar .drop-list .more-btn-container .more-button,
.love-card .header,
.center-box .line-1 .name-field,
.center-box .line-1 .name-field a,
.center-box .line-1 .like-item,
.banner-ctnr .banner-title,
.item-ctnr .item-title,
.tab-ctnr .tab-item,
.rank-item .room-anchor,
.area-detail-ctnr .area-title,
.yzly-ctnr .yzly-title,
.recommend-area-ctnr .title-text,
.recommend-area-ctnr .area-name,
.more-ctnr,
.news-ctnr .more-link,
.van-popover .coins .info a,
.van-popper-login .title,
.van-popover .btn-box .btn.reg-btn,
.van-popper-history .view-all,
.van-popper-upload .upload-item .bilifont,
.news-content
{
  color: #eee !important;
}
.van-popover .vip:hover,
.international-header .mini-upload:hover
{
  color: #fff !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(1) .area-name
{
  color: #a0a7dc !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(2) .area-name
{
  color: #c7aade !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(3) .area-name
{
  color: #deb29c !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(4) .area-name
{
  color: #afb7e8 !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(5) .area-name
{
  color: #dcbf94 !important;
}
.highlight-areas-ctnr .highlight-area-item:nth-child(6) .area-name
{
  color: #95c5a8 !important;
}
/* a
{
  color: #fff !important;
} */
#biliAppHomeSetting select,
#biliAppHomeSetting input,
.hover-panel-wrap,
.recommend-area-ctnr .rec-area-item,
.hover-panel-wrapper,
.van-popover .btn-box .btn.reg-btn,
.van-popper-history .view-all,
.at-popup,
.chat-popups-section .draw-full-ctnr
{
  border-color: transparent !important;
}
/*
{
  border-color: #aaa !important;
} */
.van-popper-login .container
{
  border-color: #444 !important
}
/* a
{
  border-color: white !important;
} */
#biliAppHomeSetting select,
#biliAppHomeSetting input
{
  border-radius: 4px;
}
/* a
{
  fill: #aaa !important;
} */
/* a
{
  fill: #fff !important;
} */
.manga-navbar .search-bar .confirm-btn .search-icon,
.container .level-intro .svg-icon
{
  filter: brightness(0) invert(1) !important;
}
/* a
{
  filter: brightness(0) invert(.7) !important;
} */
/* a
{
  filter: var(--blue-image-filter) !important;
} */
/* a
{
  filter: var(--pink-image-filter) !important;
} */
/* a
{
  filter: grayscale(1) !important;
} */
/* a
{
  filter: brightness(0.7) !important;
} */
/* a
{
  filter: brightness(0.2) !important;
} */
/* a
{
  filter: brightness(0.5) !important;
} */
/* a
{
  background-image: none !important;
} */
/* a
{
  box-shadow: none !important;
} */
/* a
{
  box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
} */
/* a
{
  box-shadow: 0px 1px 10px 0px var(--theme-color-30) !important;
} */
.app-layout .manga-navbar
{
  box-shadow: rgba(0,0,0,0.2) 0 4px 8px 0px !important;
}
.highlight-areas-ctnr .highlight-area-item.hover
{
  box-shadow: 0 7px 11px 0 rgba(0,0,0,.18) !important;
}
.hover-panel-wrap
{
  box-shadow: 0 13px 20px 0 rgba(0,0,0,.22) !important;
}
.van-popper .popper__arrow
{
  display: none !important;
}
.aside-item.active .item-border,
.aside-item:hover .item-border
{
  border-color: var(--theme-color) !important;
}
.aside-item::after
{
  border-right-color: var(--theme-color) !important;
}
/* a
{
  border-top-color: var(--theme-color) !important;
} */
/* a
{
  border-bottom-color: var(--theme-color) !important;
} */
/* a
{
  border-right-color: var(--theme-color) !important;
} */
/* a
{
  border: 1px solid var(--theme-color) !important;
} */
.interact-dialog .btn,
.rookie-guide .close-button,
.video-control-show .bilibili-player-video-interactive-list .check:hover .big-round,
#biliAppHomeSetting button,
.van-popover .btn-box .btn,
.van-popper-history .view-all:hover
{
  background-color: var(--theme-color) !important;
}
/* a
{
  background-color: var(--theme-color-60) !important;
} */
/* a
{
  background-color: var(--theme-color-90) !important;
} */
#biliAppHomeSetting h2,
.video-desc .subtitle a,
.tab-ctnr .tab-item:hover,
.tab-ctnr .tab-item.activated,
.more-ctnr:hover,
.news-ctnr .more-link:hover,
.van-popover .coins .info a:hover,
.van-popper-upload .upload-item:hover .bilifont
{
  color: var(--theme-color) !important;
}
.interact-dialog .btn,
.rookie-guide .close-button,
#biliAppHomeSetting button,
.van-popover .btn-box .btn,
.van-popper-history .view-all:hover
{
  color: var(--foreground-color) !important;
}
/* a
{
  fill: var(--theme-color) !important;
} */
/* a
{
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
} */
/* a
{
  border-top-color: transparent !important;
  border-left-color: transparent !important;
} */
/* a
{
  border-left-color: transparent !important;
  border-right-color: transparent !important;
} */