@import "./dark-definitions";

.festival-main-panel ~ {
  .video-toolbar {
    color: #ffd886 !important;
    .share-box {
      .title {
        @include color("e");
      }
      .name,
      .box-b-title {
        @include color("a");
      }
    }
    .more-list {
      @include border-color();
      @include background-color("2");
      @include color("e");
      li:hover {
        @include theme-color();
        @include background-color("4");
      }
    }
  }
  .comment-wrapper .comment-m {
    @include background-color("2");
  }
}
.festival-video-player
  .bilibili-player.bilibili-player-theme-red
  .bui-slider
  .bui-track
  .bui-bar-wrap
  .bui-bar.bui-bar-normal {
  @include theme-background-color();
}
#danmukuBox[style*="background:#B22D43" i] {
  .bui-collapse-header {
    background-color: #b22d43 !important;
  }
  .player-auxiliary-filter-title,
  .player-auxiliary-filter-menu {
    color: #ffd886 !important;
  }
}
.app-section .game-box ~ {
  .videos-box .video-title {
    color: #872339 !important;
  }
  .footer-box .comment-container {
    @include background-color();
  }
}
.coin-dialog-wrapper {
  .van-icon-guanbi {
    &:hover {
      @include theme-color();
    }
  }
  .coin-title {
    span {
      @include theme-color();
    }
  }
  .coin-card-box {
    &.on,
    &:hover {
      @include theme-border-color();
    }
  }
  .like-checkbox {
    i {
      @include to-theme("blue");
    }
  }
  .coin-bottom {
    .confirm-btn {
      @include theme-background-color();
      @include theme-border-color();
    }
  }
}
.collection-wrapper {
  @include background-color("2");
  .title {
    @include color("e");
    @include border-color("4");
  }
  .content {
    @include color("e");
    .group-list {
      li:hover {
        @include theme-color();
      }
      .collection-mask {
        background-color: hsla(0, 0%, 20%, 0.5) !important;
      }
    }
    .add-group {
      .add-btn {
        @include border-color("4");
        @include background-color("4");
      }
      .input-group {
        @include theme-border-color();
        input[type="text"] {
          @include background-color("2");
          @include color("e");
        }
        .submit {
          border-left-color: var(--theme-color) !important;
          @include color("e");
          @include theme-background-color("20");
        }
      }
    }
  }
  .bottom {
    border-top-color: #444 !important;
    .btn {
      @include color("e");
      @include theme-background-color();
      &.disable {
        @include color("a");
        @include background-color("4");
      }
    }
  }
}
