@import "./dark-definitions";

.van-popper-login .container {
  @include border-color("4");
}
.dynamic-link-hover-bg .bp-img-icon {
  @include to-theme("blue");
}
.bp-right {
  .confirm-container {
    @include background-color("4");
    .content-text {
      @include color("e");
    }
    .msg-group {
      @include border-color("a");
      .msg-input {
        @include color("e");
        &::placeholder {
          @include color("a");
        }
      }
      .msg-btn {
        @include color("e");
        &::before {
          @include background-color("a");
        }
        &.msg-btn-unable {
          @include color("a");
        }
      }
    }
    .btn-group {
      .btn-common {
        @include theme-border-color();
        @include theme-color();
        @include background-color("4");
      }
      .btn-active {
        @include theme-background-color();
      }
    }
  }
}
.rcmd-list {
  .rcmd-list-title {
    @include color("e");
  }
  .remd-video-card .title {
    @include color("e");
  }
}
.bilibili-player .bui-button.bui-button-border:hover {
  @include theme-color();
  @include theme-border-color();
}
.van-popover.van-followed .follow_dropdown li {
  @include color("e");
  &:hover {
    @include theme-color();
    @include background-color("4");
  }
}
.filter-wrap .filter-wrap_bottom,
.recommend-list .split-line {
  @include background-color("4");
}
#app .collection-m .add-group .input-group .submit {
  @include theme-background-color("20");
  border-left-color: var(--theme-color) !important;
}
.b-info .balance-name {
  @include theme-color();
}
.bilibili-player-video-state-buff-icon {
  path[fill="rgb(0,161,214)"] {
    @include theme-fill();
  }
  path[stroke="rgb(0,161,214)"] {
    @include theme-stroke();
  }
}
.b-head-search {
  @include border-color("4");
  &.input-active {
    @include theme-border-color();
  }
  .b-head-search_input {
    @include background-color();
    @include color("e");
  }
  .search-icon,
  .show-icon {
    @include to-theme("blue");
  }
}
.multi-page .cur-list .list-box li .link-content img {
  @include to-theme("blue");
}
.next-button .switch-button.on {
  @include theme-background-color();
  @include theme-border-color();
}
.video-sections {
  @include background-color("4");
  &-head {
    &_first-line {
      .first-line {
        &-left {
          span:not(.cur-page) {
            @include color("e");
          }
        }
      }
    }
    &_second-line {
      .second-line_right {
        @include theme-border-color();
        @include background-color("4");
        @include theme-color();
        &.already-fav {
          @include background-color("6");
          @include color("9");
        }
      }
    }
    &_desc {
      @include background-color("6");
      @include color("e");
    }
    .border-bottom-line {
      @include background-color("6");
    }
  }
  &-content-list {
    .video-sections-item {
      @include set-color("border-bottom-color", "6");
    }
    .video-section {
      &-title {
        @include background-color("4");
        span {
          @include color("e");
        }
      }
      &-list {
        .video-episode-card {
          &__info {
            &-title {
              @include color("e");
            }
            &-title-playing {
              @include theme-color();
              .cur-play-icon {
                @include to-theme("blue");
              }
            }
          }
        }
      }
    }
  }
}
#page-fav {
  .favList-info {
    .shadow-first {
      @include background-color("2");
    }
    .shadow-second {
      @include background-color("3");
    }
    .collection-details {
      .title .iconfont {
        @include color("a");
      }
      .collection-btn {
        @include theme-background-color();
        @include color("e");
      }
    }
  }
}
.international-header .user-con.signin .item .notify-float {
  &::before {
    @include background-color("4");
  }
  .float_msg {
    @include background-color("4");
    div {
      @include color("e");
      span {
        @include theme-color();
      }
    }
  }
}
.container .left-container .play-up-info {
  .play-up-intro {
    .play-up-cover-loading,
    .play-up-introduction-loading p {
      @include background-color("4");
    }
  }
  .play-up-self .play-up-self-content a {
    @include theme-color();
  }
}
.player-auxiliary {
  &-btn-playlist-order:hover path {
    @include theme-stroke();
  }
  &-playlist-item-img {
    @include no-image;
  }
}
.remd-video-card .card-box .pic-box {
  @include background-color("4");
}
.next-button .switch-button {
  @include border-color("6");
  @include background-color("6");
}
.video-info .video-title .tit {
  @include color("e");
}
a {
  &.name[style*="color:#FB7299"],
  &.name[style*="color: #FB7299"],
  &.name[style*="color: rgb(251, 114, 153)"],
  &.username.is_vip[style*="color:#FB7299"],
  &.c-pointer[style*="color: rgb(251, 114, 153)"] {
    color: rgb(251, 114, 153) !important;
  }
}
.bili-search {
  .video-item.list {
    @include set-color("border-bottom-color", "4");
    .headline {
      .type {
        @include border-color();
        @include background-color("4");
        @include color("e");
      }
      .title {
        @include color("e");
        &:hover {
          @include theme-color();
        }
      }
    }
    .des {
      @include color("a");
    }
  }
}
.main-container .tool-bar {
  .watch-info {
    > span {
      @include color("a");
    }
    #watch-together-icon-1 {
      @include fill("a");
    }
    &:hover {
      > span {
        @include theme-color();
      }
      #watch-together-icon-1 {
        @include theme-fill();
      }
    }
    .watch-more {
      @include no-shadow();
      @include background-color("4");
      @include border-color();
      .title {
        @include color("e");
      }
    }
  }
}
.error-container .error-404 img {
  @include to-theme("blue");
}
.popular-video-container {
  @include back-top-btn();
}