@import "./dark-definitions";
.coverNews-item {
  & &-title {
    @include color("e");
  }
  & &-time {
    @include color("a");
  }
}

._super-chat-dialog {
  .content-top {
    @include border-color("5");
    .content-top-left {
      .text-desc {
        @include color("e");
      }
      .icon-question {
        @include to-white();
      }
    }
  }
  .content-middle .card-item {
    &-top {
      .card-item-left,
      .card-item-right {
        @include color("a");
      }
    }
    &-middle .card-item-middle-top .card-item-middle-top-right .price span {
      @include color("a");
    }
    &-middle {
      &-top .card-item-middle-top-right {
        @include color("e");
      }
      &-top,
      &-bottom .input-contain .card-input-message {
        @include background-color();
      }
    }
  }
  .content-bottom {
    .ontent-bottom-up {
      .inst,
      span {
        @include color("e");
      }
      .card-input-number {
        @include background-color("4");
        @include border-color("5");
      }
    }
    .process {
      .vue-slider {
        &-dot-handle,
        &-process {
          @include theme-background-color();
        }
        &-rail {
          @include background-color("4");
        }
      }
    }
    .button {
      @include background-color("2");
      &:hover {
        @include theme-background-color();
        @include foreground-color();
      }
    }
  }
}
.vote-backdrop .extension-wrapper {
  .title-box {
    @include background-color("2");
    @include border-color();
  }
  iframe {
    @include background-color("2");
  }
}
.dialog-ctnr.bottom-left,
.suggest-wrap .keyword-wrap .keyword.focus {
  @include background-color("3");
}
.pay-note-panel {
  @include background-color("3");
  .arrow-left,
  .arrow-right {
    filter: invert(0.7) !important;
  }
}
.chat-history-panel .chat-history-list .chat-item.superChat-card-detail .card-item-middle-top {
  @include background-color();
  .card-item-middle-top-right .name {
    @include color("e");
  }
}
.chaos-pk-rank {
  .link-to-history {
    @include color("a");
  }
  .rank .rank-name {
    @include color("e");
  }
}

.bl-button--primary:disabled {
  @include color("e");
}

.vote-pc-container .card,
.vote-result-comment .reply-item {
  @include border-color();
}

.live-room-app .guard-rank-cntr .rank-cntr .btn-box .buy:hover,
.pgc-space-follow-item a.pgc-item-cover .badge,
.channel-menu-itnl .item .name em {
  @include foreground-color();
}

.extension-wrapper .dark {
  .vote-left-time {
    @include color("a");
  }
  input {
    @include color("e");
  }
  .checked {
    @include to-theme("pink");
  }
}
.app-layout {
  .search-bar .search-bar-bg {
    @include background-color("4");
  }
  .rank-item-wrapper {
    background-image: none !important;
  }
  .manga-navbar {
    &-history-list .drop-list .more-btn-container,
    &-favourite-manga .drop-list .more-btn-container {
      @include background-color();
    }
  }
  .ranking-jump,
  .manga-title,
  .show-status-text {
    @include color("e");
    &:hover {
      @include theme-color();
    }
  }
  .sidebar-item,
  .time-selector-ctnr {
    @include color("e");
    &.activated,
    &:hover {
      @include theme-color();
    }
    .arrow {
      @include to-theme("blue");
    }
  }
  .nav-list .nav-item .item-icon {
    @include to-theme("blue");
  }
  .rank-title {
    @include color("e");
  }
  .rank-hint,
  .meta-ctnr,
  .manga-info-ctnr {
    @include color("a");
  }
}
.card-detail .card-item-middle-top {
  @include background-color("3");
  .card-item-middle-top-right {
    .content-bottom .price,
    .name {
      @include color("e");
    }
  }
}
.super-chat-bubble-main .super-chat-bubble .content-top {
  @include background-color("3");
  .content {
    &-price .sub-price {
      @include color("a");
    }
    &-name,
    &-price {
      @include color("e");
    }
  }
}
.wrapper .edit-video-modal {
  .target-favlist {
    .target-favitem {
      &.disabled .target-fav-title .fav-meta .fav-name,
      &.full .target-fav-title .fav-meta .fav-name {
        @include color("a");
      }
      .target-fav-title {
        .fav-meta .fav-name {
          @include color("e");
        }
        .fav-select {
          @include border-color("a");
          &.selected {
            @include to-theme("blue");
          }
        }
      }
      &:hover {
        @include background-color();
        .target-fav-title .fav-meta .fav-name {
          @include theme-color();
        }
      }
    }
    .collection-mask {
      @include background-color();
    }
  }
  .addfav-container {
    .fake-fav-input {
      @include background-color("4");
      @include border-color();
      &:hover {
        @include border-color();
      }
    }
    .fav-add-tip {
      @include theme-background-color();
      @include color("e");
      .blue-arrow {
        @include to-theme("blue");
      }
    }
    .fav-container {
      @include theme-border-color();
      .add-fav-input,
      .fav-add-btn {
        @include background-color();
        @include color("e");
        @include border-color();
      }
    }
  }
  .favlist-body:after {
    @include background-color("a");
  }
}
.video-item.list {
  @include border-color("4");
  .type {
    @include background-color("4");
    @include color("e");
    @include border-color();
  }
  .headline.singleav {
    .avid {
      @include theme-background-color();
      @include foreground-color();
      @include border-color();
    }
    .title {
      @include theme-color();
    }
  }
  .title {
    @include color("e");
    &:hover {
      @include theme-color();
    }
  }
  .des {
    @include color("a");
  }
}
.cc-album-manage {
  .article-card {
    @include background-color("4");
    @include border-color();
    .cover-wrp {
      @include background-color("4");
    }
    .meta {
      &-status .description,
      &-status .pubdate,
      &-footer .view-stat {
        @include color("a");
      }
      &-view .delete {
        @include background-color("3");
        @include color("a");
        &:hover {
          @include background-color("2");
        }
      }
    }
  }
}

.game-content {
  .score-contain {
    .page-btn {
      @include background-color("4");
      @include color("a");
      @include border-color();
    }
    .allmatch {
      @include background-color("4");
      @include color("e");
      @include border-color();
      .more-match {
        @include background();
      }
    }
  }
  .card-score .score-wrap {
    @include border-color("4");
    .title .title-text {
      @include color("a");
    }
    .time-wrap {
      @include color("e");
      .text.state.nobegin {
        @include theme-color();
      }
    }
    .primary-btn,
    .default-btn {
      @include background-color("4");
      @include color("e");
      @include border-color();
      &:hover {
        @include theme-background-color();
        @include foreground-color();
      }
    }
  }
  .match-box {
    .main-title,
    .sub-title {
      @include color("e");
    }
    .card-video .video-wrap .video-info {
      .title a {
        @include color("e");
        &:hover {
          @include theme-color();
        }
      }
      .detail {
        @include color("a");
      }
    }
    .matchlist-contain {
      .match-wrap {
        .matchlist-title a {
          @include color("e");
          &:hover {
            @include theme-color();
          }
        }
        .match-time {
          @include color("a");
        }
      }
      .more-match {
        @include background-color("4");
        @include color("e");
        @include border-color();
        &:hover {
          @include theme-background-color();
          @include foreground-color();
        }
      }
    }
    .newslist-contain .news-wrap {
      .news-title {
        a {
          @include color("e");
          &:hover {
            @include theme-color();
          }
        }
        .hot-label {
          @include theme-background-color();
          @include foreground-color();
        }
      }
      .news-time {
        @include color("a");
      }
    }
    .user-contain {
      .page-btn {
        @include background-color("4");
        @include color("a");
        @include border-color();
      }
      .primary-btn {
        @include background-color("4");
        @include color("e");
        &:hover {
          @include theme-background-color();
          @include foreground-color();
        }
      }
    }
  }
}
.proxy-box {
  .manga-panel {
    .tab-switch,
    .app-download-link,
    .manga-list-box .manga-card .manga-tag {
      @include color("a");
      .tab-switch-item.on {
        @include theme-color();
        @include theme-border-color();
      }
    }
  }
  .manga-rank {
    .tab-switch .tab-switch-item.on {
      @include theme-color();
      @include theme-border-color();
    }
    .manga-rank-item {
      .rank-number {
        @include background-color("4");
        @include color("e");
        &.on {
          @include theme-background-color();
          @include foreground-color();
        }
      }
      a {
        @include color("e");
        &:hover {
          @include theme-color();
        }
      }
      .style,
      .update {
        @include color("a");
      }
    }
  }
}
.round-corner {
  .detail-info-wrapper .title,
  .remind-title {
    @include color("e");
  }
  .selectable-option {
    @include background-color("4");
    @include border-color();
    &.unable {
      @include background-color("1");
      @include color("6");
    }
  }
  .ticket-count {
    @include background-color("4");
    @include border-color();
  }
  .product-buy-wrapper {
    .unsale-btn {
      @include to-theme("pink");
    }
    .promo-btn.remind-btn {
      @include background-color("4");
      @include color("e");
      @include border-color();
      &:hover {
        @include theme-background-color();
        @include foreground-color();
      }
    }
  }
  .whole-guest-wrapper .guest-list-content .guest {
    &-left,
    &-right {
      filter: invert(0.8) !important;
    }
  }
  .activity-info-body .info-body {
    ul li .title,
    p strong {
      @include color("e");
    }
  }
}
