@import "./_dark-definitions";

#disable-popup-modal,
#vip-exchange-modal {
  .vip-exchange .months button.disabled {
    @include background-color("2");
  }
}

.live-skin-coloration-area,
.live-skin-coloration-area {
  .live-skin-separate-area,
  .live-skin-separate-area-hover:hover {
    @include background-color("2");
  }
}

.action-row {
  .sch-pub-btn.publishing,
  .sch-pub-btn.disabled,
  .publish-btn.publishing,
  .publish-btn.disabled {
    @include background-color("2");
  }
}
.link-footer,
.payment-active,
.app-body .section-block,
.bl-button--primary:disabled,
.tab-list .tab-item.active:before,
.player-auxiliary-area .player-auxiliary-bscrollbar .bscroll-indicator,
.home-content .publish-btn.disabled {
  @include background-color("2");
}
.wrapper .elec-btn.disabled,
.f-list-hover:hover,
.status_box .status_btn.disabled,
.game-groom-m .num,
.container .pagination,
.fjw-case-detail .ban-detail .content-box .video-model,
.app-body .section-block.with-bottom-radius,
.app-body .section-block.with-radius,
.pagination-container li.pagination,
.main-container .pay-bar .vip .btn-pay.active,
.main-container .media-info .media-right .media-tool-bar .btn-follow.active,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled,
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled:hover,
.bb-comment .no-login .comment-submit,
.main-container .media-info .media-right .media-tool-bar .btn-follow.active,
.coupon-content-con .coupon-btn-disable,
.common .bb-comment .no-login .comment-submit,
.customize-wrp .select {
  @include background-color("4");
}
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .bscroll-indicator {
  @include background-color("5");
}
.player-auxiliary-area .player-auxiliary-bscrollbar {
  .bscroll-vertical-scrollbar,
  .bscroll-vertical-scrollbar.mousedown,
  &:hover .bscroll-vertical-scrollbar {
    @include background-color();
  }
}
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap {
  .bscroll-vertical-scrollbar.mousedown,
  &:hover .bscroll-vertical-scrollbar {
    @include background-color();
  }
}
.m-recommend-item div.box {
  @include background-color();
}

blockquote {
  &, * {
    @include color("a");
  }
  @each $color in "blue", "gray", "green", "lblue", "pink", "purple", "yellow" {
    @each $value in "01", "02", "03", "04" {
      .color-#{$color}-#{$value} {
        @include color("a");
      }
    }
  }
}
.open-dialog-masker .open-dialog-content .open-footer .btn-normal.disabled {
  &,
  &:hover {
    @include color("a");
  }
}
.live-skin-coloration-area {
  .live-skin-normal-a-text {
    &,
    &:link,
    &:visited {
      @include color("a");
    }
  }
  .live-skin-normal-text {
    @include color("a");
  }
}
.status_box .status_btn.disabled {
  @include color("a");
}
.live-room-app .guard-rank-cntr {
  .tabs.isHundred .item.active {
    @include color("e");
  }
  &.hundred,
  &.thousand {
    .live-skin-main-a-text,
    .page-box .live-skin-main-text,
    .live-skin-highlight-text {
      @include color("e");
    }
  }
}
.home-page .sticky-bar .bar-content .message,
.cover .disabled-cover,
.el-input__inner,
.commnent-screen-wrap .el-input__inner,
.tag-list li.tag-item.on,
.bp-popup-panel .title-ctnr .popup-title,
.s-paging > ul > a.current,
.s-paging > ul > span.current,
.score-info .go-movie,
.invitation-record-warp .invtable .inputdone,
.bb-comment .no-login .comment-submit,
.live-skin-coloration-area .live-skin-main-text,
.live-skin-coloration-area .live-skin-highlight-text,
#app .sticky-bar .bar-content .message,
.coupon-content-con .coupon-btn-disable,
.common .bb-comment .no-login .comment-submit,
.customize-wrp .select,
.manga-detail .episode-list-component .episode-list .list-data .list-item.last-read,
.popup-content-ctnr .bl-button--ghost {
  @include color("e");
}

.link-footer,
.el-input__inner,
.commnent-screen-wrap .el-input__inner,
.ui-input-textarea.focus,
.user-setting-warp .el-radio-button__orig-radio:checked + .el-radio-button__inner,
.tabs-bar,
.score-info .go-movie,
.bb-comment .no-login .comment-submit,
.live-skin-coloration-area .live-skin-highlight-border,
.live-skin-coloration-area .live-skin-separate-border,
.select-box-v2-container .select-box-v2-controller-disabled,
.common .bb-comment .no-login .comment-submit,
.popup-content-ctnr .bl-button--ghost:hover,
.song-info .info-wrap .type-list .item-list .type-item.active,
.enter-failure .password-input .pink-border,
#rank-list-vm .tabs.isHundred .item {
  @include border-color();
}

.home-page .sticky-bar .bar-content .message:hover,
.other a a:hover,
.more-data a:hover,
.rank-item .content .info .detail a a:hover,
.rank-item .content .other a:hover,
.rank-item .content .more-data:hover,
.edit-button:hover > .icon-font,
.edit-button:hover > span .left-nav-item-childed:hover,
.left-nav-wrapper .active .left-nav-item-child,
.left-nav-wrapper .active,
.left-nav-wrapper .advice-btn:hover,
.left-nav-wrapper .left-nav-item.active,
.left-nav-wrapper .left-nav-item.active i.active,
.left-nav-wrapper .left-nav-list.on .left-nav-item .icon,
.left-nav-wrapper .left-nav-list.on .left-nav-item,
.drop-list-v2-container .drop-list-v2-item-selected .drop-list-v2-item-cont p.item-cont-main,
.voucher-ing .voucher-left-money,
.voucher-ing .voucher-left-money:before,
.voucher-no-used .voucher-left-money,
.voucher-no-used .voucher-left-money:before,
.detail-wrp .detail-content[data-v-00c9b213] p a span,
.room-info-down-row .icon-label.hover-text-blue:hover .label,
.room-introduction .edit-button:hover > .icon-font,
.room-introduction .edit-button:hover > span,
.im-popup .bp-popup-panel .title-ctnr .popup-title,
.live-skin-coloration-area .live-skin-highlight-text,
.live-skin-coloration-area .live-skin-normal-a-text:hover,
.live-skin-normal-a-text:active,
.up-info .u-info .name .username.is-vip:hover,
#app .sticky-bar .bar-content .message:hover,
.el-select-dropdown__item.selected,
.r-con .members-info .up-card .info-name.is-vip:hover,
.app-layout .style-section .tag-block .tag-containers .style-tag.selected,
.manga-detail .episode-list-component .episode-list .list-header .header-item.selected,
.live-room-app .guard-rank-cntr.hundred .live-skin-main-a-text:hover,
.live-room-app .guard-rank-cntr.thousand .live-skin-main-a-text:hover,
.container .video-panel .play-all .bilifont,
.round-corner .van-popper-favorite .play-all .bilifont {
  @include theme-color();
}

.season-timeline .season-group.today,
.season-timeline .season-group.today .group-time::before,
.aside-ctnr .author-info .communicate-btn,
.tag-list li.tag-item.on,
.tag-list li.tag-item:hover,
.page-list-box .page-input:focus,
.page-list-box .page-input:hover,
.live-skin-coloration-area .room-info-ctnr .info-section .live-skin-highlight-border,
.popup-content-ctnr .bl-button--ghost,
.manga-detail .episode-list-component .episode-list .list-data .list-item.last-read {
  @include theme-border-color();
}
.season-timeline .season-group.today.is-published .group-time::before,
.bg-blue,
.security-list .child-list li a.bg-blue:hover,
.face-g-tab li.current,
.el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date,
.tag-list li.tag-item.on,
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn-white,
.user-setting-warp .el-radio-button__orig-radio:checked + .el-radio-button__inner,
.user-my-btn .el-button--primary,
.live-skin-coloration-area .live-skin-highlight-bg,
.popup-content-ctnr .bl-button--primary,
.popup-content-ctnr .bl-button--ghost:hover,
.song-info .info-wrap .type-list .item-list .type-item.active {
  @include theme-background-color();
}
.face-g-tab li.current,
.current .tab-btn-link,
.el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date,
.style-section .tag-block .tag-containers .style-tag:active,
.popup-content-ctnr .bl-button--ghost:hover {
  @include foreground-color();
}

#bilibiliPlayer {
  box-shadow: 0 4px 8px 0 #0004;
  @include background-color("2");
}
