@import "./dark-definitions";

.festival-main-panel ~ {
  .video-toolbar {
    color: #ffd886 !important;
    .share-box {
      .title {
        @include color("e");
      }
      .name,
      .box-b-title {
        @include color("a");
      }
    }
    .more-list {
      @include border-color();
      @include background-color("2");
      @include color("e");
      li:hover {
        @include theme-color();
        @include background-color("4");
      }
    }
  }
  .comment-wrapper .comment-m {
    @include background-color("2");
  }
}
.festival-video-player
  .bilibili-player.bilibili-player-theme-red
  .bui-slider
  .bui-track
  .bui-bar-wrap
  .bui-bar.bui-bar-normal {
  @include theme-background-color();
}
#danmukuBox[style*="background:#B22D43" i] {
  .bui-collapse-header {
    background-color: #b22d43 !important;
  }
  .player-auxiliary-filter-title,
  .player-auxiliary-filter-menu {
    color: #ffd886 !important;
  }
}
.app-section .game-box ~ {
  .videos-box .video-title {
    color: #872339 !important;
  }
  .footer-box .comment-container {
    @include background-color();
  }
}
