.right-container.f-left .active-panel .show-more-button,
.link-tag-box .selector-wrap ul>li:hover,
.video-card .labels-ctnr,
.tab-selector-wrap .selector-wrap ul>li:hover,
.article-info-module,
.result.is-web .vote-result-comment,
.error-body .error-container .song-wrap .change-song,
.share-board .song-share .song-share-ul li:hover,
.normal-v2-container .normal-title-wrp>.template-op>.template-op-divide,
.ui-popup.popup-cover .bili-btn.cancel,
.dc-page .version-switch-section,
#bili-data-center .version-switch-section,
.text-article-wrp .article-card .meta-title .typename,
.text-article-wrp .article-card .meta-view .appeal,
.text-article-wrp .article-card .meta-view .data,
.text-article-wrp .article-card .meta-view .menu,
.text-article-wrp .article-card .meta-view .option,
.cc-article-wrp .article-card .meta-title .typename,
.text-article-wrp .article-card .meta-view .menu-list,
.live-user .user-item .item-right .status,
.bb-comment .no-login .baffle .b-btn,
.main-container .media-info .media-right .media-desc i,
.text-article-wrp .article-card .meta-view .meta-item.text-item,
.read-list-page .read-list-name .info.right.show .col .split-line,
.read-list-page.edit-page .read-list-name .cover,
.read-list-page .read-list-name .info.right.show .right-float .ui-btn.grey-radius .menu-list,
.bili-dialog-bomb .appeal-box .header,
.bili-dialog-bomb .appeal-box .submit,
.bili-dialog-bomb .appeal-box .wrap .container,
.m-layer.m-button,
.m_layer.m-button,
.section-block .bp-emoji-box .static-popup,
.security-right-bottom .face-tool .tool-container .tool-uninstall-pendant,
.face-container .pendant-list li,
.pendant-mask .pendant-box .pendant-main .price-btn,
.mask .popup-container .btn-primary,
.face-container .pendant-list li>div,
.face-container .record-table thead th,
.feedback-mask .content .feedback-body .feedback-submit,
.info-line .status-attend.status-attend-hover,
.info-line .status-no-attend,
.ssr-content .link-tag.activity,
.advice-dialog-wrapper .input-style,
.advice-dialog-wrapper .submit-btn,
.home-pc .dialog .footer .apply-btn,
.regist .toolbox,
.song-info .info-wrap .type-list .item-list .type-item,
.song-info .info-wrap .type-list .musicHoverType,
.protocol-modal .modal-wrap .modal-content .text-content,
.enter-failure,
.cc-content-body .select-box,
.cc-content-body .select-box .option-footer,
.bp-emoji-box .static-popup,
.float_window,
.ui-widget-header
{
    background-color: #222 !important;
}
.content .link-tag-box,
.content .tab-selector-wrap,
.live-user .user-item .item-right .tags>span,
.home-pc .application .application-body .btn-color,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management,
.vl-hd-sub .selector-block .b-slt .list li:hover
{
    background-color: #333 !important;
}
.error-body .error-container .error-panel .audio-split,
.error-body .error-container .song-wrap .image-split,
.up-info .btn-panel .charge-btn,
.content .rank-list,
.link-tag-box .selector-wrap,
.link-tag-box .selector-wrap ul,
.tag.sky-blue,
.tag.sky-blue:hover,
.tab-selector-wrap .selector-wrap,
.tab-selector-wrap .selector-wrap ul,
.popup-content-ctnr .report-input,
.share-wrap .content-wrap .input-wrap input,
.emoji-box .emoji-tabs .tab-link:hover,
.block-area .follow-wrapper .follow-head .follow-more,
.list-container .list-info-block,
.list-container .article-list-block,
.setting .public-setting .public-wrp .button-wrap .btn-text.ok.is-disable,
.setting .public-setting .public-wrp .setting-item .circle-wrap,
.video .video-topic .video-list,
.song-coin-bg .song-coin,
.share-board .song-share .song-share-ul,
.share-board .share-btn,
.report-wrap-module .form-group .el-input-group>.el-input__inner,
.report-wrap-module .code-input.el-input .el-input__inner,
#app .el-button.is-disabled,
#app .el-button.is-disabled:focus,
#app .el-button.is-disabled:hover,
.report-wrap-module .form-group .el-input__inner,
.container-left .answer-container,
.carousel-wrp .panel .pic li,
.ui-popup .popup-wrap,
.cc-container .nav-search .dropdown-btn,
.cropper-modal .modal,
.cards-block .modal-wrap .btn-group button,
.text-article-wrp .head-stat,
.text-article-wrp .article-card,
.live-user .user-item,
.read-list-modal-component .creat-read-list-box .input-box button,
.read-list-modal-component .creat-read-list-box .input-box button[disabled],
.read-list-page .module-box,
.read-list-page.edit-page .module-box,
.bili-dialog-bomb .appeal-box .submit .cancel,
.pendant-mask .pendant-box,
.pendant-mask .pendant-box .pendant-header,
.error-container .video-details p.num,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-item[data-state-play=true],
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-item:hover,
.bilibili-player .bilibili-player-auxiliary-area .bilibili-player-filter .bilibili-player-filter-btn.active,
.info-wrap .feedback-mask .content,
.abnormal-module .abnormal-item .btn-back,
.main-ctnr .qualify-drawer .drawer-pop,
.bangumi-list .bangumi-item .right-info .headline .bangumi-label,
#pgc-navigate-wrap .ep-box .ep-sub .ep-item,
.pgc-list .pgc-item .right-info .headline .pgc-label,
#pgc-navigate-wrap .play-btn,
.live-category .category,
.customize-wrp .customize-tab,
.advice-dialog-wrapper,
.home-pc .application,
.enter-failure .bl-button--primary:disabled,
.enter-failure .link-input,
.cc-content-body .select-box .select-item:hover,
.cc-content-body .select-box .option-footer:hover,
.detail-wrp .detail-empty,
.vl-hd-sub .selector-block .b-slt,
.vl-hd-sub .selector-block .b-slt .list,
.vd-list.l3 li .l-item,
.selet-datebox .sse a:hover,
.selet-datebox .inpt input[type=text],
.selet-datebox .inpt a.b-btn,
.ui-widget-content
{
    background-color: #444 !important;
}
.follow-main .list-item:hover
{
    background-color: #3d3d3d !important;
}
.ssr-content .cntr .check-all-ctn
{
    background-image: linear-gradient(rgba(242,243,245,0),#222 40%,#222) !important;
}
.ui-widget-content,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
    background-image: none !important;
}
.p-relative.rank-list-section.z-rank-list .rank-list-ctnr,
.rank-list-ctnr a,
.rank-list-ctnr a:hover,
.list-container .list-info-block .right-side .col .split-line,
.comment-list-item .ci-action span.date,
.text-article-wrp .article-card .meta-view .menu-list .menu-item:hover,
.read-list-page .read-list-name .info.right.show .right-float .ui-btn.grey-radius .menu-list .menu-item:hover,
.view-later-module .video-box-module,
.view-later-module .up-info-module,
.view-later-module .video-info-module .number .fav i,
.main-ctnr .qualify-drawer .draw-list,
.header-info-ctnr .normal-mode .area-link:active,
.tab-bg.w-100.bg-white,
.vd-list li .l-item,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-datepicker .ui-datepicker-header
{
    background-color: transparent !important;
}
.gift-rank-cntr .rank-cntr .item.own,
.list-container .article-list-block .article-item,
.original-editor-wrap .float-toolbar .toolbar-list,
.register-container .report-wrap-module .back-fff,
.cc-body .home-wrap .card,
.text-article-wrp .head-stat .section .count,
.view-later-module .read-list-modal-component .mask,
.view-later-module .video-info-module .number .coin i,
.view-later-module .video-info-module .number .fav i,
#member-container:hover::-webkit-scrollbar,
#member-container:hover::-webkit-scrollbar-track,
.ui-widget-header
{
    background: transparent !important;
}
/* a
{
    background: #fff !important;
} */
#page-setting .setting-privacy-item .setting-privacy-switcher .be-switch-label,
.video-detail .item-number,
.video-detail .item-time,
.video-card .labels-ctnr,
.video-card .icons-label .text,
.share-wrap .content-wrap .qr-wrap .qr-title,
.article-card .article-info .data,
.article-card .article-info .data a,
.article-info-module .v-info,
.article-info-module .v-data span,
.video-info-module .v-info,
.video-info-module .v-preview .txt,
.video-info-module .v-data span,
.follow-item .details .ep-info,
.follow-item .details .ep-intro,
.vote-info-wrapper .user-name .text,
.option-content-wrapper .desc .option-vote,
#page-article .article-lists .lists-item .item-right .item-title,
#page-article .article-lists .lists-item .item-right .item-info span,
.list-container .list-info-block .right-side .col,
.list-container .list-info-block .right-side .summary,
.data-card .data-wrp .tip p,
.data-card .fans-wrp .tip p,
.data-card .data-wrp .tab .fan-tab,
.data-card .fans-wrp .tab .fan-tab,
#dc-section_behavior .follow-tool-box .follow-line-legend .legend-item .legend-text,
.error-body .error-container .error-panel .error-clue,
.error-body .error-container .msg-text,
.error-body .error-container .song-wrap .song-list .song-li .content .num,
.song-coin-bg .song-coin .song-coin-exp,
.share-board .share-btn .bili-share div,
.player-his-main .player-his-tip-date,
.security-right .my-package-ruls p,
.game-item-container .game-package-item .game-package-gift,
.game-item-container .game-package-item .game-package-price,
.coupon-content-con .coupon-time,
.coupon-content-con .coupon-type,
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.container .form-group .form-message,
.rule-description p,
.home-wrap .data-card .data-wrp .total,
.home-wrap .data-card .fans-wrp .total,
.carousel-wrp .panel .pic li a .card-info .detail,
.ui-popup .popup-wrap .text-box .subtext,
.comment-list-item .ci-action,
.comment-list-item .ci-parent-reply .cipr-footer,
.cc-container .tips,
.cards-block .cards-list .card-item .card-case .other label,
.block-wrap .classify .position,
.text-article-wrp .head-stat .section .diff-wrp .diff-yeaterday,
.text-article-wrp .head-stat .section .diff-wrp .diff-text,
.read-list-component .empty-state .empty-tips,
.text-article-wrp .article-card .meta-status .pubdate,
.text-article-wrp .article-card .meta-footer .view-stat,
.text-article-wrp .article-card .meta-view .meta-item .icon-font,
.text-article-wrp .article-card .meta-view .meta-item .iconfont,
.cc-article-wrp .article-card .meta-status .pubdate,
.cc-article-wrp .article-card .meta-footer .view-stat,
.article-net-charts .area .empty-tips,
#dc-section_summary .source-rank-list-item .video-info-pubdate,
.live-user .user-item .item-right .info .star,
.live-user .user-item .item-right .info .type,
.bangumi-info-module .v-data span,
.bangumi-info-module .v-preview .desc,
.section.article .article-content .meta-col,
.section.album .album-item .meta-col,
.case-list .info .comment,
.case-list .info .jury-time,
.read-list-modal-component .tips,
.read-list-modal-component .tips.input-tips,
.ui-input-text .count,
.read-list-page .module-box .module-tips,
.read-list-page .add-article-modal .module-tips,
.read-list-page .add-article-modal .article-list-box li label span.uptime,
.read-list-page.edit-page header.header .link-btn,
.read-list-page.edit-page .read-list-name .cover .empty-state,
.ui-popup .popup-wrap .text-box .text .sub-tips,
.bili-dialog-bomb .appeal-box .wrap .container .img-text,
.bili-dialog-bomb .appeal-box .wrap .container .textarea .textarea-wrap .limit,
.pendant-main .final-price,
.pendant-main .unit-price li,
.pendant-main .point-info,
.pendant-list li .pendant-expire,
.view-later-module .video-info-module .tm-info,
.view-later-module .video-info-module .tm-info a,
.view-later-module .video-info-module .tm-info .btn-appeal,
.view-later-module .video-info-module .tm-info time,
.view-later-module .up-info-module .number,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-header,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-info-other,
.article-list-holder-block .article-list-name,
.abnormal-module .abnormal-item .txt,
#navigator .v-switcher-header-item a span,
.bangumi-list .bangumi-item .right-info .intros .label,
.bangumi-list .bangumi-item .right-info .intros .value,
.pgc-list .pgc-item .right-info .intros .value,
.pgc-list .pgc-item .right-info .intros .label,
.steps .step-operate,
.r-con .members-info .up-card .info-title,
.home-pc .application .application-header p,
.home-pc .application .application-body .fjw-tip,
.home-pc .application .application-foot p,
.upload-cover-wrapper .upload-cover-suggest,
.bangumi-media .bangumi-media-body .review-empty-wrapper .empty-info,
.detail-wrp .detail-header .tips,
.detail-wrp .detail-header .article-link,
.vd-list li .v-desc,
.vd-list li .l-r .up-info .v-author,
.vd-list li .v-info .v-info-i,
.vd-list li .l-r .up-info .v-date
{
    color: #aaa !important;
}
.up-info .btn-panel .charge-btn,
.up-info .btn-panel .not-follow-charge-btn:hover,
.link-tag-box .tab-wrap>ul li,
.video-detail .item-title,
.link-tag-box .selector-wrap,
.link-tag-box .selector-wrap ul>li:hover,
.tag.sky-blue.activated,
.tag.sky-blue,
.tag.sky-blue:hover,
.tab-selector-wrap .tab-wrap>ul li,
.tab-selector-wrap .selector-wrap,
.tab-selector-wrap .selector-wrap ul>li:hover,
.popup-content-ctnr .upload-box .upload-btn,
.popup-content-ctnr .report-input,
.share-wrap .content-wrap .input-wrap span,
.share-wrap .content-wrap .input-wrap input,
.share-wrap .content-wrap .input-wrap button,
.article-card .article-info .title,
.follow-item .details .season-title,
.block-area .follow-wrapper .follow-head .follow-more,
.vote-info-wrapper .user-name .name,
.vote-info-wrapper .vote-to,
#page-article .article-lists .lists-item .item-right .item-name,
.list-container .list-info-block .right-side .title,
.setting .public-setting .public-wrp .setting-item,
.setting .public-setting .public-wrp .button-wrap .btn-text.ok.is-disable,
.setting .public-setting .public-wrp .button-wrap .btn-text.ok,
#page-fav .fav-main .fav-action-bottom .search-results-num,
.error-body .error-container .error-panel .audio-split,
.error-body .error-container .song-wrap .image-split,
.error-body .error-container .song-wrap .change-song,
.error-body .error-container .song-wrap .iconfont,
.song-coin-bg .song-coin .song-coin-title,
.song-coin-bg .song-coin .song-coin-btn,
.share-board .song-share .song-share-ul,
.share-board .share-btn .share-type,
.player-his-main .player-his-nav,
.game-item-container .game-package-item .game-package-name,
.game-package-wrapper .title-package-wrapper .title-package-name,
.container .form-group .form-group-title,
.container .form-group .mail-text,
.container-left .answer-container .header-top h2,
.answer-list .exam-list .exam-number,
.answer-container .footer-bottom .btn-default,
.bili-header-m .profile-m .grade .bar .num .v0,
.carousel-wrp .panel .pic li a .card-info .title .headline,
.article-data-wrp .breadcrumb a,
.article-data-wrp .breadcrumb .sign,
.normal-v2-container .normal-title-wrp>.template-op>p,
.ui-popup .popup-wrap .text-box .text,
.ui-popup.popup-cover .bili-btn.cancel,
.comment-list-item .ci-content,
.comment-list-item .article-wrap .name,
.cc-container .nav-search .dropdown-btn,
.cc-container .nav-search .search,
.cc-container .nav-search .search input,
.author-container .attention-animation-holder .attention-btn,
.cards-block .cards-list .card-item .card-case .title,
.text-article-wrp .head-stat .section .title,
.text-article-wrp .article-card .meta-title .typename,
.cc-article-wrp .article-card .meta-title .typename,
.text-article-wrp .article-card .meta-view .menu-list .menu-item,
.live-user .user-item .item-right .tags>span,
.live-user .user-item .item-right .status,
.bb-comment .no-login .baffle .b-btn:hover,
.list-filter-bar .item-text,
.teach-last-list .teach-tv-text,
.read-list-modal-component .creat-read-list-box .input-box button,
.text-article-wrp .article-card .meta-view .meta-item.text-item,
.read-list-page .read-list-name .info.right.show .title,
.read-list-page .read-list-name .info.right.show .right-float .ui-btn.grey-radius .menu-list .menu-item,
.bili-dialog-bomb .appeal-box .wrap .container .question,
.bili-dialog-bomb .appeal-box .submit .cancel,
.bili-dialog-bomb .appeal-box .submit .confirm,
.m-layer.m-button,
.m_layer.m-button,
.m-layer .b-btn,
.bp-emoji-box .static-popup.common-font.bp-arrow .title,
.security-right-bottom .face-nav>div a,
.face-container .pendant-nav li div.active,
.face-container .pendant-nav li div,
.pendant-mask .pendant-box .pendant-main .price-btn,
.security-right-bottom .tool-uninstall-pendant span,
.mask .popup-container .title,
.pendant-mask .pendant-main .pendant-info p,
.pendant-main .pendant-btn,
.face-container .pendant-list li .pendant-btn,
.face-container .record-table,
.view-later-module .video-info-module h1,
.view-later-module .up-info-module .b-btn,
.feedback-mask .content .feedback-body .dl-item .dt-item,
.feedback-mask .content .feedback-body .feedback-submit,
.feedback-mask .content .feedback-body .feedback-submit.active,
.abnormal-module .abnormal-item .btn-back,
#navigator .v-switcher-header-item a,
.bangumi-list .bangumi-item .right-info .headline .title,
.bangumi-list .bangumi-item .right-info .headline .bangumi-label,
#pgc-navigate-wrap .ep-box .ep-sub .ep-item,
#pgc-navigate-wrap .ep-box .ep-sub .ep-item:hover,
.pgc-list .pgc-item .right-info .headline .title,
.pgc-list .pgc-item .right-info .headline .pgc-label,
#pgc-navigate-wrap .play-btn,
#pgc-navigate-wrap .play-btn:hover,
.sponsor-rank-item.pos-rank-module .sp-right .sp-user:not(.vip) .sp-name,
.tabs .customize-tab .tab-title,
.customize-wrp .steps-title,
.steps .step-operate .step-bread .step-index,
.title-library-wrap .title-status button,
.advice-dialog-wrapper .advice-title,
.advice-dialog-wrapper .advice-info,
.advice-dialog-wrapper .advice-item-title,
.advice-dialog-wrapper .input-style,
.advice-dialog-wrapper .advice-dialog-close,
.right-content .customize-wrp .title,
.right-content .reward-wrp .reward-title,
.card-warpper .card-warpper-outside .card-item .info-text,
.r-con .members-info__header .title,
.r-con .members-info__header .btn,
.r-con .members-info .up-card .info-name,
.r-con .members-info .up-card .attention--not,
.r-con .members-info .up-card .attention,
.home-pc .application .application-header .title span,
.home-pc .application .application-body .application-item .p1,
.home-pc .application .application-body button,
.home-pc .dialog .header h1,
.home-pc .dialog .footer .apply-btn,
.regist .reg-main-title,
.regist .reg-main-text,
.regist .toolbox .reg-tip,
.song-info .info-wrap .type-list span,
.song-info .info-wrap .current-selector .chosen-type,
.song-info .info-wrap .type-list .item-list .type-item,
.song-info .info-wrap .type-list .item-list .type-item.active:hover,
.enter-failure,
.enter-failure .supporting-text,
.fold-box .fold-hoverable,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management>*,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management i,
.cc-content-body .select-box .option-footer,
.cc-content-body .select-box .select-item .text,
.detail-wrp .detail-empty,
.vd-list li .title,
.vl-hd-sub .b-slt .txt,
.vl-hd-sub .b-slt .list li,
.selet-datebox .sse a,
.selet-datebox .inpt input[type=text],
.selet-datebox .inpt a.b-btn,
.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
    color: #eee !important;
}
/* a
{
    color: #fff !important;
} */
.feed-topic .hot-content .card,
.up-info .btn-panel .charge-btn,
.feed-topic .top-content .card.card-offset,
.link-tag-box .tab-wrap,
.link-tag-box .selector-wrap div,
.link-tag-box .selector-wrap ul,
.tag.sky-blue.activated,
.tag.sky-blue,
.tab-selector-wrap .selector-wrap div,
.tab-selector-wrap .selector-wrap ul,
.popup-content-ctnr .report-input,
.share-wrap .content-wrap .input-wrap input,
.article-info-module,
.block-area .follow-wrapper .follow-head .follow-more,
.list-container .list-info-block .right-side .up-info-block .follow-btn.on,
.version-switch-section .bottom-border,
.cc-body .setting .follow-setting,
.cc-body .setting .public-setting,
.dc-page .version-switch-section,
.section-block.with-radius.p-relative .section-nav,
.error-body .error-container .song-wrap .change-song,
.share-board .song-share .song-share-ul,
.share-board .song-share .song-share-ul li,
.share-board .share-btn .share-type.song-border,
.security-right .vip-package-wrapper,
.security-right .game-package-wrapper,
.security-right .game-package-wrapper .game-item-container .game-package-item,
.container-left .answer-container,
.container-left .header-top,
.answer-container .answer-list .exam-list,
.answer-container .answer-list,
.answer-container .footer-bottom .btn-default,
.carousel-wrp .panel .pic li,
.videoCharts .stat-wrp,
.article-net-charts .charts .play,
.article-net-charts .charts .person,
.article-net-charts .area,
.more-selector-v2-container .dividing-line,
.normal-v2-container .normal-title-wrp>.template-op,
.ui-popup .popup-wrap.shadow,
.ui-popup.popup-cover .bili-btn.cancel,
#bili-data-center .version-switch-section,
.cc-container .nav-search .dropdown-btn,
.cover-upload-box .modal-head .head-wrap,
.modal-content.clearfix .img-clip-wrap .reset-img,
.bili-modal.cropper-modal .modal-footer,
.cards-block .modal-wrap .btn-group,
.bili-modal.cropper-modal .modal-head .head-wrap,
.text-article-wrp .article-card,
.text-article-wrp .article-card .meta-title .typename,
.cc-article-wrp .article-card .meta-title .typename,
.live-user .user-item .item-right .tags>span,
.read-list-modal-component hr,
.read-list-modal-component .creat-read-list-box .input-box,
.read-list-modal-component .creat-read-list-box .input-box button,
.bili-dialog-bomb .appeal-box .submit .cancel,
.m-layer.m-button,
.m_layer.m-button,
.m-layer .b-btn,
.section-block .bp-emoji-box .static-popup,
.security-right-bottom .face-nav,
.security-right-bottom .face-tool .tool-container,
.security-right-bottom .face-tool .tool-container .tool-uninstall-pendant,
.security-right-bottom .face-tool .tool-container .tool-change-face,
.face-container .pendant-list li,
.face-container .pendant-list li>div,
.face-container .record-table tbody td,
.view-later-module .video-box-module,
.view-later-module .up-info-module .b-btn,
.view-later-module .video-toolbar-module,
.view-later-module .core-player-auxiliary-area,
.view-later-module .core-player-video-control,
.view-later-module .core-player-filter,
.face-g-list#my-g-list .face-g-block .my-mp-block,
.info-wrap .feedback-mask .content .headline,
.main-ctnr .qualify-drawer .draw-list,
.main-ctnr .qualify-drawer .drawer-pop:after,
.ssr-content .link-tag.activity:active,
#navigator .v-switcher-header-item,
.s-space #page-fav .fav-sidenav,
.bangumi-list .bangumi-item,
.bangumi-list .bangumi-item .right-info .headline .bangumi-label,
#pgc-navigate-wrap .ep-box .ep-sub .ep-item,
.pgc-list .pgc-item .right-info .headline .pgc-label,
.pgc-list .pgc-item,
#pgc-navigate-wrap .play-btn,
#pgc-navigate-wrap .play-btn:hover,
.el-picker-panel__body .el-date-table th,
.el-popper[x-placement^=bottom] .popper__arrow,
.el-popper[x-placement^=bottom] .popper__arrow:after,
.customize-wrp .customize-tab,
.live-category .category,
.r-con .members-info .up-card .attention--not:hover,
.home-pc .application .application-foot,
.feed-topic .card,
.song-info .info-wrap .type-list .item-list .type-item,
.protocol-modal .cancel-btn,
.card .fold-box,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management>*,
.cc-content-body .select-box,
.cc-content-body .select-box .row,
.detail-wrp .detail-empty,
.bp-emoji-box .static-popup,
.b-slt.on, .b-slt:hover, .b-slt.on:hover,
.vl-hd-sub .selector-block .b-slt .list,
.vd-list.l3 li .l-item,
.float_window,
.float_window .close,
.float_window .close:hover,
.float_window .selet-datebox .inpt input[type=text],
.selet-datebox .inpt a.b-btn,
.selet-datebox .inpt a.b-btn:hover,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    border-color: transparent !important;
}
.article-info-module .v-info .line,
.video-info-module .v-info .line,
.list-container .article-list-block .article-item .item-holder .article-content .article-left-block,
.modal .img-clip-wrap .container-box,
.text-article-wrp .article-card .meta-status .pubdate,
.pendant-main .final-price,
.pendant-main .unit-price li,
.bangumi-media .bangumi-media-body .review-empty-wrapper .empty-info .btn-go-write
{
    border-color: #aaa !important;
}
.article-info-module .v-data,
.web-box .expanded .user-li::after,
.read-list-page .add-article-modal hr,
.bili-dialog-bomb .appeal-box .header,
.bili-dialog-bomb .appeal-box .submit,
.view-later-module .video-info-module .number .line,
.view-later-module .video-desc,
.view-later-module .video-tag,
.vd-list.l2 li,
.vd-list.l2 li .l-item,
.vd-list.l1 li .l-r,
.vd-list li .l-r .up-info .v-date,
#float_window h3,
.selet-datebox .sse a,
.selet-datebox .sse,
.ui-widget-content
{
    border-color: #444 !important
}
/* a
{
    border-color: white !important;
} */
/* a
{
    fill: #aaa !important;
} */
/* a
{
    fill: #fff !important;
} */
.block-area .follow-wrapper .follow-head .follow-more .icon,
.text-article-wrp .head-stat .section .iconarrow,
.error-related .error.details,
.video-toolbar-module .share-box .share-btn ul li,
#pgc-navigate-wrap .play-btn .play-btn-svg,
.b-slt .b-slt-arrow,
.float_window .close
{
    filter: brightness(0) invert(1) !important;
}
.article-card .article-info .data .icon,
.article-info-module .v-data .icon,
.video-info-module .v-data .icon,
.item-right .info.clearfix .icon-live-life,
.item-right .info.clearfix .icon-live-mgame,
.item-right .info.clearfix .icon-live-col,
.item-right .info.clearfix .icon-live-compete,
.bangumi-info-module .v-data .icon,
.col-1 .meta .icon,
.article-content .meta-col .icon,
.album-item .meta-col .icon,
.col-1 .i-pin-info .icon,
.cube .meta .icon,
.album-card .info .view-count .icon-view,
.album-card .info .like-num .icon-like,
.section-block .col-full .meta .icon,
.case-list .info .jury-time i,
.view-later-module .share-box .s-text .icon,
.l-item .v-info .b-icon,
#page-fav .fav-main .search-input .icon-search
{
    filter: brightness(0) invert(.7) !important;
}
.nav-upload-container .nav-upload-item>img,
#page-fav .fav-main .search-input .icon-search:hover,
.register-agree .checkbox-bwxr.active,
.answer-list .key-list li.active:before,
.self-icon-vote-create-btn.active,
.security-right-bottom .face-nav>.active:after,
.pendant-main .unit-price li.active,
.pendant-pay-close,
.feedback-mask .content .feedback-body input[type=radio]:checked+.radio-icon,
.bui-radio .bui-radio-normal .bui-radio-item:hover .bui-radio-icon svg,
.left-nav-ul .icon-customize.active,
.left-nav-item:hover .icon-customize,
.song-info .info-wrap .type-list .fold-div .foldStatus,
.song-info .info-wrap .type-list .fold-div .unfoldStatus,
.fold-box .fold-hoverable:hover .fold-arrow,
.vl-hd #tab_list_mode .tab-i
{
    filter: var(--blue-image-filter) !important;
}
.container-right .rule-title .pink-icon
{
    filter: var(--pink-image-filter) !important;
}
/* a
{
    filter: grayscale(1) !important;
} */
/* a
{
    filter: brightness(0.7) !important;
} */
/* a
{
    filter: brightness(0.2) !important;
} */
/* a
{
    filter: brightness(0.5) !important;
} */
/* a
{
    background-image: none !important;
} */
.view-later-module .video-info-module,
.float_window .close:hover
{
    box-shadow: none !important;
}
/* a
{
    box-shadow: 0px 4px 16px 0px var(--theme-color-40) !important;
} */
.article-info-module,
.share-board .song-share .song-share-ul,
.share-board .share-btn,
.text-article-wrp .head-stat,
#root .nav-upload-container,
.live-user .user-item:hover,
.read-list-page .module-box,
.m-layer.m-button,
.m_layer.m-button,
.face-g-list#my-g-list .face-g-block .my-mp-block:hover,
#app-ctnr .demo-app .category,
.left-nav-wrapper,
.charge-participate .part-btn,
.cc-content-body .select-box,
.detail-wrp .detail-empty,
.float_window
{
    box-shadow: 0px 1px 10px 0px var(--theme-color-30) !important;
}
/* a
{
    display: none !important;
} */
.tag.sky-blue:hover,
.data-card .data-wrp .tab .fan-tab.current,
.data-card .fans-wrp .tab .fan-tab.current,
.data-card .data-wrp .tab .fan-tab.current:after,
.data-card .fans-wrp .tab .fan-tab.current:after,
.data-card .data-wrp .total .incr-num:before,
.data-card .fans-wrp .total .incr-num:before,
.setting .public-setting .public-wrp .setting-item .circle-wrap.active,
.error-body .error-container .song-wrap .song-list .song-li .song-shadow,
.song-coin-bg .song-coin .song-coin-content .song-two-coin:hover,
.song-coin-bg .song-coin .song-coin-content .song-two-coin.active,
.song-coin-bg .song-coin .song-coin-content .song-one-coin:hover,
.song-coin-bg .song-coin .song-coin-content .song-one-coin.active,
.carousel-wrp .page .next.current,
.list-filter-bar .item-text.active,
.list-filter-bar .item-text.expand,
.list-filter-bar .item-text:hover,
.security-right-bottom .face-nav>.active,
.face-container .pendant-list li:hover,
.pendant-main .unit-price li.active,
.pendant-main .unit-price li:hover,
.info-line .status-attend,
.ssr-content .link-tag.activity,
.live-category .category:hover,
.title-library-wrap .title-status button,
.customize-wrp .select,
.song-info .info-wrap .type-list .item-list .type-item:hover,
.bangumi-media .bangumi-media-body .review-empty-wrapper .empty-info .btn-go-write:hover,
.vl-hd .vl-tab .tab-i.on
{
    border-color: var(--theme-color) !important;
}
/* a
{
    border-top-color: var(--theme-color) !important;
} */
/* a
{
    border-bottom-color: var(--theme-color) !important;
} */
/* a
{
    border-right-color: var(--theme-color) !important;
} */
/* a
{
    border: 1px solid var(--theme-color) !important;
} */
.up-info .btn-panel .not-follow-charge-btn:hover,
.tab-wrap>ul li.selected a span:after,
.tag.sky-blue.activated,
.popup-content-ctnr .upload-box .upload-btn,
.share-wrap .content-wrap .input-wrap button,
.block-area .follow-wrapper .follow-head .follow-more:hover,
.setting .public-setting .public-wrp .setting-item .circle-wrap .circle-inlie,
.setting .public-setting .public-wrp .button-wrap .btn-text.ok,
.song-coin-bg .song-coin .song-coin-btn:hover,
.song-coin-bg .song-coin .song-coin-btn,
#app .el-button--primary,
#app .el-button--primary:focus,
#app .el-button--primary:hover,
.answer-container .footer-bottom .btn-default,
.bili-header-m .mini-wnd-nav.history-wnd .top-login .loginbtn,
.carousel-wrp .page .next.current,
.author-container .attention-animation-holder .attention-btn,
.cards-block .images-list .image-item .selected,
.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn .bilibili-player-video-quality-menu .bilibili-player-bigvip,
.bb-comment .no-login .baffle .b-btn:hover,
.text-article-wrp .article-card .meta-view .meta-item:hover,
.bili-dialog-bomb .appeal-box .wrap .container .options .option .checkbox.checked:before,
.bili-dialog-bomb .appeal-box .submit .confirm,
.m-layer .b-btn,
.face-container .pendant-nav li div.active,
.security-right-bottom .face-tool .tool-container .tool-change-face,
.pendant-main .pendant-btn,
.face-container .pendant-list li .pendant-btn,
.face-container .pendant-list li .pendant-btn:hover,
.view-later-module .up-info-module .b-btn,
.feedback-mask .content .feedback-body .feedback-submit.active,
.abnormal-module .abnormal-item .btn-back:hover,
.ssr-content .link-tag.activity:hover,
.ssr-content .link-tag.activity:active,
#navigator .v-switcher-header-anchor,
#pgc-navigate-wrap .ep-box .ep-sub .ep-item:hover,
#pgc-navigate-wrap .play-btn:hover,
.steps .step-operate .step-bread .step-index,
.ac-article-wrp .tabs-nav .select,
.advice-dialog-wrapper .submit-btn:hover,
.r-con .members-info .up-card .attention--not:hover,
.home-pc .application .application-body .btn-color:hover,
.home-pc .dialog .footer .apply-btn:hover,
.selet-datebox .sse a.on,
.selet-datebox .inpt a.b-btn:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
    background-color: var(--theme-color) !important;
}
/* a
{
    background-color: var(--theme-color-60) !important;
} */
/* a
{
    background-color: var(--theme-color-90) !important;
} */
.main-container .media-info .media-right .media-desc i,
#announcement-area .flip-view .action-arrow-ctnr:hover .icon-font,
.rank-item:hover .item-title,
.tab-wrap>ul li.selected a span,
.tab-wrap>ul li a span:hover,
.share-wrap .content-wrap .title,
.article-card .article-info .title:hover,
.follow-item .details .season-title:hover,
.follow-item .details .highlight,
#page-article .article-lists .lists-item .item-right .item-name a:hover,
#page-article .article-lists .lists-item .item-right .item-title a:hover,
.data-card .data-wrp .tab .fan-tab.current,
.data-card .fans-wrp .tab .fan-tab.current,
#page-fav .fav-main .fav-action-bottom .search-results-num i,
.small-item .search-keyword-highlight,
.song-coin-bg .song-coin .song-coin-title .song-coin-number,
.share-board .song-share .song-share-ul li:hover,
.song-coin-bg .song-coin .song-coin-content .song-one-coin.active,
.song-coin-bg .song-coin .song-coin-content .song-two-coin.active,
.game-package-item .game-package-type,
.coupon-money-2:before,
.form-group.register-hidden-gruop.text-right a,
.form-group .register-agree a,
.register-hidden-gruop.text-right a,
.rule-time span,
.answer-container .header-top .header-tip,
.bili-header-m .profile-m .grade .bar .num .v0:hover,
.electron-set-v2-hint a
.electron-set-v2-hint a:hover,
.comment-list-item .article-wrap .show-all,
.icon-close:hover,
.text-article-wrp .article-card .meta-status .status,
.text-article-wrp .article-card .meta-view .menu-list .menu-item:hover,
.col-1 .article-wrap .article-con a:hover,
.pgc-space-follow-item .pgc-item-info .pgc-item-state .publish-state.is-new,
.article-content-ctnr .supporting-info .category:hover,
.list-filter-bar .item-text.active,
.list-filter-bar .item-text.expand,
.list-filter-bar .item-text:hover,
.ui-checkbox input[type=checkbox]:active+.ui-checkbox-icon,
.ui-checkbox input[type=checkbox]:hover+.ui-checkbox-icon,
.read-list-page .read-list-name .info.right.show .right-float .ui-btn.grey-radius .menu-list .menu-item:hover,
.pendant-main .unit-price li.active,
.pendant-main .unit-price li:hover,
.pendant-main .final-price span,
.pendant-main .point-info a,
.view-later-module .video-info-module .tm-info a:hover,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-positive.bppl-state-selected,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-random.bppl-state-selected,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-reverse.bppl-state-selected,
.view-later-module .bilibili-player-iconfont.icon-12toview-play:before,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-item:hover .bilibili-player-watchlater-info-title,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-positive:hover,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-random:hover,
.view-later-module .bilibili-player .bilibili-player-auxiliary-area .bilibili-player-watchlater-nav-reverse:hover,
.cntr .sort-cntr .href-all:hover i,
.cntr .sort-cntr .href-all:hover,
#navigator .v-switcher-header-item a:hover,
.bangumi-list .bangumi-item .right-info .headline .title:hover,
.pgc-list .pgc-item .right-info .headline .title:hover,
.steps .step-operate .step-bread .step-title.selected,
.steps .step-operate .dropdown-btn .icon-text,
.card-warpper .card-warpper-outside .card-item .learn.unlearn,
.sponsor-rank-item.pos-rank-module .sp-right .sp-user:not(.vip) .sp-name:hover,
.home-pc .application .application-body .fjw-tip li:first-child,
.song-info .info-wrap .choose-type .selected,
.song-info .info-wrap .type-list .item-list .type-item:hover,
.song-info .info-wrap .type-list .fold-div,
.song-info .info-wrap .current-selector .selector-list .font-blue,
.enter-failure .password-input .empty-hint,
.bangumi-media .bangumi-media-body .review-empty-wrapper .empty-info .btn-go-write:hover,
.fold-box .fold-hoverable:hover,
.photo-imager-container .image-count-hinter .count-hinter .current-index,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management>:hover,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management>:hover i,
.content-tag-v2-edit-mod-wrp p a,
.content-tag-v2-edit-mod-wrp p a:hover,
.electron-set-v2-hint a,
.electron-set-v2-hint a:hover,
.vd-list li .title:hover,
.vl-hd .vl-tab .tab-i.on,
.vl-hd #tab_list_type .tab-i.on,
.b-slt-tab li:hover, .b-slt-tab .tab-i:hover
{
    color: var(--theme-color) !important;
}
/* a
{
    color: var(--foreground-color) !important;
} */
/* a
{
    fill: var(--theme-color) !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
} */
/* a
{
    border-top-color: transparent !important;
    border-left-color: transparent !important;
} */
.data-card .data-wrp .tab .fan-tab.current:after,
.data-card .fans-wrp .tab .fan-tab.current:after,
.data-card .data-wrp .total .incr-num:before,
.data-card .fans-wrp .total .incr-num:before,
.contri-condition .contri-select.active:after
{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.ui-widget-content,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    border-radius: 4px !important;
}
.cc-content-body .select-box .select-item:hover
{
    border-radius: 15px !important;
}
/* line-ending test */