@import "./dark-definitions";
.series {
  .bt-top .bt {
    @include color("e");
  }
  .van-pagination {
    @include color("e");
    &-point {
      @include background-color("3");
      .van-pagination-item:hover,
      .van-pagination-active {
        @include theme-background-color();
      }
    }
    &-btn-next,
    &-btn-prev {
      @include color("e");
      @include background-color("4");
      @include border-color();
    }
    &-pager {
      li {
        @include color("e");
      }
    }
  }
  .switch-button {
    @include background-color("3");
    &.on {
      @include theme-background-color();
    }
    &.on::after,
    &::after {
      @include color("e");
    }
  }
  .series-box .video-card-common {
    @include background-color();
  }
}
.multi-page .cur-list .list-box li .duration {
  @include color("a");
}
.interact-dialog .con::before {
  content: "";
  background: url(https://s1.hdslb.com/bfs/static/jinkela/video/asserts/interact-dialog.png);
  filter: invert(1);
  background-size: 242px 198px;
  width: 242px;
  height: 198px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  clip-path: inset(60% 35% 0 35%);
}
#app {
  .channel-sidebar {
    .search-history-panel {
      @include background-color("3");
      @include border-color("4");
      .history-item {
        &:hover,
        &.focus {
          @include background-color("2");
        }
        .item-value {
          @include color("e");
        }
        .delete-icon:hover {
          @include theme-color();
        }
      }
      .clear-btn {
        @include theme-color();
      }
    }
  }
  .search-container {
    @include background-color("2");
    .header-info {
      .title {
        @include color("e");
      }
      .count {
        @include color("a");
      }
    }
    .card-list {
      .header-info,
      .channel-info {
        .title {
          @include color("e");
        }
      }
      .channel-btns,
      .channel-btn {
        @include to-theme("blue");
      }
      .list {
        .video-card {
          .video-name {
            @include color("e");
            &:hover {
              @include theme-color();
            }
          }
        }
      }
    }
    @include back-top-btn();
  }
}
#page-dynamic,
.detail-card {
  .bb-comment {
    .no-login {
      .textarea-container {
        .baffle,
        .comment-submit {
          @include background-color("666");
        }
      }
      .comment-emoji {
        @include background-color("666");
      }
    }
  }
}
.cinema-home-wrapper .back-top-tools {
  @include back-top-btn(".backup");
}
.s-space {
  .follow-main {
    .follow-header {
      .follow-tabs {
        @include color("e");
        span:hover {
          @include theme-color();
        }
        .active {
          @include theme-color();
          &::before {
            @include set-theme-color("border-bottom-color");
          }
          &::after {
            @include theme-background-color();
          }
        }
      }
    }
  }
}
.switch-wrap {
  .type {
    &.active i,
    &.active:hover i {
      @include to-theme("blue");
    }
    &.imgleft:not(.active) {
      &:hover i {
        background-position: -148px -376px !important;
        opacity: 1;
      }
      i {
        opacity: 0.7;
        transition: opacity 0.2s ease-out;
      }
    }
    &.aver:not(.active) {
      &:hover i {
        background-position: -194px -376px !important;
        opacity: 1;
      }
      i {
        opacity: 0.7;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}
