@import "../../common";
.custom-navbar .favorites-list {
  width: 380px;
  height: 600px;
  font-size: 12px;
  @include v-stretch();
  justify-content: center;
  .empty-tip,
  .loading-tip {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  & > .loading-tip {
    display: none;
  }
  .mdi {
    line-height: 1;
    font-size: 18px;
  }
  &.loading {
    & > .loading-tip {
      display: flex;
    }
    & > :not(.loading-tip) {
      display: none;
    }
  }
  .content {
    @include v-stretch();
    @include no-scrollbar();
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
    .floating {
      @include round-bar(20);
      @include h-center();
      background-color: #000c;
      color: white;
      justify-content: center;
      cursor: pointer;
    }
    .header {
      @include h-center();
      justify-content: space-between;
      margin: 16px 12px;
      .list-select {
        height: 26px;
      }
      .more-info {
        @include h-center();
        @include round-bar(26);
        padding: 4px 6px 4px 10px;
        background-color: #8882;
        &:hover {
          background-color: #8884;
        }
        .mdi {
          margin-left: 8px;
        }
      }
    }
    .cards {
      flex: 1;
      overflow: auto;
      overscroll-behavior: contain;
      scroll-behavior: smooth;
      position: relative;
      @include no-scrollbar();
      margin: 0 12px;
      padding-bottom: 12px;
      &-enter,
      &-leave-to {
        opacity: 0;
        transform: translateY(-16px) scale(0.9);
      }
      &-leave-active {
        transition: 0.24s cubic-bezier(0.22, 0.61, 0.36, 1);
        position: absolute;
      }
      .favorite-card {
        cursor: pointer;
        flex-shrink: 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 #0001;
        color: black;
        background-color: #fff;
        display: grid;
        grid-template:
          "cover title" 2fr
          "cover info" 1fr / 130px 1fr;
        height: 85px;
        body.dark & {
          background-color: #282828;
          color: #eee;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .cover-container {
          grid-area: cover;
          overflow: hidden;
          border-radius: 8px 0 0 8px;
          position: relative;
          $padding: 6px;
          .favorite-time{
            top: $padding;
            left: $padding;
            padding: 0 6px;
          }
          .duration {
            left: $padding;
            bottom: $padding;
            padding: 0 6px;
          }
          .floating {
            position: absolute;
            opacity: 0;
            font-size: 11px;
          }
          .cover {
            object-fit: cover;
          }
        }
        &:hover {
          .floating {
            opacity: 1;
          }
        }
        .title {
          grid-area: title;
          font-size: 13px;
          font-weight: bold;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 3em;
          word-break: break-all;
          line-height: 1.5;
          overflow: hidden;
          margin-top: 8px;
          padding: 0 10px;
          &:hover {
            color: var(--theme-color) !important;
          }
        }
        .up {
          flex: 0 1 auto;
          padding: 2px 10px 2px 2px;
          margin: 0 8px 6px;
          justify-self: start;
          align-self: center;
          max-width: calc(100% - 16px);
          @include h-center();
          @include round-bar(24);
          background-color: #8882;
          &:hover {
            background-color: #8884;
          }
          .face {
            border-radius: 50%;
            margin-right: 6px;
            height: 20px;
            width: 20px;
          }
          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 11px;
          }
          &:hover .name {
            color: var(--theme-color);
          }
        }
      }
    }
  }
}
