.gui-settings-auto-hide-side-bar {
  .gui-settings,
  .gui-settings-widgets {
    transition-delay: 0.3s;
    transform: translateX(-36px);
  }
  .gui-settings-icon-panel {
    &::before {
      content: "";
      position: fixed;
      left: 0;
      width: 1px;
      height: 200vh;
      top: -100vh;
    }
    &:hover {
      .gui-settings,
      .gui-settings-widgets {
        transition-delay: 0s;
        transform: translateX(-16px);
        &:hover {
          transform: translateX(0);
        }
      }
    }
  }
  &.gui-settings-dock-right {
    .gui-settings,
    .gui-settings-widgets {
      transform: translateX(36px);
    }
    .gui-settings-icon-panel {
      &::before {
        right: 0;
        left: unset;
      }
      &:hover {
        .gui-settings,
        .gui-settings-widgets {
          transform: translateX(16px);
          &:hover {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
