.gui-settings-icon-panel {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50% + var(--side-bar-offset));
  left: 0;
  width: 32px;
  z-index: 99999;
  transform: translateY(-50%);
  user-select: none;
  i {
    transition: all 0.2s;
    opacity: 0.6;
    transform: rotate(360deg);
    font-size: 12px;
  }
}
.gui-settings,
.gui-settings-widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 16px 0;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
  opacity: 1;
  transform-origin: center !important;
  transform: translateX(-16px);
  background-color: #dddc;
  border-radius: 0 50% 50% 0;
  padding: 6px;
  box-sizing: content-box;

  &:hover i {
    opacity: 0.75;
    transform: rotate(0deg);
  }
  body.dark & {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:hover {
    opacity: 1;
    transform: translateX(0px);
  }
}
.gui-settings-footer,
.gui-settings-header {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 10;
  padding: 32px;
}
.gui-settings-footer {
  height: 80px;
  justify-content: center;
  position: relative;
}
.gui-settings-content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  overscroll-behavior: contain;
  ul {
    padding: 0;
    margin: 0;
    li {
      font-size: 16px;
      margin-bottom: 18px;
      display: flex;
      height: 24px;
      transition: all 0.2s;
      box-sizing: content-box;

      &.disabled,
      &:not(.category).folded {
        height: 0;
        margin: 0;
        overflow: hidden;
      }

      &.indent-0 {
        margin-left: 16px;
      }
      &.indent-1 {
        margin-left: 80px;
      }
      &.indent-2 {
        margin-left: 144px;
      }
      &.indent-center {
        align-items: center;
        justify-content: center;
      }
      &.category {
        padding: 16px 0;
        margin-bottom: 18px;
        border-top: 1px dashed #8884;
        border-bottom: 1px dashed #8884;
        background: white;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 101;
        cursor: pointer;
        transition: all 0.2s ease-out;
        -webkit-tap-highlight-color: transparent;
      }
      &.category.folded {
        margin-bottom: -1px;
      }
      &.category * {
        opacity: 0.8;
      }
    }
  }
}
.gui-settings-title {
  font-size: 16pt;
  flex: 0 0 auto;
}
.gui-settings-box .gui-settings-title {
  margin-right: 64px;
}
.gui-settings-search[type="text"] {
  flex: 1 0 auto;
  height: auto;
  border: none;
  padding: 6px;
  font-size: 12pt;
  width: 40%;
  border-bottom: 1px solid #8884;
  transition: all 0.2s;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  outline: none !important;
}
.gui-settings-close {
  width: 24px;
  height: 24px;
  padding: 16px;
}
.gui-settings-header .gui-settings-close {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.gui-settings-textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  span {
    margin: 0 16px;
    transition: all 0.2s;
  }
  input {
    border: none;
    height: 100%;
    max-width: 90px;
    padding: 4px 8px;
    background: #8884;
    transition: all 0.2s;
    font-size: 16px;
  }
  input:disabled,
  &.disabled span,
  &.disabled div {
    opacity: 0.5;
  }
  & input[key="filenameFormat"] {
    max-width: 500px;
  }
}
.gui-settings-dropdown-span {
  margin: 0 16px;
  transition: all 0.2s;
}
.gui-settings-checkbox-container {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
  -webkit-tap-highlight-color: transparent;

  .gui-settings-checkbox {
    width: 28px;
    margin-right: 24px;
    height: 12px;
    background: #8884;
    border-radius: 16px;
    position: relative;
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: #c6c6c6;
      position: absolute;
      border-radius: 50%;
      top: -4px;
      left: -4px;
      box-shadow: 0px 2px 4px 0px #0003;
      transition: all 0.2s ease-out;
    }
  }
  .gui-settings-ok {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    transition: all 0.2s;
  }
  input {
    visibility: collapse;
    transition: all 0.2s;
    width: 0;
    position: absolute;

    &:checked ~ .gui-settings-checkbox {
      background: var(--theme-color-80);
    }
    &:checked ~ .gui-settings-checkbox::after {
      background: var(--theme-color) !important;
      box-shadow: 0px 2px 4px 0px var(--theme-color-40);
      left: calc(100% - 16px);
    }
    &:disabled ~ .gui-settings-checkbox {
      opacity: 0.5;
    }
    & ~ .gui-settings-ok {
      background-color: #8884;
    }
    &:checked ~ .gui-settings-ok {
      background-color: var(--theme-color);
    }
    & ~ .gui-settings-ok > i {
      opacity: 0;
      transform-origin: center;
      transform: scale(0.9);
    }
    &:checked ~ .gui-settings-ok > i {
      opacity: 1;
    }
    &:disabled ~ .gui-settings-ok,
    &:disabled ~ span {
      opacity: 0.5;
    }
  }
}

button.gui-settings-button {
  padding: 6px 20px;
  margin: 0 4px;
  max-height: 34px;
  border: none;
  background: #8884;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}
.custom-color-preview {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--theme-color);
  margin-right: 16px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px var(--theme-color-40);
}
.predefined-colors {
  transition: all 0.2s;
  display: flex;
  opacity: 0;
  background: white;
  width: 168px;
  height: 168px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px 0px;
  top: 32px;
  left: calc(-84px + 50%);
  transform: scale(0);
  transform-origin: top;
  z-index: 9;
  &.opened {
    opacity: 1;
    transform: scale(1);
  }
}
.predefined-colors-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0;
  flex-grow: 1;
}
.predefined-colors-grid-block {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.1s ease-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px 1px #0004;
  }
}
input[key]:focus {
  outline: none;
}
input[type="text"][key] {
  height: auto;
  border: none;
}
.gui-settings-label {
  margin: 0 16px;
  font-size: 16px;
}
.hidden {
  display: none !important;
}
@supports (backdrop-filter: blur(24px)) or (-webkit-backdrop-filter: blur(24px)) {
  .gui-settings-box.blur li.category {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background: transparent;
  }
  .gui-settings-box.blur,
  .gui-settings-box.blur .gui-settings-content,
  .gui-settings-box.blur .gui-settings-header,
  .gui-settings-box.blur .gui-settings-footer {
    background: #fff8;
  }
  .gui-settings-box.blur .gui-settings-content,
  .gui-settings-box.blur .gui-settings-header,
  .gui-settings-box.blur .gui-settings-footer {
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
  }
}
li.category i.icon-arrow {
  transition: all 0.2s ease-out;
}
li.category.folded i.icon-arrow {
  transform: rotate(180deg);
}
.gui-settings-dropdown-container {
  display: flex;
  align-items: center;
}
.gui-settings-dropdown {
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: #8884;
  display: inline-flex;
  align-items: center;
  height: 32px;
  & > i {
    transition: all 0.2s ease-out;
    transform-origin: center;
    transform: rotate(180deg);
  }
  & > ul {
    position: absolute;
    top: calc(100%);
    width: 100%;
    cursor: pointer;
    background: white;
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px 0px;
    z-index: 100;
  }
  ul li {
    margin: 0;
    padding: 8px 0;
    height: auto;
    width: 100%;
    justify-content: center;
    &:hover {
      background: rgba(0, 0, 0, 0.16);
    }
  }
  &.opened > ul {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  &.opened > i {
    transform: rotate(0deg);
  }
  input {
    cursor: pointer;
    border: none;
    height: 100%;
    max-width: 80px;
    padding: 4px 8px;
    transition: all 0.2s;
    font-size: 16px;
    background-color: transparent;
    &[key="defaultPlayerMode"] {
      max-width: 120px;
    }
    &[key="scriptLoadingMode"] {
      max-width: 170px;
    }
    &[key="defaultPlayerLayout"],
    &[key="defaultBangumiLayout"],
    &[key="defaultVideoSpeed"] {
      max-width: 50px;
    }
  }
}
.gui-settings-mask {
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  opacity: 0;
  background: #000a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0, 0.86, 0.58, 1);
  overscroll-behavior: contain;

  &.opened {
    opacity: 1;
    pointer-events: initial;
  }
  &.opened.transparent {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.86, 0.58, 1) 0.3s;
  }
}
.gui-settings-widgets-box,
.gui-settings-box {
  height: 100%;
  width: 420px;
  background: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0, 0.86, 0.58, 1);
  display: none;
  flex-direction: column;
  box-shadow: 4px 0px 16px 0px #0000;
  &.loaded {
    display: flex;
  }
  &.opened {
    transform: translateX(0);
    box-shadow: 4px 0px 16px 0px #0005;
  }
  kbd {
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #ccc;
    border-bottom-width: 3px;
    margin: 0 4px;
  }
  li i.downloading {
    margin-left: 8px;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 14px;
    background: var(--theme-color);
    color: var(--foreground-color);
    padding: 2px 8px;
  }
}
.gui-settings-widgets-box {
  min-width: 200px;
  width: auto;
  & > .title {
    margin: 32px;
    font-size: 16pt;
  }
  & > .widgets-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    overscroll-behavior: contain;
    overflow: auto;
    height: 100%;
  }
  & > .widgets-container .empty-tip {
    font-size: 10pt;
    display: none;
  }
  & > .widgets-container .empty-tip.show {
    display: block;
  }
  & > .gui-settings-header {
    justify-content: start;
  }
}

.gui-settings-flat-button,
.gui-settings-flat-button a,
.gui-settings-flat-button a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.gui-settings-flat-button {
  width: auto;
  padding: 8px 16px;
  background: #8882;
  border: none;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 10pt;
  flex: 0 0 auto;
  margin: 4px;
  border-radius: 20px;
  box-shadow: #0004 0 2px 4px;
  height: 40px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover:not(:disabled) {
    background: #8884;
  }
  &:active:not(:disabled) {
    border-bottom-color: var(--theme-color);
  }
  &:focus {
    outline: none;
  }
  i {
    margin-right: 8px;
    line-height: 24px;
    height: 24px;
  }

  .popup {
    position: absolute;
    top: calc(100% + 2px);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transform-origin: top;
    transform: scaleY(0) translateX(-50%);
    left: 50%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px 0px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    * {
      transition: all 0.2s;
    }
    &.opened {
      transform: scaleY(1) translateX(-50%);
      transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.gui-settings-header > i {
  margin-right: 8px;
}

/* Fix bangumi and live player z-index */
.player-mode-webfullscreen .player-module,
.player-full-win .app-content,
.player-full-win .live-room-app .app-content {
  z-index: 100000 !important;
}

body.round-corner {
  --corner-radius: 4px;
  --large-corner-radius: 8px;
  .gui-settings-dropdown,
  .gui-settings-textbox-container input,
  .gui-settings-dropdown ul li,
  .gui-settings-dropdown > ul,
  .gui-settings-flat-button .popup,
  .gui-settings-box li i.downloading {
    border-radius: var(--corner-radius);
  }
}
@import "_gui-settings-dock";
