#banner_link,
.z-top-container.has-banner>.header,
.custom-navbar .blur-layer
{
    display: none !important;
}
div.blur-bg,
.b-header-mask-wrp .b-header-mask-bg
{
    opacity: 0 !important;
}
.international-home .bili-banner
{
    visibility: hidden !important;
    height: 50px !important;
    min-height: unset !important;
}
