@import "../../style/common";

.video-take-screenshot {
  position: relative;
  padding: 0 6px;
  margin-left: 6px;
  height: 100%;
  cursor: pointer;
  display: none !important;
  .bilibili-player-video-control-bottom & {
    display: flex !important;
  }
  &.touch {
    padding: 0 6px;
    margin-left: 12px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: max-content;
      width: 100%;
      height: 100%;
    }
  }
  i {
    font-size: 20px;
    color: white;
    transform: scale(1);
    opacity: 0.9;
    transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: block;
    .bilibili-player.mode-fullscreen &,
    .bilibili-player.mode-webfullscreen & {
      font-size: 24px;
    }
  }
  .player-tooltips.active {
    transition-duration: .15s;
    transition-delay: .15s;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 4px));
    opacity: 0;
  }
  &:hover .player-tooltips {
    opacity: 1;
    transform: translateX(-50%) translateY(calc(-100% - 19px));
  }
  &.touch:hover .player-tooltips {
    transform: translateX(-50%) translateY(calc(-100% - 12px));
  }
  &:hover i {
    transform: scale(1.05);
    opacity: 1;
  }
  &:active i {
    transform: scale(0.95);
    opacity: 1;
  }
}
.video-screenshot-container {
  position: relative;
  --screenshot-width: 240px;
  --screenshot-width-negative: calc(0px - var(--screenshot-width));
  --screenshot-height: 135px;
  --thumbnail-margin-vertical: 12px;
  --thumbnail-margin-horizontal: 12px;
  --screenshot-list-width: calc(2 * var(--thumbnail-margin-horizontal) + var(--screenshot-width));

  &,
  & * {
    transition: all 0.2s ease-out;
  }
}
.video-screenshot-batch {
  position: fixed;
  bottom: var(--thumbnail-margin-vertical);
  right: 0;
  z-index: 20000;
  display: flex;
  width: var(--screenshot-list-width);
  align-items: center;
  justify-content: space-evenly;
  button {
    background: #000c;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 11pt;
    cursor: pointer;
    outline: 0 !important;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: 16px;
    }
    i {
      font-size: 14pt;
      margin-right: 4px;
    }
  }
}
.video-screenshot-list {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  margin: var(--thumbnail-margin-vertical) 0;
  max-height: calc(100% - 2 * var(--thumbnail-margin-vertical) - 58px);
  width: var(--screenshot-list-width);
  background-color: #000c;
  border-radius: 8px;
  overflow: auto;
  @include no-scrollbar();

  * {
    pointer-events: initial;
  }
  &-enter {
    opacity: 0;
    transform: translateX(var(--screenshot-width-negative));
  }
  &-leave-to {
    opacity: 0;
    transform: translateX(var(--screenshot-width));
  }
}

@keyframes spinner {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.video-screenshot-thumbnail {
  margin: var(--thumbnail-margin-vertical) var(--thumbnail-margin-horizontal);
  position: relative;
  transition: 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: var(--screenshot-width);
  height: var(--screenshot-height);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: var(--screenshot-width);
    max-height: var(--screenshot-height);
    display: block;
    background-color: black;
  }
  .loading::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #8888;
    border-top-color: var(--theme-color);
    animation: spinner 0.6s linear infinite;
  }
  &.video-screenshot-list-leave-active {
    position: absolute;
    transition: 0.35s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  }
  .mask {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: none;
    pointer-events: none;
    .time {
      color: #fff;
      position: absolute;
      bottom: 4px;
      left: 8px;
      font-size: 10pt;
    }
    button {
      background: #000a;
      color: #fff;
      border: none;
      border-radius: 50%;
      font-size: 24pt;
      cursor: pointer;
      width: 48px;
      height: 48px;
      pointer-events: initial;
      outline: none !important;
    }
  }
  &:hover .mask {
    opacity: 1;
  }
}
