@mixin hover-state {
  &.touch-video-control-show {
    .bilibili-player-video-control {
      &-bottom,
      &-mask {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
    .bilibili-player-video-control-top {
      opacity: 1 !important;
      bottom: 32px !important;
    }
  }
}
