<div class="bilibili-evolved-about">
  <div class="about-header">
    <i class="mdi mdi-information-outline mdi-24px"></i>
    <span class="about-title">关于</span>
  </div>
  <div class="about-content">
    <p v-if="branch" class="name light" v-html="logoImage"></p>
    <p v-if="branch" class="name dark" v-html="logoImageDark"></p>
    <p class="version">v{{version}} · {{clientType}}</p>
    <p class="love">
      <a target="_blank" href="https://github.com/the1812/Bilibili-Evolved/">Made with ❤　　</a>
      <a target="_blank" href="https://github.com/the1812/Bilibili-Evolved/blob/master/donate.md">
        Buy me a coffee ☕</a></p>
    <section class="authors">
      <span class="title">Authors</span>
      <a class="author" target="_blank" v-for="author of authors" v-bind:href="author.link">{{author.name}}</a>
    </section>
    <section class="contributors">
      <span class="title">Contributors</span>
      <a class="contributor" target="_blank" v-for="contributor of contributors"
        v-bind:href="contributor.link">{{contributor.name}}</a>
    </section>
    <section class="participants">
      <span class="title">Participants</span>
      <span class="fetching" v-if="fetching"></span>
      <a class="participant" target="_blank" v-for="participant of participants"
        v-bind:href="participant.link">{{participant.name}}</a>
    </section>
    <section class="supporters">
      <span class="title">Supporters</span>
      <span class="supporter" v-for="supporter of supporters">{{supporter}}</span>
    </section>
    <section class="websites">
      <span class="title">Websites</span>
      <a class="website" target="_blank" v-for="website of websites" v-bind:href="website.link">{{website.name}}</a>
    </section>
    <section class="components">
      <span class="title">Components</span>
      <a class="component" target="_blank" v-for="component of components"
        v-bind:href="component.link">{{component.name}}</a>
    </section>
  </div>
</div>