.bb-comment .translate-container,
.card-content .translate-container {
  margin-top: 10px;
  .translated {
    font-size: 12px;
    color: #aaa;
    a {
      color: var(--theme-color);
    }
  }
  .translate {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    &:hover {
      color: var(--theme-color);
    }
    .mdi {
      font-size: 14px;
      margin-right: 2px;
    }
  }
  .translating {
    font-size: 18px;
  }
  .translate-result {
    padding-top: 10px;
    padding-right: 10px;
    white-space: pre-wrap;
    line-height: 22px;
    word-break: break-all;
    overflow-wrap: break-word;
    body.dark & {
      color: #eee;
    }
  }
}
.bb-comment .translate-container {
  margin-top: 6px;
  font-weight: normal;
  font-size: 14px;
}
