@mixin width-auto() {
  width: auto !important;
}
.textarea-container .comm-tool {
  .comm-emoji,
  .comm-submit {
    @include width-auto();
  }
}
.author-info {
  .favourite-btn,
  .communicate-btn {
    @include width-auto();
  }
}
.article-action .ops {
  .coin-btn,
  .fav-btn,
  .like-btn {
    @include width-auto();
  }
}
.user-list .up-item .attention-btn.followed {
  @include width-auto();

  &:hover {
    @include width-auto();
  }
}

.bilibili-player-video-sendbar {
  .bilibili-player-video-hint,
  .bilibili-player-video-danmaku-switch .choose_danmaku {
    @include width-auto();
  }
}
.live-sidebar-ctnr .sidebar-btn,
.up-info .up-focus-btn,
.attention-btn-ctnr .left-part,
.admin-list-cntr .rank-cntr .item .admin-icon,
.h .h-f-btn,
.n .n-data,
.bili-search .nav-wrap .wrap > .sub,
.dashboard li.like,
.history-wrap .history-btn,
.media-info .media-right .media-tool-bar .btn-follow,
.security-right .mp-mine-takedown,
.info-line .status-no-attend,
.bb-comment .comment-list .list-item .info .operation .opera-list,
.player-auxiliary-area .player-auxiliary-setting-menu-wrap,
.bangumi-info .info-right .info-title .func-module .bangumi-btn .btn-follow,
.invite-code .copy-btn,
.bili-share-pc .title,
.video-toolbar-module .btn-item .t,
.exchange-btn .more,
.rank-header .more,
.v-wrap .video-toolbar .ops > span {
  @include width-auto();
}
.bb-comment .comment-send .comment-emoji,
#app-ctnr .demo-app .category,
.fjw-point .point-wrap .user-point .face .unfocus-btn,
.live-room-app .draw-fold-cntr .draw,
.media-info-card .mic-expand {
  width: max-content !important;
}
.tag-panel .more-button,
.live-panel .more-button {
  width: 44px !important;
}
.link-navbar .main-ctnr .nav-logo {
  width: 70px !important;
}
.share-board .share-btn .bili-share {
  width: 90px !important;
}
.share-board .song-share .song-share-ul li {
  width: 120px !important;
}
.bili-header-m .profile-m .grade .bar {
  width: 160px !important;
}
.link-navbar .main-ctnr {
  width: 100% !important;
  max-width: 1500px !important;
}
.bili-search .video.list {
  width: calc(100% - 172px) !important;
}
.bili-search .video.list .des {
  width: 100% !important;
}
.gui-settings-box {
  width: 450px !important;
}
.h .h-f-btn {
  min-width: 76px !important;
}
.v-wrap .video-toolbar .ops > span {
  min-width: 92px !important;
}
.primary-menu .nav-menu .nav-name,
.primary-menu .nav-menu .side-nav .side-link span {
  white-space: pre !important;
}
.player-auxiliary-area .player-auxiliary-setting-menu-list,
#area-list ul li dl {
  white-space: nowrap !important;
}

.up-info .up-focus-btn,
.textarea-container .comm-tool .comm-emoji,
.textarea-container .comm-tool .comm-submit,
.attention-btn-ctnr .left-part,
.admin-list-cntr .rank-cntr .item .admin-icon,
.h .h-f-btn,
.bb-comment .comment-send .comment-emoji,
.media-info .media-right .media-tool-bar .btn-follow,
.article-action .ops .coin-btn,
.article-action .ops .fav-btn,
.article-action .ops .like-btn,
.player-auxiliary-area .player-auxiliary-setting-menu-list,
.bilibili-player-video-sendbar .bilibili-player-video-danmaku-switch .choose_danmaku {
  padding: 0 8px !important;
}
.n .n-data {
  padding: 10px 8px !important;
}
.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn:nth-child(2n) {
  padding-left: 8px !important;
}
.dashboard li.share .text {
  padding-top: 15px !important;
}
.cc-nav-wrp .nav-item {
  padding: 0 0 0 40px !important;
}
.cc-nav-wrp .sub-nav a {
  padding: 0 !important;
}
.player-auxiliary-area .player-auxiliary-filter-menu {
  margin: 0 !important;
  position: relative !important;
  left: 0 !important;
}
.dashboard li.collection {
  margin: 0 10px 0 0px !important;
}
.bili-search #navigator {
  overflow: visible !important;
}
.search-wrap .search-block .search-button {
  letter-spacing: 0 !important;
}
.follow-btn > span > span {
  margin-left: 8px;
}

.dynamic-m .dyn_menu .line,
.tab-bar .line,
.nav-wrap .hover-bar {
  display: none !important;
}
@each $mode in "fullscreen", "webfullscreen" {
  .mode-#{$mode} {
    .bilibili-player-video-sendbar .bilibili-player-video-hint {
      display: none !important;
    }
    .bilibili-player-video-control .bilibili-player-video-btn-name {
      font-size: 14px !important;
    }
  }
}

.bilibili-player-video-info {
  line-height: normal !important;
}
.tab-bar .tab .tab-text.selected {
  color: var(--theme-color) !important;
  border-bottom: solid 2px var(--theme-color) !important;
  box-sizing: border-box !important;
}
.live-panel .more-button {
  transform: translateX(-9px) !important;
}
.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-spans > div {
  align-items: center !important;
}
.dashboard li.collection > div:first-child {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
.dashboard li.share {
  display: inline-flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn {
  float: none !important;
}
#area-list ul li dd,
.highlight-areas-ctnr .highlight-area-item .area-name {
  font-size: 18px !important;
}
.author-info {
  .communicate-btn,
  .communicate-btn:active,
  .favourite-btn,
  .favourite-btn:active {
    font-size: 12px !important;
  }
}
.bilibili-player .bilibili-player-video-control .bilibili-player-video-btn-name {
  font-size: 12px !important;
}
.dashboard li.like {
  border-color: transparent !important;
}
.gui-settings-tooltip {
  left: 470px !important;
}
.gui-settings-dock-right .gui-settings-tooltip {
  left: unset !important;
  right: 470px !important;
}
.bb-comment .comment-send .comment-submit,
.comment-bilibili-fold .comment-send .comment-submit {
  overflow-wrap: break-word;
}
.info-section .area-text > a {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
html[lang="ja-JP"] {
  .player-auxiliary-area .danmaku-info-row-block::after {
    content: "ブロック" !important;
  }
  .minimal-home .video-list .cards.show-rank .video-card {
    &:nth-child(17)::before {
      content: "一週間";
    }
  }
}
html[lang="en-US"] {
  .player-auxiliary-area .danmaku-info-row {
    &-block::after {
      content: "Blocked" !important;
    }
    &-super::after {
      content: "Special" !important;
    }
    &-special::after {
      content: "Code" !important;
    }
  }
  .minimal-home .video-list .cards.show-rank .video-card {
    &:nth-child(1)::before {
      content: "Today";
    }
    &:nth-child(9)::before {
      content: "3 days";
    }
    &:nth-child(17)::before {
      content: "Weekly";
    }
  }
}
.season-list li.season-item .season-body .season-title span.follow {
  background-image: none;
  filter: none !important;
  width: 24px;
  &::after {
    content: "\F8CF";

    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--theme-color);
    color: var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: absolute;
    padding: 0 4px;
  }
}

@media screen and (max-width: 1400px) {
  .link-navbar .nav-item:not(:first-child) .label {
    padding: 0 12px !important;
  }
}
